<div class="search-handler mb-1">
    <!-- <input class="form-control" id="myInput" type="text" placeholder="Search.." onkeyup="javascript:devSearch(this)"> -->
    <div class="input-group ">
        <div class="input-group-prepend">
            <span class="input-group-text inp-icon" id="basic-addon1" ><i class="fa fa-search p-1"></i></span>
        </div>
        <!-- <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"> -->
        <input class="form-control shadow-none" id="myInput" type="text" placeholder="Search.." onkeyup="javascript:devSearch(this)">
    </div>
</div>
<div class="search-list">

    <!-- <% 
        let provname = {};
        let cityname = {};
        let mesin = {};
        let lokasi = "";
        
        for( let index = 0; index < rectifierList.length; index++ ) { 

            lokasi = rectifierList[index].kecamatan_name;
            if(typeof provname[rectifierList[index].provinsi_id] === 'undefined' )
            {
                provname[rectifierList[index].provinsi_id] = rectifierList[index].provinsi_name+"~"+rectifierList[index].kota_id;
                cityname[rectifierList[index].kota_id] = rectifierList[index].kota_name+"~"+rectifierList[index].rectifier_id;
                mesin[rectifierList[index].rectifier_id] = rectifierList[index].rectifier_name+"#"+lokasi+"#"+rectifierList[index].lat+"#"+rectifierList[index].long+"#"+rectifierList[index].status;
            }
            else
            {
                if(typeof cityname[rectifierList[index].kota_id] === 'undefined' )
                { 
                    provname[rectifierList[index].provinsi_id] = provname[rectifierList[index].provinsi_id]+"#"+rectifierList[index].kota_id;
                    cityname[rectifierList[index].kota_id] = rectifierList[index].kota_name+"~"+rectifierList[index].rectifier_id; 
                }
                else
                { cityname[rectifierList[index].kota_id] = cityname[rectifierList[index].kota_id]+"#"+rectifierList[index].rectifier_id; }
                mesin[rectifierList[index].rectifier_id] = rectifierList[index].rectifier_name+"#"+lokasi+"#"+rectifierList[index].lat+"#"+rectifierList[index].long+"#"+rectifierList[index].status;
            }

        }
        
        let pname;
        let cname;
        let kname;
        let name;
        let det;
        let lat;
        let long;
        let detMesin;
       
    %>

        <div class="list-group list-group-root">
    <%
        
        for(const [key, val] of Object.entries(provname))
        {
            pname = val.split("~")[0];
            det = val.split("~")[1].split("#");
    %>
            <a href="#" class="list-group-item" data-id="<%=key%>" data-type="prov"><%=pname%></a>
            <div class="list-group prov-<%=key%>">
    <%
            for(let k=0; k < det.length; k++)
            {
                cname = cityname[det[k]].split("~")[0];
                detMesin = cityname[det[k]].split("~")[1].split("#");
    %>
                <a href="#" class="list-group-item" data-id="<%=det[k]%>" data-type="city"><%=cname%></a>
                <div  class="list-group city-<%=det[k]%>">
    <%
                for(let l=0; l < detMesin.length; l++)
                {
                    name = mesin[detMesin[l]].split("#")[0];
                    kname = mesin[detMesin[l]].split("#")[1];
                    lat = mesin[detMesin[l]].split("#")[2];
                    long = mesin[detMesin[l]].split("#")[3];
                    
                    if(mesin[detMesin[l]].split("#")[4].toLowerCase() == "disconnect"){
    %>
                        <a href="#" class="list-group-item" style="color: gray;" data-id="<%=detMesin[l]%>" onclick="window.location.href = '/monrecti/location/<%=detMesin[l]%>';" ><i class="fa fa-car-battery " style="margin-right: 0.375em; color: gray;"></i> <%=name%></a>
    <%
                    }else if(mesin[detMesin[l]].split("#")[4].toLowerCase() == "alarm"){
    %>
                        <a href="#" class="list-group-item" style="color: rgb(245, 45, 45);" data-id="<%=detMesin[l]%>" onclick="window.location.href = '/monrecti/location/<%=detMesin[l]%>';" ><i class="fa fa-car-battery " style="margin-right: 0.375em; color: rgb(245, 45, 45);"></i> <%=name%></a>
    <%
                    }else{
    %>
                        <a href="#" class="list-group-item" style="color:greenyellow;" data-id="<%=detMesin[l]%>" onclick="window.location.href = '/monrecti/location/<%=detMesin[l]%>';" ><i class="fa fa-car-battery " style="margin-right: 0.375em; color: greenyellow;"></i> <%=name%></a>
    <%
                }
            }
    %>
                </div>
    <%
            }
    %>

            </div>
    <%
        };
        
    %>
    </div> -->
            
</div>

<script>


    function devSearch(obj)
    {
        var value = $(obj).val().toLowerCase();
        $(".list-group-root").find("a").each(function(e)
        {
            if($(this).html().toLowerCase().includes(value))
            {
                if($(this).attr("data-type") == "prov")
                { $(".prov-"+$(this).attr("data-id")).addClass("shown"); }
                else if($(this).attr("data-type") == "city")
                { 
                    $(this).closest("div").prev("a").show();
                    $(".city-"+$(this).attr("data-id")).addClass("shown"); 
                }
                else
                {
                    $(this).closest("div").prev("a").show();
                    $(this).closest("div").parent().prev("a").show();
                }
                
                $(this).show();
            }
            else
            {
                $(this).next("div").removeClass("shown");
                if(!$(this).closest(".shown").length > 0 )
                { 
                    $(this).hide(); 
                }
                else
                { $(this).show(); }
                
            }
        })
        
        // $("#myList li").filter(function() {
        //     $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        // });
    }
    $(document).ready(function(){
        // get list rectifier
        getRectifierList();
    });

    function getRectifierList(){

        let provname = {};
        let cityname = {};
        let mesin = {};
        let lokasi = "";

        let pname;
        let cname;
        let kname;
        let name;
        let det;
        let lat;
        let long;
        let detMesin;

        let htm = "";

        $.ajax({
            url: '<%=appname%>/rectifierList',
            type: 'get',
            success: (res) => {
                
                if (res.length > 0) {
                    
                    for(let i=0; i<res.length; i++)
                    {
                        //setPin(res[i].lat,res[i].long, res[i].rectifier_id, res[i].rectifier_name, res[i].status, res[i].provinsi_name+' - '+res[i].kota_name+' - '+res[i].kecamatan_name, map);

                        lokasi = res[i].kecamatan_name;
                        if(typeof provname[res[i].provinsi_id] === 'undefined' )
                        {
                            provname[res[i].provinsi_id] = res[i].provinsi_name+"~"+res[i].kota_id;
                            cityname[res[i].kota_id] = res[i].kota_name+"~"+res[i].rectifier_id;
                            mesin[res[i].rectifier_id] = res[i].rectifier_name+"#"+lokasi+"#"+res[i].lat+"#"+res[i].long+"#"+res[i].status;
                        }
                        else
                        {
                            if(typeof cityname[res[i].kota_id] === 'undefined' )
                            { 
                                provname[res[i].provinsi_id] = provname[res[i].provinsi_id]+"#"+res[i].kota_id;
                                cityname[res[i].kota_id] = res[i].kota_name+"~"+res[i].rectifier_id; 
                            }
                            else
                            { cityname[res[i].kota_id] = cityname[res[i].kota_id]+"#"+res[i].rectifier_id; }
                            mesin[res[i].rectifier_id] = res[i].rectifier_name+"#"+lokasi+"#"+res[i].lat+"#"+res[i].long+"#"+res[i].status;
                        }
                    }
                   
                    // Start building html
                    htm += '<div class="list-group list-group-root">';
                    
                    for(const [key, val] of Object.entries(provname))
                    {
                        pname = val.split("~")[0];
                        det = val.split("~")[1].split("#");
                        htm += '<a href="#" class="list-group-item" data-id="'+key+'" data-type="prov">\
                            '+pname+'</a>\
                            <div class="list-group prov-'+key+'">';

                        for(let k=0; k < det.length; k++)
                        {
                            cname = cityname[det[k]].split("~")[0];
                            detMesin = cityname[det[k]].split("~")[1].split("#");
                            htm += '<a href="#" class="list-group-item" data-id="'+det[k]+'" data-type="city">\
                                '+cname+'</a>\
                                <div  class="list-group city-'+det[k]+'">';
                            
                            for(let l=0; l < detMesin.length; l++)
                            {
                                name = mesin[detMesin[l]].split("#")[0];
                                kname = mesin[detMesin[l]].split("#")[1];
                                lat = mesin[detMesin[l]].split("#")[2];
                                long = mesin[detMesin[l]].split("#")[3];
                                
                                if(mesin[detMesin[l]].split("#")[4].toLowerCase() == "disconnect"){
                                    htm += '<a href="#" class="list-group-item" style="color: gray;" data-id="'+detMesin[l]+'" onclick="window.location.href = \'/monrecti/location/'+detMesin[l]+'\';" ><i class="fa fa-car-battery " style="margin-right: 0.375em; color: gray;"></i> '+name+'</a>';
                                } else if(mesin[detMesin[l]].split("#")[4].toLowerCase() == "alarm"){
                                    htm += '<a href="#" class="list-group-item" style="color: rgb(245, 45, 45);" data-id="'+detMesin[l]+'" onclick="window.location.href = \'/monrecti/location/'+detMesin[l]+'\';" ><i class="fa fa-car-battery " style="margin-right: 0.375em; color: rgb(245, 45, 45);"></i> '+name+'</a>';
                                } else {
                                    htm += '<a href="#" class="list-group-item" style="color:greenyellow;" data-id="'+detMesin[l]+'" onclick="window.location.href = \'/monrecti/location/'+detMesin[l]+'\';" ><i class="fa fa-car-battery " style="margin-right: 0.375em; color: greenyellow;"></i> '+name+'</a>';
                                }
                            }
                            htm += '</div>';
                        }
                        htm += '</div>';
                    }
                    htm += '</div>';
                    
                    $(".search-list").html(htm);
                }
                
                // if (res.length > 0) {
                //     //Update UI
                //     thmin = res[0].current_load_min;
                //     $(".th-min").html(res[0].current_load_min);
                //     thmax = res[0].current_load_max;
                //     $(".th-max").html(res[0].current_load_max);
                // }

            }
        });
    }
 
</script>