
<script src="/js/jqueryui.js"></script>
<script src="/js/jquery.html2canvas.min.js"></script>
<!-- <script src="js/jquery.mousewheel.min.js"></script>        no longer use -->   
<!-- <script src="js/jquery.iviewer.min.js"></script>           no longer use -->
<script type="text/javascript" src="/vendor/datatables/datatables.min.js"></script>
<script src="/js/main.js"></script>
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script src="/js/amcharts.js"></script>


<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>


