<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Monitoring Rectifier</title>

  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/vendor/fontawesome/css/solid.min.css">
  <link rel="stylesheet" href="/vendor/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" type="text/css" href="/vendor/datatables/datatables.min.css" />

  <script src="/js/jquery.min.js"></script>



  <!-- <script src="/ejs.min.js"></script> -->

  <script>
    function updateRectiList() {
      // console.log("<==== UPDATE RECTI-LIST ====>");
      $.ajax({
        url: '<%=appname%>/rectifierList',
        type: 'get',
        success: (res) => {
          // console.log("-- success --")
         }
      });
    }

    setInterval(updateRectiList, (20 * 1000));
  </script>


</head>