<script type='text/javascript'
    src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=Av-n2kHUF9cJrm5yXImVswuOxWkR-59GMrHmL2Mf5mx0t41OfhVmN7yAQN8RIF4M'
    async defer></script>

<!-- [PERHATIAN] -->
<!-- gunakan id="input_map" untuk menampilkan maps -->
<!-- gunakan class="inputLat" untuk meletakkan hasil Latitude -->
<!-- gunakan class="inputLong" untuk meletakkan hasil Longitude -->
<script>

    function getMap() {
        var map = new Microsoft.Maps.Map('#input_map', {
            showMapTypeSelector: false,
            enableClickableLogo: false,
            // center: new Microsoft.Maps.Location(lat, long)
        });

        map.setView({
            // center: new Microsoft.Maps.Location(lat, long),
            mapTypeId: Microsoft.Maps.MapTypeId.canvasDark,
            zoom: 10
        });

        var pushpin = new Microsoft.Maps.Pushpin(map.getCenter(), {
            color: '#f00',
            draggable: true
        });

        map.entities.push(pushpin);
        // Microsoft.Maps.loadModule('Microsoft.Maps.AutoSuggest', function () {
        //     var options = {
        //         maxResults: 4,
        //         map: map
        //     };
        //     var manager = new Microsoft.Maps.AutosuggestManager(options);
        //     manager.attachAutosuggest('#searchBox', '#searchBoxContainer', selectedSuggestion);
        // });
        Microsoft.Maps.Events.addHandler(
            pushpin,
            'dragend',
            function (args) {
                //  alert(pushpin.getLocation().latitude)
                // $('#lat').text(pushpin.getLocation().latitude)
                // $('#long').text(pushpin.getLocation().longitude)  
                // $('#lat',window.parent.document).text(pushpin.getLocation().latitude)
                // $('#long',window.parent.document).text(pushpin.getLocation().longitude)
                $(".inputLat").val(pushpin.getLocation().latitude);
                $(".inputLong").val(pushpin.getLocation().longitude);
            }
        );

        //Microsoft.Maps.Events.addHandler(map, 'click', function (map) { set_latitudes_and_longitude(map); });

        //function set_latitudes_and_longitude(map) {
            //$(".inputLat").val(map.location.latitude);
            //$(".inputLong").val(map.location.longitude);

            // map.setView({
            //     center: new Microsoft.Maps.Location(map.location.latitude, map.location.longitude),
            // });

            // var pin = new Microsoft.Maps.Pushpin(map.getCenter(), {icon: '/img/trf_grey.png',});

            // map.entities.push(pin);
        //}

    };

</script>