<script type='text/javascript'
    src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=Av-n2kHUF9cJrm5yXImVswuOxWkR-59GMrHmL2Mf5mx0t41OfhVmN7yAQN8RIF4M'
    async defer></script>

<script>
    let infobox;
    let map;
    let intval;

    // if ("<%= data.latitude %>" != "" ||  "<%= data.longitude %>" != "") {
    //     let lat = "<%= data.latitude %>";
    //     let long = "<%= data.longitude %>";
    // } else {
    let lat = "<%= loc[0] %>";
    let long = "<%= loc[1] %>";
    // }

    function getMap() {
        map = new Microsoft.Maps.Map('#dashboard_map', {
            showMapTypeSelector: false,
            enableClickableLogo: false,
            center: new Microsoft.Maps.Location(lat, long)
        });

        infobox = new Microsoft.Maps.Infobox(map.getCenter(), {
            visible: false
        });

        intval = setInterval(function(){

            map.entities.clear();

            $.ajax({
                    url: '<%=appname%>/rectifierList',
                    type: 'get',
                    success: (res) => {
                        if (res.length > 0) {
                            for(let i=0; i<res.length; i++)
                            {
                                setPin(res[i].lat,res[i].long, res[i].rectifier_id, res[i].rectifier_name, res[i].status, res[i].provinsi_name+' - '+res[i].kota_name+' - '+res[i].kecamatan_name, map);
                            }
                        }
                        
                        // if (res.length > 0) {
                        //     //Update UI
                        //     thmin = res[0].current_load_min;
                        //     $(".th-min").html(res[0].current_load_min);
                        //     thmax = res[0].current_load_max;
                        //     $(".th-max").html(res[0].current_load_max);
                        // }

                    }
                });

            // <% rectifierList.forEach((rectifier) => { %>
            //setPin(<%=rectifier.lat %>,<%=rectifier.long %>, '<%=rectifier.rectifier_id%>', '<%=rectifier.rectifier_name%>', '<%=rectifier.status%>', '<%=rectifier.provinsi_name%> - <%=rectifier.kota_name%> - <%=rectifier.kecamatan_name%>', map)
            //<% }) %>

        },(10 * 1000));


        map.setView({
            center: new Microsoft.Maps.Location(lat, long),
            mapTypeId: Microsoft.Maps.MapTypeId.canvasDark,
            zoom: 10
        });

        infobox.setMap(map);
    };

    function setPin(lat, long, idMesin, nameMesin, status, lokasi, map) {
        // const map = new Microsoft.Maps.Map('#dashboard_map',{});

        map.setView({
            center: new Microsoft.Maps.Location(lat, long),
        });

        //console.log(map.getCenter())
        var pin;
        if (status == "disconnect") {
            pin = new Microsoft.Maps.Pushpin(
                map.getCenter(), {
                icon: '/img/trf_grey.png',
            });
        }else if (status == "connect") {
            pin = new Microsoft.Maps.Pushpin(
                map.getCenter(), {
                icon: '/img/trf_green.png',
            });
        }else{
            pin = new Microsoft.Maps.Pushpin(
                map.getCenter(), {
                icon: '/img/trf_red.png',
            });
        }

        pin.metadata = {
            id: idMesin,
            nama: nameMesin,
            lokasi: lokasi
        };

        Microsoft.Maps.Events.addHandler(pin, 'click', function (e) {
            startInfoBox(e);
        });

        map.entities.push(pin);
    }

    function startInfoBox(e) {

        stopInfoBox();
        infobox.setOptions({
            location: e.target.getLocation(),
            visible: true,
            showCloseButton: false,
            htmlContent: '<img style="width:30px; height:30px;" src="/img/loader.gif"></img>'
        });

        let idRecti = e.target.metadata.id;
        infobox.setOptions({
            location: e.target.getLocation(),
            visible: true,
            showCloseButton: false,
            htmlContent: '\
            <div class="row clearfix infobox">\
                    <div class="title-menu">\
                            <span class="modal-title ">Rectifier Information</span>\
                            <button type="button" class="close btn-modal" onClick="$(\'.infobox\').addClass(\'d-none\'); stopInfoBox()" style="float:right;">\
                                <i class="fa fa-close"></i>\
                            </button>\
                        </div>\
                        <div class="dataDetail">\
                            <table cellspacing="5px">\
                                <tr style="width: 100px;"><td >Name</td><td style="width: 10px;">:</td><td class="pl-1">'+ e.target.metadata.nama + '</td>\
                                <tr ><td>Location</td><td>:</td><td>'+ e.target.metadata.lokasi + '</td>\
                            </table>\
                        </div>\
                    <span class=""></span>\
                    <div class="col-lg-12 col-md-12 mb-3">\
                        <button class="btn-custom btn-custom-white btn-anim-blue mt-1" onclick="$(\'.infobox\').addClass(\'d-none\'); window.location.href = \'<%=appname%>/location/'+ idRecti + '\';" style="width: 100%;"><i class="fa fa-car-battery"></i> See Details</button>\
                    </div>\
            </div>'
        });
    }

    function startInfoBoxKW(e) {

        map.setView({
            center: new Microsoft.Maps.Location(e.getLocation().latitude, e.getLocation().longitude),
            mapTypeId: Microsoft.Maps.MapTypeId.canvasDark,
            zoom: 10
        });
        //console.log("=======1==="+listPin);
        //$(listPin[e.id]).trigger("click");

        stopInfoBox();
        // infobox.setOptions({
        //     location: e.getLocation(),
        //     visible: true,
        //     showCloseButton:false,
        //     htmlContent:'<img style="width:30px; height:30px;" src="/img/loader.gif"></img>'
        // });

        // let idRecti = e.id;
        // infobox.setOptions({
        //     location: e.getLocation(),
        //     visible: true,
        //     showCloseButton:false,
        //     htmlContent:'\
        //     <div class="row clearfix infobox">\
        //             <div class="title-menu">\
        //                     <span class="modal-title ">Rectifier Information</span>\
        //                     <button type="button" class="close btn-modal" onClick="$(\'.infobox\').addClass(\'d-none\'); stopInfoBox()" style="float:right;">\
        //                         <i class="fa fa-close"></i>\
        //                     </button>\
        //                 </div>\
        //                 <div class="dataDetail">\
        //                     <table>\
        //                         <tr style="width: 100px;"><td >Name</td><td style="width: 10px;">:</td><td class="pl-1">'+e.nama+'</td>\
        //                         <tr ><td>Location</td><td>:</td><td>'+e.lokasi+'</td>\
        //                     </table>\
        //                 </div>\
        //             <span class=""></span>\
        //             <div class="col-lg-12 col-md-12 mb-3">\
        //                 <button class="btn-custom btn-custom-white btn-anim-blue mt-1" onclick="$(\'.infobox\').addClass(\'d-none\'); window.location.href = \'<%=appname%>/location/'+idRecti+'\';" style="width: 100%;"><i class="fa fa-car-battery"></i> See Details</button>\
        //             </div>\
        //     </div>'
        // });
    }

    function stopInfoBox() {
        infobox.setOptions({
            visible: false
        });
    }

</script>