<div class="bg-second rounded">
    <div>
        <label class="title-menu"> Menu Master </label>
    </div>
    <ul class="nav flex-column nav-menu">
        <li class="nav-item">
          <a class="nav-link text-primary active" href="<%= appname %>/users"> <i class="fa fa-user"></i> Master User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" href="<%= appname %>/device"> <i class="fa fa-car-battery"></i> Master Device</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" href="<%= appname %>/battery"> <i class="fa fa-battery"></i> Master Battery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" href="<%= appname %>/wilayah"> <i class="fa fa-map-location-dot"></i> Master Wilayah</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
    </ul>
</div>
