<div class="modal fade" id="modal-recti" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header title-menu">
        <h5 class="modal-title " id="mod-title">...</h5>
        <button type="button" class="close btn-modal" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger alrt-msg" role="alert" style="display: none;">
          This is a danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
        </div>
        
        <div class="modif-rectiname " style="display: none;">
          <div class="row mb-2">
              <div class="form-group col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                  
                  <label class="pass-crt" for="txtname1"> Rectifier Name</label>
                  
                  <input type="text" value="" name="txtname1" id="txtname1" class="form-control input-sm  inp-border-second" placeholder="Password">
                </div>               
              </div>
            </div>

            <div class="row mb-2">
              <div class="form-group col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                  
                  <label class="pass-crt" for="txtname2"> Description</label>
                  
                  <input type="text" value="" name="txtname2" id="txtname2" class="form-control input-sm  inp-border-second" placeholder="Password">
                </div>               
              </div>
            </div>
        </div>

        <div class="modif-roomsett" style="display: none;">
          <div class="row mb-2">
            <label class="color-skyblue mb-2"> Temperature</label> 
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <label for="room-treshmin">Treshold min</label>
                <input type="number" value="" name="room-treshmin" id="room-treshmin" class="form-control input-sm inp-border-second" placeholder="Treshold min">
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
              <label for="room-treshmax">Treshold max</label>
              <input type="number" value="" name="room-treshmax" id="room-treshmax" class="form-control input-sm  inp-border-second" placeholder="Treshold max">
              </div>
            </div>
          </div>
      </div>

        <div class="modif-panelsett " style="display: none;">
            <div class="row mb-2">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <label for="panel-treshmin">Treshold min</label>
                  <input type="text" value="" name="panel-treshmin" id="panel-treshmin" class="form-control input-sm inp-border-second" placeholder="Treshold min">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                <label for="panel-treshmax">Treshold max</label>
                <input type="text" value="" name="panel-treshmax" id="panel-treshmax" class="form-control input-sm  inp-border-second" placeholder="Treshold max">
                </div>
              </div>
            </div>
        </div>

        <div class="modif-inputsett" style="display: none;">
          <div class="row mb-2">
            <label class="color-skyblue mb-2"> L-N Voltage</label> 
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <label for="ilnv-treshmin">Treshold min</label>
                <input type="number" value="" name="ilnv-treshmin" id="ilnv-treshmin" class="form-control input-sm inp-border-second" placeholder="Treshold min">
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
              <label for="ilnv-treshmax">Treshold max</label>
              <input type="number" value="" name="ilnv-treshmax" id="ilnv-treshmax" class="form-control input-sm  inp-border-second" placeholder="Treshold max">
              </div>
            </div>
          </div>
          <hr>
          <div class="row mb-2">
              <label class="color-skyblue mb-2"> Current</label> 
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <label for="ic-treshmin">Treshold min</label>
                  <input type="number" value="" name="ic-treshmin" id="ic-treshmin" class="form-control input-sm inp-border-second" placeholder="Treshold min">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                <label for="ic-treshmax">Treshold max</label>
                <input type="number" value="" name="ic-treshmax" id="ic-treshmax" class="form-control input-sm  inp-border-second" placeholder="Treshold max">
                </div>
              </div>
            </div>
      </div>

      <div class="modif-loadsett" style="display: none;">
          <div class="row mb-2">
            <label class="color-skyblue mb-2"> Voltage</label> 
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <label for="lv-treshmin">Treshold min</label>
                <input type="number" value="" name="lv-treshmin" id="lv-treshmin" class="form-control input-sm inp-border-second" placeholder="Treshold min">
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
              <label for="lv-treshmax">Treshold max</label>
              <input type="number" value="" name="lv-treshmax" id="lv-treshmax" class="form-control input-sm  inp-border-second" placeholder="Treshold max">
              </div>
            </div>
          </div>
          <hr>
          <div class="row mb-2">
              <label class="color-skyblue mb-2"> Current</label> 
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <label for="lc-treshmin">Treshold min</label>
                  <input type="number" value="" name="lc-treshmin" id="lc-treshmin" class="form-control input-sm inp-border-second" placeholder="Treshold min">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                <label for="lc-treshmax">Treshold max</label>
                <input type="number" value="" name="lc-treshmax" id="lc-treshmax" class="form-control input-sm  inp-border-second" placeholder="Treshold max">
                </div>
              </div>
            </div>
      </div>

      <div class="modif-battsett" style="display: none;">
          <div class="row mb-2">
            <label class="color-skyblue mb-2"> Voltage</label> 
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <label for="bv-treshmin">Treshold min</label>
                <input type="number" value="" name="bv-treshmin" id="bv-treshmin" class="form-control input-sm inp-border-second" placeholder="Treshold min">
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
              <label for="bv-treshmax">Treshold max</label>
              <input type="number" value="" name="bv-treshmax" id="bv-treshmax" class="form-control input-sm  inp-border-second" placeholder="Treshold max">
              </div>
            </div>
          </div>
          <hr>
          <div class="row mb-2">
              <label class="color-skyblue mb-2"> Current</label> 
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <label for="bc-treshmin">Treshold min</label>
                  <input type="number" value="" name="bc-treshmin" id="bc-treshmin" class="form-control input-sm inp-border-second" placeholder="Treshold min">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                <label for="lc-treshmax">Treshold max</label>
                <input type="number" value="" name="bc-treshmax" id="bc-treshmax" class="form-control input-sm  inp-border-second" placeholder="Treshold max">
                </div>
              </div>
            </div>
      </div>

      <div class="modif-indicatorsett" style="display: none;">
          <div class="row mb-2">
            <label class="color-skyblue mb-2"> Current Indicators</label> 
            <div class="row curr-indi">
              
            </div>
            
          </div>
          <hr>
          <div class="row mb-2">
              <label class="color-skyblue mb-2"> New Indicators</label> 
              <div class="row new-indi">

              </div>
              <button class="btn btn-primary mt-3 addIndicator" onclick="javascript:addIndicator(this)">
                  <i class="fa fa-plus"></i> Add New Indicator
              </button>
          </div>
      </div>


      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-save" onclick="javascript:void(0)">Save</button>
      </div>
    </div>
  </div>
</div>