<div class="modal fade" id="modal-recti-status" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header title-menu">
        <h5 class="modal-title " id="mod-title-status">...</h5>
        <button type="button" class="close btn-modal" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-close"></i>
        </button>
      </div>


      <div class="modal-body">

        <div class="row">
          <div class="col-sm-12 pt-1 mx-4">
              <div class="h5 modal-status"> <label>Current Value</label> : <span class="modal-room-temp m-stts-current"><%=devInfo.room_temp%>°C</span> <label style="margin-left: 1.5em !important;">Status</label> : <span class="m-stts-status"></span> </div>
              <div class="h6 modal-threshold">Threshold min <span class="th-min" style="font-weight: 600;"></span>, Treshold max <span class="th-max" style="font-weight: 600;"></span></div>
              <div class="h6 modal-lu"> Last modified: <span class="modal-last-update"><%=devInfo.last_update_data%></span></div>
          </div>
        </div>

        <div class="row pt-1 mx-4 modal-curr-status">
          <div class="col-sm-5 mr-1 rounded-div" style="position: relative;">
              <label>Time Range</label>
              <br>
              <div class="custom-select-opt-cover" onclick="closeSelectOpt()">
              </div>
              <div class="custom-select-opt">
                <span class="val-show" onclick="showSelectOpt()" data-val="today">Today</span>
                <div class="select-opt">
                  <ul class="list-group">
                    <li class="list-group-item" data-val="today" onclick="customSelect">Today</li>
                    <li class="list-group-item" data-val="7day">Last 7 Days</li>
                    <li class="list-group-item" data-val="14day">Last 14 Days</li>
                    <li class="list-group-item" data-val="30day">Last 30 Days</li>
                    <li class="list-group-item" data-val="thismonth">This Month</li>
                    <li class="list-group-item parent-drp" style="position: relative;">
                      <h6>Custom time range</h6>
                      <input type="hidden" name="date-begin">
                      <input type="hidden" name="date-end">
                      <input type="text" id="date" style="position: relative;">
                    </li>
                  </ul>
                </div>
              </div>
          </div>
          <div class="col-sm-2 mr-1 rounded-div">
            <label>Average</label>
            <br>
            <label class="h5 m-stts-avr">0</label>
          </div>
          <div class="col-sm-2 mr-1 rounded-div">
            <label>Minimum</label>
            <br>
            <label class="h5 m-stts-min">0</label>
          </div>
          <div class="col-sm-2 rounded-div">
            <label>Maximum</label>
            <br>
            <label class="h5 m-stts-max">0</label>
          </div>
        </div>

        <div id="chartdiv" style="width: 100%; height:600px;"></div>
        
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary btn-save" onclick="javascript:void(0)">Save</button> -->
      </div>
    </div>
  </div>
</div>