  

    <nav class="navbar navbar-expand-lg bg-second">
      <div class="container-fluid">

        <a class="navbar-brand fw-bold" href="<%=appname%>">
          <img src="/img/logo-pln.png" alt="Bootstrap" width="30" >
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item" style="position: relative;">
              <a class="nav-link <%=nav=='das'?'active':''%>" aria-current="page" href="<%=appname%>/dashboard">Dashboard</a>
            </li>
            <li class="nav-item" style="position: relative;">
              <a class="nav-link <%=nav=='rep'?'active':''%>" href="<%=appname%>/report">Report</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link <%=nav=='loc'?'active':''%> dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Rectifier
              </a>
              <ul class="dropdown-menu">
                <div class="dd-search-section"><input type='search' class="dropdown-search" name='dd-search-val' placeholder="Search rectifier..." onkeyup="searchRectifier(this)"></div>
                <div class="dd-result-section">

                </div>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link <%=nav=='loc'?'active':''%> dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Battery
              </a>
              <ul class="dropdown-menu">
                <div class="dd-search-section"><input type='search' class="dropdown-search" name='dd-search-val' placeholder="Search rectifier..." onkeyup="searchRectifier(this)"></div>
                <div class="dd-result-section">

                </div>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link <%=nav=='mas'?'active':''%> dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Master
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="<%=appname%>/users">User</a></li>
                <li><a class="dropdown-item" href="<%=appname%>/device">Rectifier</a></li>
                <li><a class="dropdown-item" href="<%=appname%>/battery">Battery</a></li>
                <li><a class="dropdown-item" href="<%=appname%>/wilayah">Wilayah</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <button class="d-flex fw-bold btn-custom btn-custom-white" onclick="logout()"><i class="fa fa-power-off"></i>logout</button>
      </div>
    </nav>

    <script>
      let timeout; 

      function logout() {
        var allCookies = document.cookie.split(';');
        // console.log(allCookies);
        for (var i = 0; i < allCookies.length; i++) {
            document.cookie = allCookies[i] + "=;expires=" +
                new Date(0).toUTCString();
        }

        //   document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/";
        window.location.href = "<%=appname%>/loginUser";
        localStorage.clear();
        sessionStorage.clear();
      }

      $(document).ready(function(){
          // get list rectifier
          getTop5RectifierList();
      });

      function getTop5RectifierList()
      {

        let htm = "";
        
        $.ajax({
            url: '<%=appname%>/rectifierTop5List',
            type: 'get',
            success: (res) => {
              //console.log("====1===>"+JSON.stringify(res));
              if (res.length > 0) {
                for(let i=0; i<res.length; i++)
                {
                  htm += '<li class="dropdown-submenu">\
                    <a class="dropdown-item" href="<%=appname%>/location/'+res[i].rectifier_id+'">'+res[i].rectifier_name+'</a>\
                    <span>'+res[i].provinsi_name+' - '+res[i].kota_name+' - '+res[i].kecamatan_name+' - '+res[i].desa_name+'</span>\
                    </li>';
                }  
                
                $(".dd-result-section").html(htm);
              }
            }
        });
        
      }

      function searchRectifier(obj)
      {
        clearTimeout(timeout); 

        timeout = setTimeout(function(){
          let htm = "";
        
          $.ajax({
              url: '<%=appname%>/rectifierTop5List/'+$(obj).val(),
              type: 'get',
              success: (res) => {
                //console.log("====1===>"+JSON.stringify(res));
                if (res.length > 0) {
                  for(let i=0; i<res.length; i++)
                  {
                    htm += '<li class="dropdown-submenu">\
                      <a class="dropdown-item" href="<%=appname%>/location/'+res[i].rectifier_id+'">'+res[i].rectifier_name+'</a>\
                      <span>'+res[i].provinsi_name+' - '+res[i].kota_name+' - '+res[i].kecamatan_name+' - '+res[i].desa_name+'</span>\
                      </li>';
                  }  
                  
                  $(".dd-result-section").html(htm);
                }
              }
          });
        },2000);
        
      }
    </script>
    <style>
      .navbar-nav li:hover > ul.dropdown-menu {
          display: block;
      }
      .dropdown-submenu {
          position:relative;
      }
      .dropdown-submenu > .dropdown-menu {
          top: 0;
          left: 100%;
          margin-top:-6px;
      }

      /* rotate caret on hover */
      .dropdown-menu > li > a:hover:after {
          text-decoration: underline;
          transform: rotate(-90deg);
      } 
    </style>