<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header') %> 
    <%- include('layouts/maps') %> 
    
<body onload="getMap()">
    
    <!-- Navigation Bar --->
    <%- include('layouts/nav.ejs') %>
    <div class="panel-search">
        <div class="row">
            <div class="col-sm-12 m-3">
                <!-- Floating Search Option --->
                <%- include('layouts/deviceSearch.ejs') %>    
                         
            </div>
        </div>
    </div>

    <div id="dashboard_map" class="box" style="height:94vh"></div>
</body>

<%- include('layouts/footer') %> 

</html>
