<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') %>
    <style>
        /* CUSTOM FONT AWESOME */
        @keyframes battery-charging {
            0% {
                content: "\f244";
            }

            20% {
                content: "\f243";
            }

            40% {
                content: "\f242";
            }

            60% {
                content: "\f241";
            }

            80% {
                content: "\f240";
            }
        }

        .fa-battery-charging:before {
            content: "\f244";
            animation: 2s battery-charging infinite;
            color: rgb(70, 190, 70);
        }

        /* @keyframes battery-discharging {
            0% {
                content: "\f240";
            }

            20% {
                content: "\f241";
            }

            40% {
                content: "\f242";
            }

            60% {
                content: "\f243";
            }

            80% {
                content: "\f244";
            }
        }

        .fa-battery-discharging:before {
            content: "\f240";
            animation: 2s battery-discharging infinite;
            color: rgb(245, 45, 45);

        } */

        @keyframes battery-discharging {
            0% {
                content: "\f244";
            }

            20% {
                content: "\f243";
            }

            40% {
                content: "\f242";
            }

            60% {
                content: "\f241";
            }

            80% {
                content: "\f240";
            }
        }

        .fa-battery-discharging:before {
            content: "\f244";
            animation: 2s battery-discharging infinite;
            color: rgb(245, 45, 45);
        }

        .fa-battery-discharging {
            rotate: 180deg;
        }
    </style>

    <body onload="" style="overflow: hidden;position: relative;">

        <!-- Navigation Bar --->
        <%- include('layouts/nav.ejs') %>

            <!-- Navigation Bar --->
            <div class="d-none">
                <input name="recti-id" value="<%=devInfo.rectifier_id%>">
                <input name="recti-name" value="<%=devInfo.rectifier_name%>">
                <input name="recti-serialnumber" value="<%=devInfo.serial_number%>">
                <input name="recti-desc" value="<%=devInfo.description%>">
                <input name="recti-m-status" value="">
            </div>

            <div class="container-fluid dev-detail-panel" style="height:94vh; position: relative;">
                <div class="row">
                    <div class="col-sm-2 mt-3">
                        <!-- Floating Search Option --->
                        <%- include('layouts/deviceSearch.ejs') %>
                    </div>
                    <div class="col-sm-10 px-4 pt-3 device-info">

                        <div class="row">
                            <div class="col-sm-9 pt-1">
                                <div class="dvc-menu"> <label>Rectifier Monitoring</label> | <span class="recti-name">
                                        <%=devInfo.rectifier_name%>
                                    </span> <span class="edit-name" style="cursor: pointer;" onclick="showModal(1)"><i
                                            class="fa fa-pencil"></i></span></div>
                                <div class="dvc-status">Equipment status: <span id="status-connection"><i class="fa fa-link"></i> Connected</span></div>
                                <div class="dvc-lasupd"> Last modified: <span class="recti-last-update">
                                        <%=devInfo.last_update_data%>
                                    </span></div>
                            </div>
                            <div class="col-sm-3">
                                <div class="dvc-temp">

                                    <div class="temp-panel container ">
                                        <div class="row h-100">
                                            <button class="col-sm-10 btn-temp-panel" onclick="showStatus(2)">
                                                <h2 class="room_temp_val">
                                                    <%=devInfo.room_temp%>°C
                                                </h2>
                                                <span>Room Temperature</span>
                                            </button>
                                            <button class="col-sm-2 btn-sett-temp-panel" onclick="showModal(2)">
                                                <i class="fa fa-gear "></i>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row recti-detail mt-3 p-4">
                            <span class="py-2">Rectifier Detail</span>
                            <div id="rechand" class="recti-handler" onmousewheel="javascript:zoomable(event)">
                                <div id="recdia" class="container-fluid recti-diagram d-flex justify-content-center">
                                    <div class="align-self-center handler">


                                        <div class="temp-panel container div-zoomable">
                                            <div class="row h-100">
                                                <button class="col-sm-10 btn-temp-panel" onclick="showStatus(3)">
                                                    <h2 class="panel_temp_val">
                                                        <%=devInfo.panel_temp%>°C
                                                    </h2>
                                                    <span>Panel Temperature</span>
                                                </button>
                                                <button class="col-sm-2 btn-sett-temp-panel" onclick="showModal(3)">
                                                    <i class="fa fa-gear "></i>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="input-panel container p-3 div-zoomable">
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <b class="m-2"> INPUT </b>
                                                </div>
                                                <button class="col-sm-2 btn-sett-inp" onclick="javascript:showModal(4)">
                                                    <i class="fa fa-gear "></i>
                                                </button>
                                            </div>
                                            <hr class="m-3">
                                            <div class="row mb-1">
                                                <div class="col-sm-3">
                                                    <label class="font-weight-bold">L - N</label>
                                                </div>
                                                <button class="col-sm-8 btn btn-primary input_ln_val"
                                                    onclick="showStatus(4)">
                                                    <%=devInfo.voltage_ln%> V
                                                </button>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <label class="font-weight-bold">I</label>
                                                </div>
                                                <button class="col-sm-8 btn btn-info input_i_val"
                                                    onclick="showStatus(5)">
                                                    <%=devInfo.current_l%> A
                                                </button>
                                            </div>
                                        </div>

                                        <div class="info-device-panel container p-3 div-zoomable">
                                            <div class="row">
                                                <div class="col-sm-10">
                                                    <h5 class="font-weight-bold recti-name" style="margin: 0;">
                                                        <%=devInfo.rectifier_name%>
                                                    </h5>
                                                    <h6 class="recti-desc" style="margin: 0;">
                                                        <%=devInfo.description%>
                                                    </h6>
                                                </div>
                                                <button class="col-sm-2 btn-sett-inp" onclick="javascript:showModal(7)">
                                                    <i class="fa fa-gear "></i>
                                                </button>
                                            </div>
                                            <hr class="m-3">
                                            <div class="row">
                                                <ul class="list-group list-info-device">
                                                    <!-- <li class="list-group-item act">FLOAT</li>
                                            <li class="list-group-item">EQUAL</li>
                                            <li class="list-group-item">BOOST</li>
                                            <li class="list-group-item">RECTIFIER FAIL</li>
                                            <li class="list-group-item">BATTERY LOW</li>
                                            <li class="list-group-item">DC GROUND +</li> -->
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="load-panel container p-3 div-zoomable">
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <b class="m-2"> LOAD </b>
                                                </div>
                                                <button class="col-sm-2 btn-sett-inp" onclick="javascript:showModal(5)">
                                                    <i class="fa fa-gear "></i>
                                                </button>
                                            </div>
                                            <hr class="m-3">
                                            <div class="row mb-1">
                                                <div class="col-sm-3">
                                                    <label class="font-weight-bold">V</label>
                                                </div>
                                                <button class="col-sm-8 btn btn-primary load_v_val"
                                                    onclick="showStatus(6)">
                                                    <%=devInfo.voltage_load%> V
                                                </button>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <label class="font-weight-bold">I</label>
                                                </div>
                                                <button class="col-sm-8 btn btn-info load_i_val"
                                                    onclick="showStatus(7)">
                                                    <%=devInfo.current_load%> A
                                                </button>
                                            </div>
                                        </div>

                                        <div class="battery-panel container p-3 div-zoomable">
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <b class="m-2"> Battery 110VDC </b>
                                                </div>
                                                <button class="col-sm-2 btn-sett-inp" onclick="javascript:showModal(6)">
                                                    <i class="fa fa-gear "></i>
                                                </button>
                                            </div>
                                            <hr class="m-3">
                                            <div class="row mb-1">
                                                <div class="col-sm-3">
                                                    <label class="font-weight-bold">V</label>
                                                </div>
                                                <button class="col-sm-8 btn btn-primary battery_v_val"
                                                    onclick="showStatus(8)">
                                                    <%=devInfo.voltage_battery%> V
                                                </button>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <label class="font-weight-bold">I</label>
                                                </div>
                                                <button class="col-sm-8 btn btn-info battery_i_val"
                                                    onclick="showStatus(9)">
                                                    <%=devInfo.current_battery%> A
                                                </button>
                                            </div>
                                        </div>

                                        <div class="icon-load-panel container p-3 div-zoomable">
                                            <h1 class="my-4" style="font-size: 2.5em;">LOAD</h1>
                                        </div>

                                        <div class="icon-battery-panel container p-3 div-zoomable">
                                            <h1><i id="battery-status-icon" class="fa fa-battery-empty"
                                                    style="font-size: 2.5em;" aria-hidden="true"></i></h1>
                                        </div>

                                        <!-- <div style="width: 100px; height: 100px; background-color: blue;left: -150px;"></div>
                                <div style="width: 200px; height: 10px; background-color: yellow;top:70px;left:50px;"></div>
                                <div style="width: 200px; height: 10px; background-color: red;top:30px;left-50px;"></div>
                                <div style="width: 100px; height: 100px; background-color: green;left: 150px;"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!--- Toast Info --->
                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="mr-auto"><i class="fa fa-bell"></i> Notification</strong>
                        <button type="button" class="close-toast btn-toast" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-close"></i>
                        </button>
                    </div>
                    <div class="toast-body">
                        ....
                    </div>
                </div>

            </div>

            <!-- Modal Rectifier -->
            <%- include('layouts/modalRectifier') %>

                <!-- Modal Rectifier Status -->
                <%- include('layouts/modalRectStatus') %>

    </body>



    <%- include('layouts/footer') %>
        <script>

            let posY = 100;
            let scX = 0;
            let scY = 0;
            let maxIndi = 10;
            let Indicator = 0;
            let delIndi = 0; // untuk data baru saja
            let existIndi = 0;
            let channels = {};
            let intvalDevice;
            let graphInterval;


            $(document).ready(function () {
                // set function close modal to button close (class close)
                $(".close").click(function () {
                    $('#modal-recti').modal("hide")
                    $('#modal-recti-status').modal("hide")
                });

                $(".close-toast").click(function () {
                    $('.toast').toast("hide")
                });
                //$(".toast").toast('show');

                // Get indicator
                getIndicator();

                $('#date').daterangepicker({
                    "parentEl": ".parent-drp",
                    "opens": "right",
                }, function (start, end, label) {
                    $(".val-show").attr('data-val', start.format('YYYY-MM-DD') + ";" + end.format('YYYY-MM-DD') + ";");
                    $(".val-show").html(start.format('DD-MM-YYYY') + " - " + end.format('DD-MM-YYYY'));
                    let beDate = getBeginEndDate($(this).attr("data-val"));
                    let m = $("[name='recti-m-status']").val();

                    closeSelectOpt();

                    if (m === 'm-room') { updateModalRoom(beDate); }
                    else if (m === 'm-panel') { updateModalPanel(beDate); }
                    else if (m === 'm-input-v') { updateModalInputVolt(beDate); }
                    else if (m === 'm-input-a') { updateModalInputCurr(beDate); }
                    else if (m === 'm-load-v') { updateModalLoadVolt(beDate); }
                    else if (m === 'm-load-a') { updateModalLoadCurr(beDate); }
                    else if (m === 'm-batt-v') { updateModalBattVolt(beDate); }
                    else if (m === 'm-batt-a') { updateModalBattCurr(beDate); }
                });

                $(".select-opt").find(".list-group-item").click(function () {
                    if ($(this).hasClass("parent-drp")) { return false; }
                    else {
                        $(".val-show").attr('data-val', $(this).attr("data-val"));
                        $(".val-show").html($(this).html());
                        let m = $("[name='recti-m-status']").val();
                        let beDate = getBeginEndDate($(this).attr("data-val"));

                        closeSelectOpt();

                        if (m === 'm-room') { updateModalRoom(beDate); }
                        else if (m === 'm-panel') { updateModalPanel(beDate); }
                        else if (m === 'm-input-v') { updateModalInputVolt(beDate); }
                        else if (m === 'm-input-a') { updateModalInputCurr(beDate); }
                        else if (m === 'm-load-v') { updateModalLoadVolt(beDate); }
                        else if (m === 'm-load-a') { updateModalLoadCurr(beDate); }
                        else if (m === 'm-batt-v') { updateModalBattVolt(beDate); }
                        else if (m === 'm-batt-a') { updateModalBattCurr(beDate); }
                    }
                });

                $("#modal-recti-status").find(".close").click(function () {
                    clearInterval(graphInterval);
                })

                // Begin update UI
                //updateUI();        
                setInterval(updateUI, (10 * 1000));

            });

            function updateUI() {
                let id = $("[name='recti-id']").val();
                let row;
                let color;
                $.ajax({
                    url: '<%=appname%>/location/' + id,
                    type: 'post',
                    success: (res) => {

                        row = res[0];

                        // Update Last Update
                        $(".recti-last-update").html(row.last_update_data);
                        $(".modal-last-update").html(row.last_update_data);

                        // Update Room Temp
                        $(".room_temp_val").html(row.room_temp + "°C");

                        // Update Panel Temp
                        $(".panel_temp_val").html(row.room_temp + "°C");

                        // Update Input Panel
                        $(".input_ln_val").html(row.voltage_ln + " V");
                        $(".input_i_val").html(row.current_l + " A");

                        // Update Load Panel
                        $(".load_v_val").html(row.voltage_load + " V");
                        $(".load_i_val").html(row.current_load + " A");

                        // Update Battery Panel
                        $(".battery_v_val").html(row.voltage_battery + " V");
                        $(".battery_i_val").html(row.current_battery + " A");

                        if(row.current_battery>0){
                            $("#battery-status-icon").removeClass().addClass("fa fa-battery-charging");
                        }else if(row.current_battery<0){
                            $("#battery-status-icon").removeClass().addClass("fa fa-battery-discharging");
                        }else{
                            $("#battery-status-icon").removeClass().addClass("fa fa-battery-full");
                        }

                        if(row.connect){
                            $('#status-connection').html('<i class="fa fa-link"></i><b>Connected</b>').css("color","rgb(70, 190, 70)");
                        }else{
                            $('#status-connection').html('<i class="fa fa-unlink"></i><b>Disconnected</b>').css("color","rgb(245, 45, 45)");
                            $(".m-stts-status").html("<span class='badge badge-secondary' style='background:#6c757d;'> Disconnected </span> ");
                        }

                        // Update Rectifier
                        let chans = [row.channel_1, row.channel_2, row.channel_3, row.channel_4, row.channel_5,
                        row.channel_6, row.channel_7, row.channel_8, row.channel_9, row.channel_10];

                        for (let i = 0; i < chans.length; i++) {
                            if (chans[i]) {
                                color = $(".list-info-device").find("li:eq(" + i + ")").attr("data-color");
                                $(".list-info-device").find("li").get(i).style.setProperty("--orb-color", color);
                            }
                            else { $(".list-info-device").find("li").get(i).style.setProperty("--orb-color", "#2e333a"); }
                        }
                    }
                });
            }

            function updateGraph() {

                let m = $("[name='recti-m-status']").val();
                let beDate = getBeginEndDate($(".custom-select-opt").find(".val-show").attr("data-val"));

                if (m === 'm-room') { updateModalRoom(beDate); }
                else if (m === 'm-panel') { updateModalPanel(beDate); }
                else if (m === 'm-input-v') { updateModalInputVolt(beDate); }
                else if (m === 'm-input-a') { updateModalInputCurr(beDate); }
                else if (m === 'm-load-v') { updateModalLoadVolt(beDate); }
                else if (m === 'm-load-a') { updateModalLoadCurr(beDate); }
                else if (m === 'm-batt-v') { updateModalBattVolt(beDate); }
                else if (m === 'm-batt-a') { updateModalBattCurr(beDate); }
            }
            //Make the DIV element draggagle:
            dragElement(document.getElementById('recdia'));
            function zoomable(event) {
                let y = event.deltaY;

                y = y * -1;

                // Zoom In
                if (y > 0) {
                    posY += y / 10;
                    if (posY > 150) { posY = 150; }
                }
                // Zoom Out
                else {
                    posY += y / 10;
                    if (posY < 50) { posY = 50; }

                }

                $('.recti-diagram').find("div.div-zoomable").each(function (i, obj) {
                    $(obj).css({ 'zoom': posY + '%' });
                });

            }


            function dragElement(elmnt) {
                var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;

                if (document.getElementById("recdia")) {
                    /* if present, the header is where you move the DIV from:*/
                    document.getElementById("recdia").onmousedown = dragMouseDown;
                } else {
                    /* otherwise, move the DIV from anywhere inside the DIV:*/
                    elmnt.onmousedown = dragMouseDown;
                }

                function dragMouseDown(e) {
                    e = e || window.event;
                    e.preventDefault();
                    // get the mouse cursor position at startup:
                    pos3 = e.clientX;
                    scX = pos3;
                    pos4 = e.clientY;
                    scY = pos4;
                    document.onmouseup = closeDragElement;
                    // call a function whenever the cursor moves:
                    document.onmousemove = elementDrag;
                }

                function elementDrag(e) {
                    e = e || window.event;
                    e.preventDefault();
                    // calculate the new cursor position:
                    pos1 = pos3 - e.clientX;
                    pos2 = pos4 - e.clientY;
                    pos3 = e.clientX;
                    pos4 = e.clientY;

                    const elm = document.querySelector(".handler");
                    elm.style.top = (elm.offsetTop - pos2) + "px";
                    elm.style.left = (elm.offsetLeft - pos1) + "px";

                }

                function closeDragElement() {
                    /* stop moving when mouse button is released:*/
                    document.onmouseup = null;
                    document.onmousemove = null;
                }
            }

            function getIndicator() {
                // Object needed
                let htm = "";
                let sn = $("[name='recti-serialnumber']").val();

                $.ajax({
                    url: '<%=appname%>/rectifier/getIndicator/' + sn,
                    type: 'get',
                    success: (res) => {

                        if (res.length > 0) {
                            //Update UI
                            for (let i = 0; i < res.length; i++) {
                                htm += '<li class="list-group-item rounded-bar" data-color="' + res[i].color + '" style="--orb-color: ' + res[i].color + ';">' + res[i].name + '</li>';
                            }

                            for (let i = 0; i < (maxIndi - res.length); i++) {
                                htm += '<li class="list-group-item rounded-bar" data-color="#2e333a" style="--orb-color: #2e333a;height: 40px;" ></li>';
                            }

                            $(".list-info-device").html(htm);
                        }
                    }
                });

                updateUI();

            }

            function showStatus(m) {

                let filterDate = "today";

                if (m == 2) // Room Temp Status
                {
                    let beDate = getBeginEndDate(filterDate);

                    $("#mod-title-status").html("Room Temperature");
                    $("#modal-recti-status").modal("show");
                    $("[name='recti-m-status']").val("m-room");

                    // Time Range
                    $(".val-show").attr("data-val", "today");
                    $(".val-show").html("Today");

                    updateModalRoom(beDate);
                }
                else if (m == 3) // Panel Temp Status
                {
                    let beDate = getBeginEndDate(filterDate);

                    $("#mod-title-status").html("Panel Temperature");
                    $("#modal-recti-status").modal("show");
                    $("[name='recti-m-status']").val("m-panel");

                    // Time Range
                    $(".val-show").attr("data-val", "today");
                    $(".val-show").html("Today");

                    updateModalPanel(beDate);
                }
                else if (m == 4) // Input - Voltage
                {
                    let beDate = getBeginEndDate(filterDate);

                    $("#mod-title-status").html("Input - Voltage");
                    $("#modal-recti-status").modal("show");
                    $("[name='recti-m-status']").val("m-input-v");

                    // Time Range
                    $(".val-show").attr("data-val", "today");
                    $(".val-show").html("Today");

                    updateModalInputVolt(beDate);

                }
                else if (m == 5) // Input - Current
                {
                    let beDate = getBeginEndDate(filterDate);

                    $("#mod-title-status").html("Input - Current");
                    $("#modal-recti-status").modal("show");
                    $("[name='recti-m-status']").val("m-input-a");

                    // Time Range
                    $(".val-show").attr("data-val", "today");
                    $(".val-show").html("Today");

                    updateModalInputCurr(beDate);
                }
                else if (m == 6) // Load - Voltage
                {
                    let beDate = getBeginEndDate(filterDate);

                    $("#mod-title-status").html("Load - Voltage");
                    $("#modal-recti-status").modal("show");
                    $("[name='recti-m-status']").val("m-load-v");

                    // Time Range
                    $(".val-show").attr("data-val", "today");
                    $(".val-show").html("Today");

                    updateModalLoadVolt(beDate);
                }
                else if (m == 7) // Load - Current
                {
                    let beDate = getBeginEndDate(filterDate);

                    $("#mod-title-status").html("Load - Current");
                    $("#modal-recti-status").modal("show");
                    $("[name='recti-m-status']").val("m-load-a");

                    // Time Range
                    $(".val-show").attr("data-val", "today");
                    $(".val-show").html("Today");

                    updateModalLoadCurr(beDate);
                }
                else if (m == 8) // Battery - Voltage
                {
                    let beDate = getBeginEndDate(filterDate);

                    $("#mod-title-status").html("Battery - Voltage");
                    $("#modal-recti-status").modal("show");
                    $("[name='recti-m-status']").val("m-batt-v");

                    // Time Range
                    $(".val-show").attr("data-val", "today");
                    $(".val-show").html("Today");

                    updateModalBattVolt(beDate);
                }
                else if (m == 9) // Battery - Current
                {
                    let beDate = getBeginEndDate(filterDate);

                    $("#mod-title-status").html("Battery - Current");
                    $("#modal-recti-status").modal("show");
                    $("[name='recti-m-status']").val("m-batt-a");

                    // Time Range
                    $(".val-show").attr("data-val", "today");
                    $(".val-show").html("Today");

                    updateModalBattCurr(beDate);
                }

                graphInterval = setInterval(updateGraph, (10 * 1000));

            }

            function showModal(m) {
                // Hide All modification
                $(".modif-rectiname").hide();
                $(".modif-roomsett").hide();
                $(".modif-panelsett").hide();
                $(".modif-inputsett").hide();
                $(".modif-loadsett").hide();
                $(".modif-battsett").hide();
                $(".modif-indicatorsett").hide();

                // Object Needed
                let sn = $("[name='recti-serialnumber']").val();

                // Update Rectifier Name
                if (m == 1) {
                    $(".modif-rectiname").show();
                    $("#mod-title").html("Rectifier Settings");
                    $("#modal-recti").modal("show");

                    $("#txtname1").val($("[name='recti-name']").val());
                    $("#txtname2").val($("[name='recti-desc']").val());

                    $(".btn-save").attr("onclick", "javascript:recti_upd_name()");
                }
                else if (m == 2) // Update Room Treshold
                {
                    $(".modif-roomsett").show();
                    $("#mod-title").html("Rectifier Room Settings");
                    $("#modal-recti").modal("show");

                    $.ajax({
                        url: '<%=appname%>/rectifier/getTreshold/' + sn,
                        type: 'get',
                        success: (res) => {

                            if (res.length > 0) {
                                //Update UI
                                $("[name='room-treshmin']").val(res[0].room_temp_min);
                                $("[name='room-treshmax']").val(res[0].room_temp_max);
                            }
                            else {
                                $(".alrt-msg").html("Error get data, please contact your administrator.");

                                $(".alrt-msg").show().delay(5000).slideUp(1000);
                            }

                            $(".btn-save").attr("onclick", "javascript:recti_room_temp_upd()");
                        }
                    });
                }
                else if (m == 3) // Update Panel Treshold
                {
                    $(".modif-panelsett").show();
                    $("#mod-title").html("Rectifier Panel Settings");
                    $("#modal-recti").modal("show");

                    $.ajax({
                        url: '<%=appname%>/rectifier/getTreshold/' + sn,
                        type: 'get',
                        success: (res) => {

                            if (res.length > 0) {
                                //Update UI
                                $("[name='panel-treshmin']").val(res[0].panel_temp_min);
                                $("[name='panel-treshmax']").val(res[0].panel_temp_max);
                            }
                            else {
                                $(".alrt-msg").html("Error get data, please contact your administrator.");

                                $(".alrt-msg").show().delay(5000).slideUp(1000);
                            }

                            $(".btn-save").attr("onclick", "javascript:recti_panel_temp_upd()");
                        }
                    });
                }
                else if (m == 4) // Update Input Treshold
                {
                    $(".modif-inputsett").show();
                    $("#mod-title").html("Rectifier Input Settings");
                    $("#modal-recti").modal("show");

                    $.ajax({
                        url: '<%=appname%>/rectifier/getTreshold/' + sn,
                        type: 'get',
                        success: (res) => {

                            if (res.length > 0) {
                                //Update UI
                                $("[name='ilnv-treshmin']").val(res[0].voltage_ln_min);
                                $("[name='ilnv-treshmax']").val(res[0].voltage_ln_max);

                                $("[name='ic-treshmin']").val(res[0].current_l_min);
                                $("[name='ic-treshmax']").val(res[0].current_l_max);
                            }
                            else {
                                $(".alrt-msg").html("Error get data, please contact your administrator.");

                                $(".alrt-msg").show().delay(5000).slideUp(1000);
                            }

                            $(".btn-save").attr("onclick", "javascript:recti_input_upd()");
                        }
                    });
                }
                else if (m == 5) // Update Volt Treshold
                {
                    $(".modif-loadsett").show();
                    $("#mod-title").html("Rectifier Load Settings");
                    $("#modal-recti").modal("show");

                    $.ajax({
                        url: '<%=appname%>/rectifier/getTreshold/' + sn,
                        type: 'get',
                        success: (res) => {

                            if (res.length > 0) {
                                //Update UI
                                $("[name='lv-treshmin']").val(res[0].voltage_load_min);
                                $("[name='lv-treshmax']").val(res[0].voltage_load_max);

                                $("[name='lc-treshmin']").val(res[0].current_load_min);
                                $("[name='lc-treshmax']").val(res[0].current_load_max);
                            }
                            else {
                                $(".alrt-msg").html("Error get data, please contact your administrator.");

                                $(".alrt-msg").show().delay(5000).slideUp(1000);
                            }

                            $(".btn-save").attr("onclick", "javascript:recti_load_upd()");
                        }
                    });
                }
                else if (m == 6) // Update Battery Treshold
                {
                    $(".modif-battsett").show();
                    $("#mod-title").html("Rectifier Battery Settings");
                    $("#modal-recti").modal("show");

                    $.ajax({
                        url: '<%=appname%>/rectifier/getTreshold/' + sn,
                        type: 'get',
                        success: (res) => {

                            if (res.length > 0) {
                                //Update UI
                                $("[name='bv-treshmin']").val(res[0].voltage_batt_min);
                                $("[name='bv-treshmax']").val(res[0].voltage_batt_max);

                                $("[name='bc-treshmin']").val(res[0].current_batt_min);
                                $("[name='bc-treshmax']").val(res[0].current_batt_max);
                            }
                            else {
                                $(".alrt-msg").html("Error get data, please contact your administrator.");

                                $(".alrt-msg").show().delay(5000).slideUp(1000);
                            }

                            $(".btn-save").attr("onclick", "javascript:recti_batt_upd()");
                        }
                    });
                }
                else if (m == 7) // Update Indicator Settings
                {
                    $(".modif-indicatorsett").show();
                    $("#mod-title").html("Rectifier Indicator Settings");
                    $("#modal-recti").modal("show");

                    $.ajax({
                        url: '<%=appname%>/rectifier/getIndicator/' + sn,
                        type: 'get',
                        success: (res) => {
                            existIndi = 0;
                            if (res.length > 0) {
                                // Clear UI
                                $(".curr-indi").html("");
                                Indicator = res.length;

                                //Update UI
                                for (let i = 0; i < res.length; i++) {
                                    $(".curr-indi").append(elmIndicator(res[i]));
                                }
                            }
                            else {
                                // Clear UI
                                $(".new-indi").html("");

                                for (let i = 0; i < (maxIndi / 2); i++) { $(".new-indi").append(elmIndicator()); }

                            }

                            $(".btn-save").attr("onclick", "javascript:recti_indicator_upd()");
                        }
                    });
                }
            }

            function recti_upd_name() {
                let id = $("[name='recti-id']").val();
                let name = $("#txtname1").val();
                let desc = $("#txtname2").val();

                if (name.trim() === "" || desc.trim() === "") {
                    if (name === "") { $(".alrt-msg").html("Mohon isi form Recti name !!! "); }
                    else if (desc === "") { $(".alrt-msg").html("Mohon isi form Description !!! "); }

                    $(".alrt-msg").show().delay(5000).slideUp(1000);
                }
                else {
                    $.ajax({
                        url: '<%=appname%>/rectifier/updRectiName',
                        type: 'post',
                        data: {
                            id,
                            name,
                            desc
                        },
                        success: (res) => {

                            if (res == 'success') {
                                //Update UI
                                $("[name='recti-name']").val(name);
                                $("[name='recti-desc']").val(desc);

                                $(".recti-name").html(name);
                                $(".recti-desc").html(desc);


                                $('#modal-recti').modal("hide");
                            }
                            else {
                                $(".alrt-msg").html("Error update data, please contact your administrator.");

                                $(".alrt-msg").show().delay(5000).slideUp(1000);
                            }
                        }
                    });
                }



            }

            function recti_room_temp_upd() {
                let sn = $("[name='recti-serialnumber']").val();
                let min = $("[name='room-treshmin']").val();
                let max = $("[name='room-treshmax']").val();

                if (parseInt(min) > parseInt(max)) {
                    $(".alrt-msg").html("Treshold min tidak boleh melebihi Treshhold max.");

                    $(".alrt-msg").show().delay(5000).slideUp(1000);
                    return false;
                }

                $.ajax({
                    url: '<%=appname%>/rectifier/updRoomTemp',
                    type: 'post',
                    data: {
                        sn,
                        min,
                        max
                    },
                    success: (res) => {

                        if (res == 'success') {
                            //Update UI
                            $('#modal-recti').modal("hide");
                            $(".toast-body").html(" Successfully update Room Temperature ");
                            $('.toast').toast("show");

                        }
                        else {
                            $(".alrt-msg").html("Error update data, please contact your administrator.");

                            $(".alrt-msg").show().delay(5000).slideUp(1000);
                        }
                    }
                });
            }

            function recti_panel_temp_upd() {
                let sn = $("[name='recti-serialnumber']").val();
                let min = $("[name='panel-treshmin']").val();
                let max = $("[name='panel-treshmax']").val();

                if (parseInt(min) > parseInt(max)) {
                    $(".alrt-msg").html("Treshold min tidak boleh melebihi Treshhold max.");

                    $(".alrt-msg").show().delay(5000).slideUp(1000);
                    return false;
                }

                $.ajax({
                    url: '<%=appname%>/rectifier/updPanelTemp',
                    type: 'post',
                    data: {
                        sn,
                        min,
                        max
                    },
                    success: (res) => {

                        if (res == 'success') {
                            //Update UI
                            $('#modal-recti').modal("hide");
                            $(".toast-body").html(" Successfully update Panel Temperature ");
                            $('.toast').toast("show");

                        }
                        else {
                            $(".alrt-msg").html("Error update data, please contact your administrator.");

                            $(".alrt-msg").show().delay(5000).slideUp(1000);
                        }
                    }
                });
            }

            function recti_input_upd() {
                let sn = $("[name='recti-serialnumber']").val();
                let vmin = $("[name='ilnv-treshmin']").val();
                let vmax = $("[name='ilnv-treshmax']").val();
                let imin = $("[name='ic-treshmin']").val();
                let imax = $("[name='ic-treshmax']").val();

                if (parseInt(vmin) > parseInt(vmax)) {
                    $(".alrt-msg").html("Treshold min tidak boleh melebihi Treshhold max.");

                    $(".alrt-msg").show().delay(5000).slideUp(1000);
                    return false;
                } else if (parseInt(imin) > parseInt(imax)) {
                    $(".alrt-msg").html("Treshold min tidak boleh melebihi Treshhold max.");

                    $(".alrt-msg").show().delay(5000).slideUp(1000);
                    return false;
                }

                $.ajax({
                    url: '<%=appname%>/rectifier/updInputSett',
                    type: 'post',
                    data: {
                        sn,
                        vmin,
                        vmax,
                        imin,
                        imax
                    },
                    success: (res) => {

                        if (res == 'success') {
                            //Update UI
                            $('#modal-recti').modal("hide");
                            $(".toast-body").html(" Successfully update Input Settings ");
                            $('.toast').toast("show");

                        }
                        else {
                            $(".alrt-msg").html("Error update data, please contact your administrator.");

                            $(".alrt-msg").show().delay(5000).slideUp(1000);
                        }
                    }
                });
            }

            function recti_load_upd() {
                let sn = $("[name='recti-serialnumber']").val();
                let vmin = $("[name='lv-treshmin']").val();
                let vmax = $("[name='lv-treshmax']").val();
                let imin = $("[name='lc-treshmin']").val();
                let imax = $("[name='lc-treshmax']").val();

                if (parseInt(vmin) > parseInt(vmax)) {
                    $(".alrt-msg").html("Treshold min tidak boleh melebihi Treshhold max.");

                    $(".alrt-msg").show().delay(5000).slideUp(1000);
                    return false;
                } else if (parseInt(imin) > parseInt(imax)) {
                    $(".alrt-msg").html("Treshold min tidak boleh melebihi Treshhold max.");

                    $(".alrt-msg").show().delay(5000).slideUp(1000);
                    return false;
                }

                $.ajax({
                    url: '<%=appname%>/rectifier/updLoadSett',
                    type: 'post',
                    data: {
                        sn,
                        vmin,
                        vmax,
                        imin,
                        imax
                    },
                    success: (res) => {

                        if (res == 'success') {
                            //Update UI
                            $('#modal-recti').modal("hide");
                            $(".toast-body").html(" Successfully update Load Settings ");
                            $('.toast').toast("show");

                        }
                        else {
                            $(".alrt-msg").html("Error update data, please contact your administrator.");

                            $(".alrt-msg").show().delay(5000).slideUp(1000);
                        }
                    }
                });
            }

            function recti_batt_upd() {
                let sn = $("[name='recti-serialnumber']").val();
                let vmin = $("[name='bv-treshmin']").val();
                let vmax = $("[name='bv-treshmax']").val();
                let imin = $("[name='bc-treshmin']").val();
                let imax = $("[name='bc-treshmax']").val();

                if (parseInt(vmin) > parseInt(vmax)) {
                    $(".alrt-msg").html("Treshold min tidak boleh melebihi Treshhold max.");

                    $(".alrt-msg").show().delay(5000).slideUp(1000);
                    return false;
                } else if (parseInt(imin) > parseInt(imax)) {
                    $(".alrt-msg").html("Treshold min tidak boleh melebihi Treshhold max.");

                    $(".alrt-msg").show().delay(5000).slideUp(1000);
                    return false;
                }

                $.ajax({
                    url: '<%=appname%>/rectifier/updBattSett',
                    type: 'post',
                    data: {
                        sn,
                        vmin,
                        vmax,
                        imin,
                        imax
                    },
                    success: (res) => {

                        if (res == 'success') {
                            //Update UI
                            $('#modal-recti').modal("hide");
                            $(".toast-body").html(" Successfully update Battery Settings ");
                            $('.toast').toast("show");

                        }
                        else {
                            $(".alrt-msg").html("Error update data, please contact your administrator.");

                            $(".alrt-msg").show().delay(5000).slideUp(1000);
                        }
                    }
                });
            }

            function recti_indicator_upd() {
                let sn = $("[name='recti-serialnumber']").val();
                let indi = [];
                let obj = {};

                // Validation Channel
                if (checkChannel()) { return false; }

                // for(let i=0; i<maxIndi;i++)
                // {
                //     if($("[name='indi-flag-"+i+"']").length > 0 && $("[name='indi-name-"+i+"']").val() != "")
                //     {

                //         obj = {};
                //         obj['id'] = $("[name='indi-id-"+i+"']").val();
                //         obj['flag'] = $("[name='indi-flag-"+i+"']").val();
                //         obj['color'] = $("[name='indi-color-"+i+"']").val();
                //         obj['channel'] = $("[name='indi-channel-"+i+"']").find("option:selected").val();
                //         obj['name'] = $("[name='indi-name-"+i+"']").val();
                //         obj['event'] = $("[name='indi-event-"+i+"']").find("option:selected").val();

                //         indi.push(obj);
                //     }
                // }

                // Data yang akan diupdate
                for (let i = 0; i < Indicator; i++) {
                    if ($("[name='indi-flag-" + i + "']").length > 0 && $("[name='indi-name-" + i + "']").val() != "") {

                        obj = {};
                        obj['id'] = $("[name='indi-id-" + i + "']").val();
                        obj['flag'] = $("[name='indi-flag-" + i + "']").val();
                        obj['color'] = $("[name='indi-color-" + i + "']").val();
                        obj['channel'] = $("[name='indi-channel-" + i + "']").find("option:selected").val();
                        obj['name'] = $("[name='indi-name-" + i + "']").val();
                        obj['event'] = $("[name='indi-event-" + i + "']").find("option:selected").val();

                        indi.push(obj);
                    }
                }

                // Data yang akan ditambah
                $(".inp-indi-id").each(function (e) {
                    if ($(this).closest("div.col-sm-1").hasClass("rowDeleted")) { return; }

                    if ($("[name='indi-flag-" + (e + Indicator) + "']").length > 0 && $("[name='indi-name-" + (e + Indicator) + "']").val() != "") {
                        obj = {};
                        obj['id'] = $("[name='indi-id-" + (e + Indicator) + "']").val();
                        obj['flag'] = $("[name='indi-flag-" + (e + Indicator) + "']").val();
                        obj['color'] = $("[name='indi-color-" + (e + Indicator) + "']").val();
                        obj['channel'] = $("[name='indi-channel-" + (e + Indicator) + "']").find("option:selected").val();
                        obj['name'] = $("[name='indi-name-" + (e + Indicator) + "']").val();
                        obj['event'] = $("[name='indi-event-" + (e + Indicator) + "']").find("option:selected").val();

                        indi.push(obj);
                    }


                });

                if (indi.length == 0) {
                    $(".alrt-msg").html("Tidak ada data yang akan ditambahkan !!!.");
                    $(".alrt-msg").show().delay(5000).slideUp(1000);
                    return false;
                }

                let data = JSON.stringify(indi);

                $.ajax({
                    url: '<%=appname%>/rectifier/updIndicator',
                    type: 'post',
                    data: {
                        sn,
                        data
                    },
                    success: (res) => {

                        if (res == 'success') {
                            //Update UI
                            $('#modal-recti').modal("hide");
                            $(".toast-body").html(" Successfully update Rectifier Indicator ");
                            $('.toast').toast("show");
                            getIndicator();


                        }
                        else {
                            $(".alrt-msg").html("Error update data, please contact your administrator.");

                            $(".alrt-msg").show().delay(5000).slideUp(1000);
                        }
                    }
                });

                location.reload()
            }

            function elmIndicator(data) {
                let htm;
                let optchannel = "";

                if (typeof data == "undefined") {

                    // "+(i==(existIndi-1)?"selected":"") +"
                    for (let i = 0; i < maxIndi; i++) { optchannel += "<option value='CH-" + (i + 1) + "' >CH-" + (i + 1) + "</option>"; }

                    htm = '<div class="col-sm-1 row-input-' + existIndi + '" style="padding-right: 5px;margin-bottom: 5px;">\
                        <div class="rs-form-group " role="group">\
                            <input type="hidden" class="inp-indi-id" name="indi-id-'+ existIndi + '" value="">\
                            <input type="hidden" class="inp-indi-flag" name="indi-flag-'+ existIndi + '" value="C">\
                            <input type="color" class="color-picker inp-indi-color" name="indi-color-'+ existIndi + '" value="#ff0000" >\
                        </div>\
                    </div>\
                    <div class="col-sm-2 row-input-'+ existIndi + '" style="padding-right: 5px;padding-left: 0px">\
                        <div class="rs-form-group " role="group">\
                            <select class="form-control channel-choice inp-indi-channel" name="indi-channel-'+ existIndi + '" onchange="checkChannel(this)" data-index="' + existIndi + '" >\
                            <option value="NA" selected>Select</option>\
                            '+ optchannel + '\
                            </select>\
                        </div>\
                    </div>\
                    <div class="col-sm-5 row-input-'+ existIndi + '" style="padding-right: 5px;padding-left: 0px;">\
                        <div class="rs-form-group" role="group">\
                            <input type="text" class="form-control inp-indi-name" name="indi-name-'+ existIndi + '" placeholder="Indicator Name ">\
                        </div>\
                    </div>\
                    <div class="col-sm-3 row-input-'+ existIndi + '" style="padding-right: 5px;padding-left: 0px;">\
                        <div class="rs-form-group" role="group">\
                            <select class="form-control inp-indi-event" name="indi-event-'+ existIndi + '">\
                                <option value="NA" selected>Select</option>\
                                <option value="Event">Event</option>\
                                <option Value="Alarm">Alarm</option>\
                            </select>\
                        </div>\
                    </div>\
                    <div class="col-sm-1 row-input-'+ existIndi + '" style="padding-right: 5px;padding-left: 0px;">\
                        <button class="btn btn-danger btn-del-'+ existIndi + ' inp-indi-btn" onclick="javascript:addDelete(\'' + existIndi + '\')">\
                            <i class="fa fa-trash"></i>\
                        </button>\
                    </div>';
                }
                else {

                    for (let i = 0; i < maxIndi; i++) {
                        optchannel += "<option value='CH-" + (i + 1) + "' " + (data.channel == "CH-" + (i + 1) ? "selected" : "") + ">CH-" + (i + 1) + "</option>";
                    }

                    htm = '<div class="col-sm-1 " style="padding-right: 5px;margin-bottom: 5px;">\
                        <div class="rs-form-group " role="group">\
                            <input type="hidden" name="indi-id-'+ existIndi + '" value="' + data.id + '">\
                            <input type="hidden" name="indi-flag-'+ existIndi + '" value="U">\
                            <input type="color" class="color-picker" name="indi-color-'+ existIndi + '" value="' + data.color + '" >\
                        </div>\
                    </div>\
                    <div class="col-sm-2 " style="padding-right: 5px;padding-left: 0px">\
                        <div class="rs-form-group " role="group">\
                            <select class="form-control channel-choice" name="indi-channel-'+ existIndi + '" data-channel="' + data.channel + '" onchange="checkChannel(this)" data-index="' + existIndi + '" >\
                            <option value="NA" selected>Select</option>\
                            '+ optchannel + '\
                            </select>\
                        </div>\
                    </div>\
                    <div class="col-sm-5" style="padding-right: 5px;padding-left: 0px;">\
                        <div class="rs-form-group" role="group">\
                            <input type="text" class="form-control" name="indi-name-'+ existIndi + '" placeholder="Indicator Name " value="' + data.name + '">\
                        </div>\
                    </div>\
                    <div class="col-sm-3" style="padding-right: 5px;padding-left: 0px;">\
                        <div class="rs-form-group" role="group">\
                            <select class="form-control" name="indi-event-'+ existIndi + '">\
                                <option value="NA" selected>Select</option>\
                                <option value="Event" '+ (data.event_type == "Event" ? "selected" : "") + '>Event</option>\
                                <option Value="Alarm" '+ (data.event_type == "Alarm" ? "selected" : "") + '>Alarm</option>\
                            </select>\
                        </div>\
                    </div>\
                    <div class="col-sm-1" style="padding-right: 5px;padding-left: 0px;">\
                        <button class="btn btn-danger btn-del-'+ existIndi + '" onclick="javascript:updDelete(\'' + existIndi + '\')">\
                            <i class="fa fa-trash"></i>\
                        </button>\
                        <button class="btn btn-info btn-undo-'+ existIndi + '" style="display:none" onclick="javascript:undoDelete(\'' + existIndi + '\')">\
                            <i class="fa fa-redo"></i>\
                        </button>\
                    </div>';
                }

                existIndi++;
                return htm;
            }

            function addDelete(indx) {
                // Removing one row
                //$(".new-indi").find(".row-input-"+indx).remove();
                //$(".row-input-"+indx).remove();
                $(".new-indi").find(".row-input-" + indx).addClass("rowDeleted");
                $(".new-indi").find(".row-input-" + indx).hide();

                checkChannel();

                delIndi++;
                if ((existIndi - delIndi) < maxIndi) { $(".addIndicator").show(100); }

            }

            function updDelete(indx) {
                $("[name='indi-flag-" + indx + "']").val("D");
                $("[name='indi-channel-" + indx + "']").attr("disabled", true);
                $("[name='indi-name-" + indx + "']").attr("disabled", true);
                $("[name='indi-event-" + indx + "']").attr("disabled", true);
                $(".btn-del-" + indx).hide();
                $(".btn-undo-" + indx).show();
            }

            function undoDelete(indx) {
                $("[name='indi-flag-" + indx + "']").val("U");
                $("[name='indi-channel-" + indx + "']").attr("disabled", false);
                $("[name='indi-name-" + indx + "']").attr("disabled", false);
                $("[name='indi-event-" + indx + "']").attr("disabled", false);
                $(".btn-del-" + indx).show();
                $(".btn-undo-" + indx).hide();
            }

            function addIndicator(obj) {

                $(".new-indi").append(elmIndicator());

                if ((existIndi - delIndi) == maxIndi) { $(obj).hide(100); }
            }

            function checkChannel(obj) {
                // Object needed 
                let isExist = false;
                channels = {};

                if (typeof obj === "undefined") {
                    $(".channel-choice").each(function (e) {

                        if ($(this).closest('div.col-sm-2').hasClass("rowDeleted")) { return; }

                        if (typeof channels[$(this).val()] !== "undefined") { isExist = true; return; }
                        else {
                            if ($(this).val() != "NA") { channels[$(this).val()] = "true"; }
                        }
                    });
                }
                else // Saat memilih channel
                {
                    // Check channel choice
                    $(".channel-choice").each(function (e) {

                        if ($(this).closest('div.col-sm-2').hasClass("rowDeleted")) { return; }

                        if ($(this).attr("data-channel") == $(obj).val()) { isExist = true; return false; }
                    });
                }

                if (isExist) {
                    $(".alrt-msg").html("Channel is already used, please choose a different Channel.");
                    $(".alrt-msg").show();
                }
                else {
                    // Set Value as attribute
                    $(obj).attr("data-channel", $(obj).val());

                    $(".alrt-msg").hide();
                }

                return isExist;
            }

            function showSelectOpt() {
                $(".custom-select-opt-cover").show();
                $(".select-opt").slideDown();
            }

            function closeSelectOpt() {
                $(".custom-select-opt-cover").hide();
                $(".select-opt").slideUp();
            }

            function getBeginEndDate(filter) {
                let result = [];
                let date = new Date();
                let begindate = new Date();
                if (filter === "today") {
                    result = [date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " 00:00:00",
                    date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " 23:59:59"]
                }
                else if (filter === "7day") {
                    begindate.setDate(begindate.getDate() - 7)
                    result = [begindate.getFullYear() + "-" + (begindate.getMonth() + 1) + "-" + begindate.getDate() + " 00:00:00",
                    date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " 23:59:59"]
                }
                else if (filter === "14day") {
                    begindate.setDate(begindate.getDate() - 14)
                    result = [begindate.getFullYear() + "-" + (begindate.getMonth() + 1) + "-" + begindate.getDate() + " 00:00:00",
                    date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " 23:59:59"]
                }
                else if (filter === "30day") {
                    begindate.setDate(begindate.getDate() - 30)
                    result = [begindate.getFullYear() + "-" + (begindate.getMonth() + 1) + "-" + begindate.getDate() + " 00:00:00",
                    date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " 23:59:59"]
                }
                else if (filter === "thismonth") {
                    result = [date.getFullYear() + "-" + (date.getMonth() + 1) + "-1 00:00:00",
                    date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " 23:59:59"]
                }
                else {
                    let bedate = $(".val-show").attr("data-val");
                    result = [bedate.split(";")[0] + " 00:00:00",
                    bedate.split(";")[1] + " 23:59:59"]
                }


                return result;
            }

            function updateModalRoom(beDate) {
                let sn = $("[name='recti-serialnumber']").val();
                let thmin, thmax = 0;
                $.ajax({
                    url: '<%=appname%>/rectifier/getTreshold/' + sn,
                    type: 'get',
                    success: (res) => {

                        if (res.length > 0) {
                            //Update UI
                            thmin = res[0].room_temp_min;
                            $(".th-min").html(res[0].room_temp_min);
                            thmax = res[0].room_temp_max;
                            $(".th-max").html(res[0].room_temp_max);
                        }

                    }
                });

                $.ajax({
                    url: '<%=appname%>/rectifier/getLog/',
                    type: 'post',
                    data: {
                        sn,
                        beginDate: beDate[0],
                        endDate: beDate[1]
                    },
                    success: (res) => {

                        let data = [];
                        let min, max, avr = 0;
                        for (let i = 0; i < res.length; i++) {
                            avr += res[i].room_temp;
                            if (i == 0) {
                                min = res[i].room_temp;
                                max = res[i].room_temp;
                            }
                            else {
                                if (res[i].room_temp < min) { min = res[i].room_temp; }

                                if (res[i].room_temp > max) { max = res[i].room_temp; }
                            }

                            data.push({ date: new Date(res[i].tanggal).getTime(), value: res[i].room_temp });
                        }

                        // Current
                        $(".m-stts-current").html(res[(res.length - 1)].room_temp + "°C")

                        // Status
                        if($("#status-connection").text()=="Disconnected"){$(".m-stts-status").html("<span class='badge badge-secondary' style='background:#6c757d;'> Disconnected </span> ");}
                        else if (thmin < res[(res.length - 1)].room_temp && res[(res.length - 1)].room_temp < thmax) { $(".m-stts-status").html("<span class='badge badge-success' style='background:#28a745;'> Normal </span> "); }
                        else { $(".m-stts-status").html("<span class='badge badge-danger' style='background:#dc3545;'> Out of limit </span> "); }

                        // Average
                        $(".m-stts-avr").html((avr / res.length).toFixed(2));

                        // Minimal
                        $(".m-stts-min").html(min);

                        // Maximal
                        $(".m-stts-max").html(max);

                        // Chart
                        updateChartData(data);
                    }
                })
            }

            function updateModalPanel(beDate) {
                let sn = $("[name='recti-serialnumber']").val();
                let thmin, thmax = 0;
                $.ajax({
                    url: '<%=appname%>/rectifier/getTreshold/' + sn,
                    type: 'get',
                    success: (res) => {

                        if (res.length > 0) {
                            //Update UI
                            thmin = res[0].panel_temp_min;
                            $(".th-min").html(res[0].panel_temp_min);
                            thmax = res[0].panel_temp_max;
                            $(".th-max").html(res[0].panel_temp_max);
                        }

                    }
                });

                $.ajax({
                    url: '<%=appname%>/rectifier/getLog/',
                    type: 'post',
                    data: {
                        sn,
                        beginDate: beDate[0],
                        endDate: beDate[1]
                    },
                    success: (res) => {

                        let data = [];
                        let min, max, avr = 0;
                        for (let i = 0; i < res.length; i++) {
                            avr += res[i].panel_temp;
                            if (i == 0) {
                                min = res[i].panel_temp;
                                max = res[i].panel_temp;
                            }
                            else {
                                if (res[i].panel_temp < min) { min = res[i].panel_temp; }

                                if (res[i].panel_temp > max) { max = res[i].panel_temp; }
                            }

                            data.push({ date: new Date(res[i].tanggal).getTime(), value: res[i].panel_temp });
                        }

                        // Current
                        $(".m-stts-current").html(res[(res.length - 1)].panel_temp + "°C")

                        // Status
                        if($("#status-connection").text()=="Disconnected"){$(".m-stts-status").html("<span class='badge badge-secondary' style='background:#6c757d;'> Disconnected </span> ");}
                        else if (thmin < res[(res.length - 1)].panel_temp && res[(res.length - 1)].panel_temp < thmax) { $(".m-stts-status").html("<span class='badge badge-success' style='background:#28a745;'> Normal </span> "); }
                        else { $(".m-stts-status").html("<span class='badge badge-danger' style='background:#dc3545;'> Out of limit </span> "); }

                        // Average
                        $(".m-stts-avr").html((avr / res.length).toFixed(2));

                        // Minimal
                        $(".m-stts-min").html(min);

                        // Maximal
                        $(".m-stts-max").html(max);

                        // Chart
                        updateChartData(data);
                    }
                })
            }

            function updateModalInputVolt(beDate) {
                let sn = $("[name='recti-serialnumber']").val();
                let thmin, thmax = 0;
                $.ajax({
                    url: '<%=appname%>/rectifier/getTreshold/' + sn,
                    type: 'get',
                    success: (res) => {

                        if (res.length > 0) {
                            //Update UI
                            thmin = res[0].voltage_ln_min;
                            $(".th-min").html(res[0].voltage_ln_min);
                            thmax = res[0].voltage_ln_max;
                            $(".th-max").html(res[0].voltage_ln_max);
                        }

                    }
                });

                $.ajax({
                    url: '<%=appname%>/rectifier/getLog/',
                    type: 'post',
                    data: {
                        sn,
                        beginDate: beDate[0],
                        endDate: beDate[1]
                    },
                    success: (res) => {

                        let data = [];
                        let min, max, avr = 0;
                        for (let i = 0; i < res.length; i++) {
                            avr += res[i].voltage_ln;
                            if (i == 0) {
                                min = res[i].voltage_ln;
                                max = res[i].voltage_ln;
                            }
                            else {
                                if (res[i].voltage_ln < min) { min = res[i].voltage_ln; }

                                if (res[i].voltage_ln > max) { max = res[i].voltage_ln; }
                            }

                            data.push({ date: new Date(res[i].tanggal).getTime(), value: res[i].voltage_ln });
                        }

                        // Current
                        $(".m-stts-current").html(res[(res.length - 1)].voltage_ln + " V")

                        // Status
                        if($("#status-connection").text()=="Disconnected"){$(".m-stts-status").html("<span class='badge badge-secondary' style='background:#6c757d;'> Disconnected </span> ");}
                        else if (thmin < res[(res.length - 1)].voltage_ln && res[(res.length - 1)].voltage_ln < thmax) { $(".m-stts-status").html("<span class='badge badge-success' style='background:#28a745;'> Normal </span> "); }
                        else { $(".m-stts-status").html("<span class='badge badge-danger' style='background:#dc3545;'> Out of limit </span> "); }

                        // Average
                        $(".m-stts-avr").html((avr / res.length).toFixed(2));

                        // Minimal
                        $(".m-stts-min").html(min);

                        // Maximal
                        $(".m-stts-max").html(max);

                        // Chart
                        updateChartData(data);
                    }
                })
            }

            function updateModalInputCurr(beDate) {
                let sn = $("[name='recti-serialnumber']").val();
                let thmin, thmax = 0;
                $.ajax({
                    url: '<%=appname%>/rectifier/getTreshold/' + sn,
                    type: 'get',
                    success: (res) => {

                        if (res.length > 0) {
                            //Update UI
                            thmin = res[0].current_l_min;
                            $(".th-min").html(res[0].current_l_min);
                            thmax = res[0].current_l_max;
                            $(".th-max").html(res[0].current_l_max);
                        }

                    }
                });

                $.ajax({
                    url: '<%=appname%>/rectifier/getLog/',
                    type: 'post',
                    data: {
                        sn,
                        beginDate: beDate[0],
                        endDate: beDate[1]
                    },
                    success: (res) => {

                        let data = [];
                        let min, max, avr = 0;
                        for (let i = 0; i < res.length; i++) {
                            avr += res[i].current_l;
                            if (i == 0) {
                                min = res[i].current_l;
                                max = res[i].current_l;
                            }
                            else {
                                if (res[i].current_l < min) { min = res[i].current_l; }

                                if (res[i].current_l > max) { max = res[i].current_l; }
                            }

                            data.push({ date: new Date(res[i].tanggal).getTime(), value: res[i].current_l });
                        }

                        // Current
                        $(".m-stts-current").html(res[(res.length - 1)].current_l + " A")

                        // Status
                        if($("#status-connection").text()=="Disconnected"){$(".m-stts-status").html("<span class='badge badge-secondary' style='background:#6c757d;'> Disconnected </span> ");}
                        else if (thmin < res[(res.length - 1)].current_l && res[(res.length - 1)].current_l < thmax) { $(".m-stts-status").html("<span class='badge badge-success' style='background:#28a745;'> Normal </span> "); }
                        else { $(".m-stts-status").html("<span class='badge badge-danger' style='background:#dc3545;'> Out of limit </span> "); }

                        // Average
                        $(".m-stts-avr").html((avr / res.length).toFixed(2));

                        // Minimal
                        $(".m-stts-min").html(min);

                        // Maximal
                        $(".m-stts-max").html(max);

                        // Chart
                        updateChartData(data);
                    }
                })
            }

            function updateModalLoadVolt(beDate) {
                let sn = $("[name='recti-serialnumber']").val();
                let thmin, thmax = 0;
                $.ajax({
                    url: '<%=appname%>/rectifier/getTreshold/' + sn,
                    type: 'get',
                    success: (res) => {

                        if (res.length > 0) {
                            //Update UI
                            thmin = res[0].voltage_load_min;
                            $(".th-min").html(res[0].voltage_load_min);
                            thmax = res[0].voltage_load_max;
                            $(".th-max").html(res[0].voltage_load_max);
                        }

                    }
                });

                $.ajax({
                    url: '<%=appname%>/rectifier/getLog/',
                    type: 'post',
                    data: {
                        sn,
                        beginDate: beDate[0],
                        endDate: beDate[1]
                    },
                    success: (res) => {

                        let data = [];
                        let min, max, avr = 0;
                        for (let i = 0; i < res.length; i++) {
                            avr += res[i].voltage_load;
                            if (i == 0) {
                                min = res[i].voltage_load;
                                max = res[i].voltage_load;
                            }
                            else {
                                if (res[i].voltage_load < min) { min = res[i].voltage_load; }

                                if (res[i].voltage_load > max) { max = res[i].voltage_load; }
                            }

                            data.push({ date: new Date(res[i].tanggal).getTime(), value: res[i].voltage_load });
                        }

                        // Current
                        $(".m-stts-current").html(res[(res.length - 1)].voltage_load + "V")

                        // Status
                        if($("#status-connection").text()=="Disconnected"){$(".m-stts-status").html("<span class='badge badge-secondary' style='background:#6c757d;'> Disconnected </span> ");}
                        else if (thmin < res[(res.length - 1)].voltage_load && res[(res.length - 1)].voltage_load < thmax) { $(".m-stts-status").html("<span class='badge badge-success' style='background:#28a745;'> Normal </span> "); }
                        else { $(".m-stts-status").html("<span class='badge badge-danger' style='background:#dc3545;'> Out of limit </span> "); }

                        // Average
                        $(".m-stts-avr").html((avr / res.length).toFixed(2));

                        // Minimal
                        $(".m-stts-min").html(min);

                        // Maximal
                        $(".m-stts-max").html(max);

                        // Chart
                        updateChartData(data);
                    }
                })
            }

            function updateModalLoadCurr(beDate) {
                let sn = $("[name='recti-serialnumber']").val();
                let thmin, thmax = 0;
                $.ajax({
                    url: '<%=appname%>/rectifier/getTreshold/' + sn,
                    type: 'get',
                    success: (res) => {

                        if (res.length > 0) {
                            //Update UI
                            thmin = res[0].current_load_min;
                            $(".th-min").html(res[0].current_load_min);
                            thmax = res[0].current_load_max;
                            $(".th-max").html(res[0].current_load_max);
                        }

                    }
                });

                $.ajax({
                    url: '<%=appname%>/rectifier/getLog/',
                    type: 'post',
                    data: {
                        sn,
                        beginDate: beDate[0],
                        endDate: beDate[1]
                    },
                    success: (res) => {

                        let data = [];
                        let min, max, avr = 0;
                        for (let i = 0; i < res.length; i++) {
                            avr += res[i].current_load;
                            if (i == 0) {
                                min = res[i].current_load;
                                max = res[i].current_load;
                            }
                            else {
                                if (res[i].current_load < min) { min = res[i].current_load; }

                                if (res[i].current_load > max) { max = res[i].current_load; }
                            }

                            data.push({ date: new Date(res[i].tanggal).getTime(), value: res[i].current_load });
                        }

                        // Current
                        $(".m-stts-current").html(res[(res.length - 1)].current_load + "A")

                        // Status
                        if($("#status-connection").text()=="Disconnected"){$(".m-stts-status").html("<span class='badge badge-secondary' style='background:#6c757d;'> Disconnected </span> ");}
                        else if (thmin < res[(res.length - 1)].current_load && res[(res.length - 1)].current_load < thmax) { $(".m-stts-status").html("<span class='badge badge-success' style='background:#28a745;'> Normal </span> "); }
                        else { $(".m-stts-status").html("<span class='badge badge-danger' style='background:#dc3545;'> Out of limit </span> "); }

                        // Average
                        $(".m-stts-avr").html((avr / res.length).toFixed(2));

                        // Minimal
                        $(".m-stts-min").html(min);

                        // Maximal
                        $(".m-stts-max").html(max);

                        // Chart
                        updateChartData(data);
                    }
                })
            }

            function updateModalBattVolt(beDate) {
                let sn = $("[name='recti-serialnumber']").val();
                let thmin, thmax = 0;
                $.ajax({
                    url: '<%=appname%>/rectifier/getTreshold/' + sn,
                    type: 'get',
                    success: (res) => {

                        if (res.length > 0) {
                            //Update UI
                            thmin = res[0].voltage_batt_min;
                            $(".th-min").html(res[0].voltage_batt_min);
                            thmax = res[0].voltage_batt_max;
                            $(".th-max").html(res[0].voltage_batt_max);
                        }

                    }
                });

                $.ajax({
                    url: '<%=appname%>/rectifier/getLog/',
                    type: 'post',
                    data: {
                        sn,
                        beginDate: beDate[0],
                        endDate: beDate[1]
                    },
                    success: (res) => {

                        let data = [];
                        let min, max, avr = 0;
                        for (let i = 0; i < res.length; i++) {
                            avr += res[i].voltage_battery;
                            if (i == 0) {
                                min = res[i].voltage_battery;
                                max = res[i].voltage_battery;
                            }
                            else {
                                if (res[i].voltage_battery < min) { min = res[i].voltage_battery; }

                                if (res[i].voltage_battery > max) { max = res[i].voltage_battery; }
                            }

                            data.push({ date: new Date(res[i].tanggal).getTime(), value: res[i].voltage_battery });
                        }

                        // Current
                        $(".m-stts-current").html(res[(res.length - 1)].voltage_battery + "V")

                        // Status
                        if($("#status-connection").text()=="Disconnected"){$(".m-stts-status").html("<span class='badge badge-secondary' style='background:#6c757d;'> Disconnected </span> ");}
                        else if (thmin < res[(res.length - 1)].voltage_battery && res[(res.length - 1)].voltage_battery < thmax) { $(".m-stts-status").html("<span class='badge badge-success' style='background:#28a745;'> Normal </span> "); }
                        else { $(".m-stts-status").html("<span class='badge badge-danger' style='background:#dc3545;'> Out of limit </span> "); }

                        // Average
                        $(".m-stts-avr").html((avr / res.length).toFixed(2));

                        // Minimal
                        $(".m-stts-min").html(min);

                        // Maximal
                        $(".m-stts-max").html(max);

                        // Chart
                        updateChartData(data);
                    }
                })
            }

            function updateModalBattCurr(beDate) {
                let sn = $("[name='recti-serialnumber']").val();
                let thmin, thmax = 0;
                $.ajax({
                    url: '<%=appname%>/rectifier/getTreshold/' + sn,
                    type: 'get',
                    success: (res) => {

                        if (res.length > 0) {
                            //Update UI
                            thmin = res[0].current_batt_min;
                            $(".th-min").html(res[0].current_batt_min);
                            thmax = res[0].current_batt_max;
                            $(".th-max").html(res[0].current_batt_max);
                        }

                    }
                });

                $.ajax({
                    url: '<%=appname%>/rectifier/getLog/',
                    type: 'post',
                    data: {
                        sn,
                        beginDate: beDate[0],
                        endDate: beDate[1]
                    },
                    success: (res) => {

                        let data = [];
                        let min, max, avr = 0;
                        for (let i = 0; i < res.length; i++) {
                            avr += res[i].current_battery;
                            if (i == 0) {
                                min = res[i].current_battery;
                                max = res[i].current_battery;
                            }
                            else {
                                if (res[i].current_battery < min) { min = res[i].current_battery; }

                                if (res[i].current_battery > max) { max = res[i].current_battery; }
                            }

                            data.push({ date: new Date(res[i].tanggal).getTime(), value: res[i].current_battery });
                        }

                        // Current
                        $(".m-stts-current").html(res[(res.length - 1)].current_battery + "A")

                        // Status
                        if($("#status-connection").text()=="Disconnected"){$(".m-stts-status").html("<span class='badge badge-secondary' style='background:#6c757d;'> Disconnected </span> ");}
                        else if (thmin < res[(res.length - 1)].current_battery && res[(res.length - 1)].current_battery < thmax) { $(".m-stts-status").html("<span class='badge badge-success' style='background:#28a745;'> Normal </span> "); }
                        else { $(".m-stts-status").html("<span class='badge badge-danger' style='background:#dc3545;'> Out of limit </span> "); }

                        // Average
                        $(".m-stts-avr").html((avr / res.length).toFixed(2));

                        // Minimal
                        $(".m-stts-min").html(min);

                        // Maximal
                        $(".m-stts-max").html(max);

                        // Chart
                        updateChartData(data);
                    }
                })
            }

        </script>

</html>