<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') %>
  <%- include('layouts/inputMap') %>


    <body onload="getMap()">

      <!-- Navigation Bar --->
      <%- include('layouts/nav.ejs') %>

        <div class="container-fluid dev-detail-panel" style="height:94vh">
          <div class="row py-3">
            <div class="col-sm-2 ">
              <!-- Floating Search Option --->
              <%- include('layouts/masterList.ejs') %>
            </div>
            <div class="col-sm-10 px-4">

              <div class="bg-second rounded position-relative">
                <div>
                  <label class="title-menu"> Master Device

                  </label>
                  <button class="btn-custom btn-custom-white btn-anim-blue position-absolute"
                    style="right: 1rem;top: 0.5rem;" onclick="showmodal('C')">
                    <i class="fa fa-plus"></i> Buat Data Baru</button>
                </div>
                <div class="text-primary container">


                </div>
                <div class="p-3">
                  <table width="100%" id="datatable" class="table">

                    <thead>
                      <th width="5%">
                        <center>No.</center>
                      </th>
                      <th width="10%">
                        <center>Device ID</center>
                      </th>
                      <th width="auto">
                        <center>Name</center>
                      </th>
                      <th width="13%">
                        <center>Description</center>
                      </th>
                      <th width="13%">
                        <center>Serial Number</center>
                      </th>
                      <th width="13%">
                        <center>Provinsi</center>
                      </th>
                      <th width="13%">
                        <center>Kota</center>
                      </th>
                      <th width="20%">
                        <center>Actions</center>
                      </th>
                    </thead>
                    <tbody class="body-datatable">
                      <% let indx=1; jsonresult.forEach(function(result){ %>
                        <tr style="background-color: transparent;">
                          <td class="text-aligh-center">
                            <%= indx %>
                          </td>
                          <td>
                            <%= result.rectifier_id %>
                          </td>
                          <td>
                            <%= result.rectifier_name %>
                          </td>
                          <td>
                            <%= result.description %>
                          </td>
                          <td>
                            <%= result.serial_number %>
                          </td>
                          <td>
                            <%= result.provinsi_name %>
                          </td>
                          <td>
                            <%= result.kota_name %>
                          </td>
                          <td>
                            <button class="btn-custom btn-custom-white btn-anim-blue"
                              onclick="javascript:showmodal('U','<%= result.rectifier_id %>')">
                              <i class="fa fa-pencil"></i> Edit
                            </button>

                            <button class="btn-custom btn-custom-white btn-anim-red"
                              onclick="javascript:confirm_device_del('<%= result.rectifier_id %>','<%= result.rectifier_name %>')">
                              <i class="fa fa-trash"></i> Delete
                            </button>
                            <!-- <button class="btn btn-primary"><i class="fa fa-pencil"></i></button> -->
                            <!-- <button class="btn btn-danger"></button> -->
                          </td>
                        </tr>
                        <% indx++; }); %>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal modal-lg fade" id="modal-crud" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header title-menu">
                <h5 class="modal-title " id="mod-title">...</h5>
                <button type="button" class="close btn-modal" data-dismiss="modal" aria-label="Close">
                  <i class="fa fa-close"></i>
                </button>
              </div>

              <div class="modal-body">
                <div class="alert alert-danger alrt-msg" role="alert" style="display: none;">
                  This is a danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you
                  like.
                </div>

                <ul class="nav nav-tabs mb-3" id="tab-menu" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button type="button" class="nav-link active" id="nav-tab-1" data-bs-toggle="tab" href="#tabs-1"
                      role="tab" aria-controls="tabs-1" aria-selected="true">Information</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button type="button" class="nav-link" id="nav-tab-2" data-bs-toggle="tab" href="#tabs-2"
                      role="tab" aria-controls="tabs-2" aria-selected="false">Threshold</button>
                  </li>
                </ul>
                <!-- Tabs content -->
                <div class="tab-content" id="tab-content">
                  <div class="tab-pane fade show active" id="tabs-1" role="tabpanel" aria-labelledby="tab-1">
                    <div class="row mb-2">
                      <div class="col-xs-8 col-sm-8 col-md-8">
                        <div class="form-group">
                          <label for="txtname1">Device Name</label>
                          <input type="hidden" value="" name="deviceId" id="deviceId">
                          <input type="text" value="" name="deviceName" id="deviceName"
                            class="form-control input-sm inp-border-second" placeholder="Device Name">
                        </div>
                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                          <label for="txtname1">Description</label>
                          <input type="text" value="" name="description" id="description"
                            class="form-control input-sm inp-border-second" placeholder="Description">
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                          <label for="txtname1">Serial Number</label>
                          <input type="text" value="" name="serialNumber" id="serialNumber"
                            class="form-control input-sm inp-border-second" placeholder="Serial Number">
                        </div>
                      </div>
                      <!-- <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                          <label for="txtname1">MQTT Topic</label>
                          <input type="text" value="" name="mqttTopic" id="mqttTopic"
                            class="form-control input-sm inp-border-second" placeholder="MQTT Topic">
                        </div>
                      </div> -->
                    </div>

                    <div class="row mb-2">
                      <div class="form-group col-xs-6 col-sm-6 col-md-6">
                        <label for="role" class="text-muted">Provinsi</label>
                        <select class="form-control input-sm  inp-border-second" id="provinsi" name="cmbProvinsi"
                          onchange="getCmbKota(this.value)" required>
                        </select>
                        <input type="hidden" value="" name="provinsiName" id="provinsiName">
                      </div>

                      <div class="form-group col-xs-6 col-sm-6 col-md-6">
                        <label for="role" class="text-muted">Kota</label>
                        <select class="form-control input-sm  inp-border-second" id="kota" name="cmbKota"
                          onchange="getCmbKecamatan(this.value)" required>
                        </select>
                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="form-group col-xs-6 col-sm-6 col-md-6">
                        <label for="role" class="text-muted">Kecamatan</label>
                        <select class="form-control input-sm  inp-border-second" id="kecamatan" name="cmbKecamatan"
                          onchange="getCmbDesa(this.value)" required>
                        </select>
                      </div>

                      <div class="form-group col-xs-6 col-sm-6 col-md-6">
                        <label for="role" class="text-muted">Desa</label>
                        <select class="form-control input-sm  inp-border-second" id="desa" name="cmbDesa" required>
                        </select>
                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="form-group col-xs-6 col-sm-6 col-md-6">
                        <label for="role" class="text-muted">Latitude</label>
                        <input type="text" value="" name="latitude" id="latitude"
                          class="form-control input-sm inp-border-second inputLat" placeholder="Latitude">
                      </div>

                      <div class="form-group col-xs-6 col-sm-6 col-md-6">
                        <label for="role" class="text-muted">Longitude</label>
                        <input type="text" value="" name="longitude" id="longitude"
                          class="form-control input-sm inp-border-second inputLong" placeholder="Longitude">
                      </div>
                    </div>

                    <div id="input_map" class="form-group col-xs-6 col-sm-6 col-md-6" style="height:30vh"></div>
                  </div>
                  <div class="tab-pane fade" id="tabs-2" role="tabpanel" aria-labelledby="tab-2">

                    <div class="row mb-2">
                      <div class="col-xs-5 col-sm-5 col-md-5">
                        <div class="form-group">
                          <label class="fw-bold">Voltage L-N</label>
                          <!-- <input type="hidden" value="" name="thresholdId" id="thresholdId"> -->
                          <input type="number" value="" name="thrVoltInputMin" id="thrVoltInputMin"
                            class="form-control input-sm inp-border-second" placeholder="Min">
                          <input type="number" value="" name="thrVoltInputMax" id="thrVoltInputMax"
                            class="form-control input-sm inp-border-second" placeholder="Max">
                        </div>
                      </div>
                      <div class="offset-xm-2 offset-sm-2 offset-md-2 col-xs-5 col-sm-5 col-md-5">
                        <div class="form-group">
                          <label class="fw-bold">Current L</label>
                          <input type="number" value="" name="thrCurrInputMin" id="thrCurrInputMin"
                            class="form-control input-sm inp-border-second" placeholder="Min">
                          <input type="number" value="" name="thrCurrInputMax" id="thrCurrInputMax"
                            class="form-control input-sm inp-border-second" placeholder="Max">
                        </div>
                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="col-xs-5 col-sm-5 col-md-5">
                        <div class="form-group">
                          <label class="fw-bold">Voltage Load</label>
                          <input type="number" value="" name="thrVoltLoadMin" id="thrVoltLoadMin"
                            class="form-control input-sm inp-border-second" placeholder="Min">
                          <input type="number" value="" name="thrVoltLoadMax" id="thrVoltLoadMax"
                            class="form-control input-sm inp-border-second" placeholder="Max">
                        </div>
                      </div>
                      <div class="offset-xm-2 offset-sm-2 offset-md-2 col-xs-5 col-sm-5 col-md-5">
                        <div class="form-group">
                          <label class="fw-bold">Current Load</label>
                          <input type="number" value="" name="thrCurrLoadMin" id="thrCurrLoadMin"
                            class="form-control input-sm inp-border-second" placeholder="Min">
                          <input type="number" value="" name="thrCurrLoadMax" id="thrCurrLoadMax"
                            class="form-control input-sm inp-border-second" placeholder="Max">
                        </div>
                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="col-xs-5 col-sm-5 col-md-5">
                        <div class="form-group">
                          <label class="fw-bold">Voltage Battery</label>
                          <input type="number" value="" name="thrVoltBattMin" id="thrVoltBattMin"
                            class="form-control input-sm inp-border-second" placeholder="Min">
                          <input type="number" value="" name="thrVoltBattMax" id="thrVoltBattMax"
                            class="form-control input-sm inp-border-second" placeholder="Max">
                        </div>
                      </div>
                      <div class="offset-xm-2 offset-sm-2 offset-md-2 col-xs-5 col-sm-5 col-md-5">
                        <div class="form-group">
                          <label class="fw-bold">Current Battery</label>
                          <input type="number" value="" name="thrCurrBattMin" id="thrCurrBattMin"
                            class="form-control input-sm inp-border-second" placeholder="Min">
                          <input type="number" value="" name="thrCurrBattMax" id="thrCurrBattMax"
                            class="form-control input-sm inp-border-second" placeholder="Max">
                        </div>
                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="col-xs-5 col-sm-5 col-md-5">
                        <div class="form-group">
                          <label class="fw-bold">Room Temperature</label>
                          <input type="number" value="" name="thrRoomTempMin" id="thrRoomTempMin"
                            class="form-control input-sm inp-border-second" placeholder="Min">
                          <input type="number" value="" name="thrRoomTempMax" id="thrRoomTempMax"
                            class="form-control input-sm inp-border-second" placeholder="Max">
                        </div>
                      </div>
                      <div class="offset-xm-2 offset-sm-2 offset-md-2 col-xs-5 col-sm-5 col-md-5">
                        <div class="form-group">
                          <label class="fw-bold">Panel Temperature</label>
                          <input type="number" value="" name="thrPanelTempMin" id="thrPanelTempMin"
                            class="form-control input-sm inp-border-second" placeholder="Min">
                          <input type="number" value="" name="thrPanelTempMax" id="thrPanelTempMax"
                            class="form-control input-sm inp-border-second" placeholder="Max">
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <!-- Tabs content -->
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-save"
                  onclick="javascript:device_add()">Save</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal" id="message" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header title-menu">
                <h5 class="modal-title msg-title">Confirmation </h5>
                <button type="button" class="close btn-modal" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p id="errMsg">Modal body text goes here.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger confirm-del" data-id=""
                  onclick="javascript:device_del(this)" style="display:none">Delete</button>
                <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

    </body>

    <%- include('layouts/footer') %>
    
      <script>

        let dtTable;

        $(document).ready(function () {

          // begin data table
          dtTable = $('#datatable').DataTable();

          // set function close modal to button close (class close)
          $(".close").click(function () {
            $('#modal-crud').modal("hide")
          });

          // Fill master Provinsi
          $.get('<%=appname%>/provinsi/getAll', function (data, status) {

            let html = "";
            $.each(data, function (i, v) {

              //console.log(" See d data "+JSON.stringify(v));
              html += "<option value='" + v.provinsi_id + "' data-name='" + v.provinsi_name + "'>" + v.provinsi_name + "</option>";

            });

            // set to html 
            $("#provinsi").html(html);

          });


        });

        function getCmbKota(param) {
          // Fill master Kota
          $.get('<%=appname%>/kota/getByProvinsi/' + param, function (data, status) {

            let html = "";
            $.each(data, function (i, v) {

              //console.log(" See d data "+JSON.stringify(v));
              html += "<option value='" + v.kota_id + "' data-name='" + v.kota_name + "'>" + v.kota_name + "</option>";

            });

            // set to html 
            $("#kota").html(html);

          });
        }

        function getCmbKecamatan(param) {
          // Fill master Kecamatan
          $.get('<%=appname%>/kecamatan/getBykota/' + param, function (data, status) {

            let html = "";
            $.each(data, function (i, v) {

              //console.log(" See d data "+JSON.stringify(v));
              html += "<option value='" + v.kecamatan_id + "' data-name='" + v.kecamatan_name + "'>" + v.kecamatan_name + "</option>";

            });

            // set to html 
            $("#kecamatan").html(html);

          });
        }

        function getCmbDesa(param) {
          // Fill master Desa
          $.get('<%=appname%>/desa/getByKecamatan/' + param, function (data, status) {

            let html = "";
            $.each(data, function (i, v) {

              //console.log(" See d data "+JSON.stringify(v));
              html += "<option value='" + v.desa_id + "' data-name='" + v.desa_name + "'>" + v.desa_name + "</option>";

            });

            // set to html 
            $("#desa").html(html);

          });
        }


        function showmodal(action, id) {
          if (action === 'U') {
            $("#mod-title").html("Update Master Device");

            // Get data master
            $.get('<%=appname%>/device/' + id, function (data, status) {

              let v = data[0];

              // console.log(v);
              $("#deviceId").val(v.rectifier_id);
              $("#deviceName").val(v.rectifier_name);
              $("#description").val(v.description);
              $("#serialNumber").val(v.serial_number);
              
              $("#serialNumber").prop("readonly", true);
              $("#serialNumber").css("background-color", "lightgrey");

              // $("#mqttTopic").val(v.mqtt_topic);
              $("#provinsi").val(v.provinsi_id).change();
              setTimeout(function () { $("#kota").val(v.kota_id).change() }, 100);
              setTimeout(function () { $("#kecamatan").val(v.kecamatan_id).change() }, 200);
              setTimeout(function () { $("#desa").val(v.desa_id).change() }, 300);
              $("#latitude").val(v.lat);
              $("#longitude").val(v.long);

              $("#thrVoltInputMin").val(v.voltage_ln_min);
              $("#thrVoltInputMax").val(v.voltage_ln_max);
              $("#thrCurrInputMin").val(v.current_l_min);
              $("#thrCurrInputMax").val(v.current_l_max);

              $("#thrVoltLoadMin").val(v.voltage_load_min);
              $("#thrVoltLoadMax").val(v.voltage_load_max);
              $("#thrCurrLoadMin").val(v.current_load_min);
              $("#thrCurrLoadMax").val(v.current_load_max);

              $("#thrVoltBattMin").val(v.voltage_batt_min);
              $("#thrVoltBattMax").val(v.voltage_batt_max);
              $("#thrCurrBattMin").val(v.current_batt_min);
              $("#thrCurrBattMax").val(v.current_batt_max);

              $("#thrRoomTempMin").val(v.room_temp_min);
              $("#thrRoomTempMax").val(v.room_temp_max);
              $("#thrPanelTempMin").val(v.panel_temp_min);
              $("#thrPanelTempMax").val(v.panel_temp_max);

              $('#modal-crud').modal("show")

            });

            $(".btn-save").attr("onclick", "device_upd()");


          }
          else {
            $("#mod-title").html("Menambahkan Master Device");

            // Clear Input
            $("#deviceId").val("");
            $("#deviceName").val("");
            $("#description").val("");
            $("#serialNumber").val("");
            
            $("#serialNumber").prop("readonly", false);
            $("#serialNumber").css("background-color", "");

            // $("#mqttTopic").val("");
            $("#provinsi").val("");
            $("#kota").val("");
            $("#kecamatan").val("");
            $("#desa").val("");
            $("#latitude").val("");
            $("#longitude").val("");

            $("#thrVoltInputMin").val("");
            $("#thrVoltInputMax").val("");
            $("#thrCurrInputMin").val("");
            $("#thrCurrInputMax").val("");

            $("#thrVoltLoadMin").val("");
            $("#thrVoltLoadMax").val("");
            $("#thrCurrLoadMin").val("");
            $("#thrCurrLoadMax").val("");

            $("#thrVoltBattMin").val("");
            $("#thrVoltBattMax").val("");
            $("#thrCurrBattMin").val("");
            $("#thrCurrBattMax").val("");

            $("#thrRoomTempMin").val("");
            $("#thrRoomTempMax").val("");
            $("#thrPanelTempMin").val("");
            $("#thrPanelTempMax").val("");

            $('#modal-crud').modal("show");

            $(".btn-save").attr("onclick", "device_add()");
          }
        }

        function confirm_device_del(id, name) {
          $(".msg-title").html("Confirmation");
          $("#errMsg").html("Apakah anda yakin akan menghapus data " + name + " ini ?");
          $(".confirm-del").show();
          $(".confirm-del").attr("data-id", id);
          $('#message').modal("show");
        }

        function device_del(obj) {
          let id = $(obj).attr("data-id");
          $.ajax({
            url: '<%=appname%>/device/deviceDel',
            type: 'post',
            data: {
              id
            },
            success: (res) => {

              if (res == 'success') {
                getInfo();

                $('#message').modal("hide");
              }
              else {
                $(".msg-title").html("Error Message");
                $(".confirm-del").hide();
                $("#errMsg").html("Error delete data, please contact your administrator.");
                $(".confirm-del").attr("data-id", "");
                $('#message').modal("show");
                //$(".alrt-msg").html("Error delete data, please contact your administrator.");
                //$(".alrt-msg").show().delay(5000).slideUp(1000);
              }
            }
          });
        }

        function device_upd() {
          // Object needed
          let id = $("#deviceId").val();
          let name = $("#deviceName").val();
          let description = $("#description").val();
          let serialNumber = $("#serialNumber").val();
          // let mqttTopic = $("#mqttTopic").val();
          let provinsi = $("#provinsi").val();
          let kota = $("#kota").val();
          let kecamatan = $("#kecamatan").val();
          let desa = $("#desa").val();
          let lat = $("#latitude").val();
          let lon = $("#longitude").val();

          let voltLnMin = $("#thrVoltInputMin").val();
          let voltLnMax = $("#thrVoltInputMax").val();
          let curLMin = $("#thrCurrInputMin").val();
          let curLMax = $("#thrCurrInputMax").val();

          let voltLoadMin = $("#thrVoltLoadMin").val();
          let voltLoadMax = $("#thrVoltLoadMax").val();
          let curLoadMin = $("#thrCurrLoadMin").val();
          let curLoadMax = $("#thrCurrLoadMax").val();

          let voltBattMin = $("#thrVoltBattMin").val();
          let voltBattMax = $("#thrVoltBattMax").val();
          let curBattMin = $("#thrCurrBattMin").val();
          let curBattMax = $("#thrCurrBattMax").val();

          let roomTempMin = $("#thrRoomTempMin").val();
          let roomTempMax = $("#thrRoomTempMax").val();
          let panelTempMin = $("#thrPanelTempMin").val();
          let panelTempMax = $("#thrPanelTempMax").val();

          if (name == "" || description == "" || serialNumber == "" || //mqttTopic == "" ||
            provinsi == "" || kota == "" || kecamatan == "" || desa == "" || lat == "" || lon == "" ||
            voltLnMin == "" || voltLnMax == "" || curLMin == "" || curLMax == "" ||
            voltLoadMin == "" || voltLoadMax == "" || curLoadMin == "" || curLoadMax == "" ||
            voltBattMin == "" || voltBattMax == "" || curBattMin == "" || curBattMax == "" ||
            roomTempMin == "" || roomTempMax == "" || panelTempMin == "" || panelTempMax == "") {

            if (name === "") { $(".alrt-msg").html("Mohon isi form Device Name !!! "); }
            else if (description === "") { $(".alrt-msg").html("Mohon isi form Description !!! "); }
            else if (serialNumber === "") { $(".alrt-msg").html("Mohon isi form Serial Number !!! "); }
            // else if (mqttTopic === "") { $(".alrt-msg").html("Mohon isi form MQTT Topic !!! "); }
            else if (provinsi === "") { $(".alrt-msg").html("Mohon isi form Provinsi !!! "); }
            else if (kota === "") { $(".alrt-msg").html("Mohon isi form Kota !!! "); }
            else if (kecamatan === "") { $(".alrt-msg").html("Mohon isi form Kecamatan !!! "); }
            else if (desa === "") { $(".alrt-msg").html("Mohon isi form Desa !!! "); }
            else if (lat === "" || lon === "") { $(".alrt-msg").html("Mohon isi form Latitude dan Longitude !!! "); }

            else if (voltLnMin === "") { $(".alrt-msg").html("Mohon isi nilai Min. Voltage L-N !!! "); }
            else if (voltLnMax === "") { $(".alrt-msg").html("Mohon isi nilai Max. Voltage L-N !!! "); }
            else if (curLMin === "") { $(".alrt-msg").html("Mohon isi nilai Min. Current L !!! "); }
            else if (curLMax === "") { $(".alrt-msg").html("Mohon isi nilai Max. Current L !!! "); }
            else if (voltLoadMin === "") { $(".alrt-msg").html("Mohon isi nilai Min. Voltage Load !!! "); }
            else if (voltLoadMax === "") { $(".alrt-msg").html("Mohon isi nilai Max. Voltage Load-N !!! "); }
            else if (curLoadMin === "") { $(".alrt-msg").html("Mohon isi nilai Min. Current Load !!! "); }
            else if (curLoadMax === "") { $(".alrt-msg").html("Mohon isi nilai Max. Current Load !!! "); }
            else if (voltBattMin === "") { $(".alrt-msg").html("Mohon isi nilai Min. Voltage Battery !!! "); }
            else if (voltBattMax === "") { $(".alrt-msg").html("Mohon isi nilai Max. Voltage Battery !!! "); }
            else if (curBattMin === "") { $(".alrt-msg").html("Mohon isi nilai Min. Current Battery !!! "); }
            else if (curBattMax === "") { $(".alrt-msg").html("Mohon isi nilai Max. Current Battery !!! "); }
            else if (roomTempMin === "") { $(".alrt-msg").html("Mohon isi nilai Min. Room Temperature !!! "); }
            else if (roomTempMax === "") { $(".alrt-msg").html("Mohon isi nilai Max. Room Temperature !!! "); }
            else if (panelTempMin === "") { $(".alrt-msg").html("Mohon isi nilai Min. Panel Temperature !!! "); }
            else if (panelTempMax === "") { $(".alrt-msg").html("Mohon isi nilai Max. Panel Temperature !!! "); }

            $(".alrt-msg").show().delay(5000).slideUp(1000);
          }
          else {
            $.ajax({
              url: '<%=appname%>/device/deviceUpd',
              type: 'post',
              data: {
                id,
                name,
                description,
                serialNumber,
                // mqttTopic,
                provinsi,
                kota,
                kecamatan,
                desa,
                lat,
                lon,
                voltLnMin,
                voltLnMax,
                curLMin,
                curLMax,
                voltLoadMin,
                voltLoadMax,
                curLoadMin,
                curLoadMax,
                voltBattMin,
                voltBattMax,
                curBattMin,
                curBattMax,
                roomTempMin,
                roomTempMax,
                panelTempMin,
                panelTempMax
              },
              success: (res) => {

                if (res == 'success') {
                  getInfo();

                  $('#modal-crud').modal("hide");
                }
                else {
                  $(".alrt-msg").html("Error update data, please contact your administrator.");

                  $(".alrt-msg").show().delay(5000).slideUp(1000);
                }
              }
            });
          }
        }

        function device_add() {
          // Object needed
          // let id = $("#deviceId").val();
          let name = $("#deviceName").val();
          let description = $("#description").val();
          let serialNumber = $("#serialNumber").val();
          // let mqttTopic = $("#mqttTopic").val();
          let provinsi = $("#provinsi").val();
          let kota = $("#kota").val();
          let kecamatan = $("#kecamatan").val();
          let desa = $("#desa").val();
          let lat = $("#latitude").val();
          let lon = $("#longitude").val();

          let voltLnMin = $("#thrVoltInputMin").val();
          let voltLnMax = $("#thrVoltInputMax").val();
          let curLMin = $("#thrCurrInputMin").val();
          let curLMax = $("#thrCurrInputMax").val();

          let voltLoadMin = $("#thrVoltLoadMin").val();
          let voltLoadMax = $("#thrVoltLoadMax").val();
          let curLoadMin = $("#thrCurrLoadMin").val();
          let curLoadMax = $("#thrCurrLoadMax").val();

          let voltBattMin = $("#thrVoltBattMin").val();
          let voltBattMax = $("#thrVoltBattMax").val();
          let curBattMin = $("#thrCurrBattMin").val();
          let curBattMax = $("#thrCurrBattMax").val();

          let roomTempMin = $("#thrRoomTempMin").val();
          let roomTempMax = $("#thrRoomTempMax").val();
          let panelTempMin = $("#thrPanelTempMin").val();
          let panelTempMax = $("#thrPanelTempMax").val();

          if (name == "" || description == "" || serialNumber == "" || //mqttTopic == "" ||
            provinsi == "" || kota == "" || kecamatan == "" || desa == "" || lat == "" || lon == "" ||
            voltLnMin == "" || voltLnMax == "" || curLMin == "" || curLMax == "" ||
            voltLoadMin == "" || voltLoadMax == "" || curLoadMin == "" || curLoadMax == "" ||
            voltBattMin == "" || voltBattMax == "" || curBattMin == "" || curBattMax == "" ||
            roomTempMin == "" || roomTempMax == "" || panelTempMin == "" || panelTempMax == "") {

            if (name === "") { $(".alrt-msg").html("Mohon isi form Device Name !!! "); }
            else if (description === "") { $(".alrt-msg").html("Mohon isi form Description !!! "); }
            else if (serialNumber === "") { $(".alrt-msg").html("Mohon isi form Serial Number !!! "); }
            // else if (mqttTopic === "") { $(".alrt-msg").html("Mohon isi form MQTT Topic !!! "); }
            else if (provinsi === "") { $(".alrt-msg").html("Mohon isi form Provinsi !!! "); }
            else if (kota === "") { $(".alrt-msg").html("Mohon isi form Kota !!! "); }
            else if (kecamatan === "") { $(".alrt-msg").html("Mohon isi form Kecamatan !!! "); }
            else if (desa === "") { $(".alrt-msg").html("Mohon isi form Desa !!! "); }
            else if (lat === "" || lon === "") { $(".alrt-msg").html("Mohon isi form Latitude dan Longitude !!! "); }

            else if (voltLnMin === "") { $(".alrt-msg").html("Mohon isi nilai Min. Voltage L-N !!! "); }
            else if (voltLnMax === "") { $(".alrt-msg").html("Mohon isi nilai Max. Voltage L-N !!! "); }
            else if (curLMin === "") { $(".alrt-msg").html("Mohon isi nilai Min. Current L !!! "); }
            else if (curLMax === "") { $(".alrt-msg").html("Mohon isi nilai Max. Current L !!! "); }
            else if (voltLoadMin === "") { $(".alrt-msg").html("Mohon isi nilai Min. Voltage Load !!! "); }
            else if (voltLoadMax === "") { $(".alrt-msg").html("Mohon isi nilai Max. Voltage Load-N !!! "); }
            else if (curLoadMin === "") { $(".alrt-msg").html("Mohon isi nilai Min. Current Load !!! "); }
            else if (curLoadMax === "") { $(".alrt-msg").html("Mohon isi nilai Max. Current Load !!! "); }
            else if (voltBattMin === "") { $(".alrt-msg").html("Mohon isi nilai Min. Voltage Battery !!! "); }
            else if (voltBattMax === "") { $(".alrt-msg").html("Mohon isi nilai Max. Voltage Battery !!! "); }
            else if (curBattMin === "") { $(".alrt-msg").html("Mohon isi nilai Min. Current Battery !!! "); }
            else if (curBattMax === "") { $(".alrt-msg").html("Mohon isi nilai Max. Current Battery !!! "); }
            else if (roomTempMin === "") { $(".alrt-msg").html("Mohon isi nilai Min. Room Temperature !!! "); }
            else if (roomTempMax === "") { $(".alrt-msg").html("Mohon isi nilai Max. Room Temperature !!! "); }
            else if (panelTempMin === "") { $(".alrt-msg").html("Mohon isi nilai Min. Panel Temperature !!! "); }
            else if (panelTempMax === "") { $(".alrt-msg").html("Mohon isi nilai Max. Panel Temperature !!! "); }

            $(".alrt-msg").show().delay(5000).slideUp(1000);
          }
          else {
            $.ajax({
              url: '<%=appname%>/device/deviceAdd',
              type: 'post',
              data: {
                name,
                description,
                serialNumber,
                // mqttTopic,
                provinsi,
                kota,
                kecamatan,
                desa,
                lat,
                lon,
                voltLnMin,
                voltLnMax,
                curLMin,
                curLMax,
                voltLoadMin,
                voltLoadMax,
                curLoadMin,
                curLoadMax,
                voltBattMin,
                voltBattMax,
                curBattMin,
                curBattMax,
                roomTempMin,
                roomTempMax,
                panelTempMin,
                panelTempMax
              },
              success: (res) => {

                if (res == 'success') {
                  getInfo();

                  $('#modal-crud').modal("hide");
                }
                else {
                  $(".alrt-msg").html("Error add data, please contact your administrator.");

                  $(".alrt-msg").show().delay(5000).slideUp(1000);
                }
              }
            });
          }
        }

        function getInfo() {
          dtTable.destroy();

          $.get('<%=appname%>/device/getAll', function (data, status) {


            let html = "";
            $.each(data, function (i, v) {

              html += '<tr  style="background-color: transparent;">\
                    <td class="text-aligh-center">'+ (i + 1) + ' </td>\
                    <td>'+ v.rectifier_id + '</td>\
                    <td>'+ v.rectifier_name + '</td>\
                    <td>'+ v.description + '</td>\
                    <td>'+ v.serial_number + '</td>\
                    <td>'+ v.provinsi_name + '</td>\
                    <td>'+ v.kota_name + '</td>\
                    <td>\
                      <button class="btn-custom btn-custom-white btn-anim-blue" onclick="javascript:showmodal(\'U\',\''+ v.rectifier_id + '\')">\
                        <i class="fa fa-pencil"></i> Edit \
                      </button>\
                      <button class="btn-custom btn-custom-white btn-anim-red" onclick="javascript:confirm_user_del(\''+ v.rectifier_id + '\',\'' + v.rectifier_name + '\')" >\
                        <i class="fa fa-trash"></i> Delete \
                      </button>\
                    </td>\
                </tr>';

            });

            // set to html 
            $(".body-datatable").html(html);
            // refresh data table
            dtTable = $('#datatable').delay(1000).DataTable();
          });


        }
      </script>

</html>