<!DOCTYPE html>
<html>
	<%- include('layouts/header') %>

	<link rel="stylesheet" href="/css/wavebackground.css">
	<body>
		<div class="anim-stars">
			<div class="stars">
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
			</div>
		</div>
		
		<section class="vh-100 gradient-custom">
			<div class="container py-5 h-100">
			  <div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-12 col-md-8 col-lg-6 col-xl-5">
				  <div class="card bg-second-gradient text-white" style="border-radius: 1rem;">
					<div class="card-body p-5 text-center">
		  
					  <div class="mb-md-5 mt-md-4 pb-5">
						<h2 class="fw-bold mb-2 text-uppercase">Login</h2>
						<p class="text-primary-50 mb-5">Please enter your login and password!</p>
						
						<form id="loginForm">
							<div class="form-floating form-primary mb-4">
							<input type="text" id="typeUsernameX" class="form-control form-control-lg inp-login" name="username" placeholder="Username"/>
							<label class="form-label" for="typeUsernameX">Username</label>
							<i class="fa fa-user"></i>
							</div>
			
							<div class="form-floating form-primary mb-4">
							<input type="password" id="typePasswordX" class="form-control form-control-lg inp-login" name="password"  placeholder="Password" />
							<label class="form-label" for="typePasswordX">Password</label>
							<i class="fa fa-lock"></i>
							</div>
					
							<button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
						</form>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		</section>

		<div class="modal" id="message" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header title-menu" >
						<h5 class="modal-title">Warning Message</h5>
						<button type="button" class="close btn-modal" data-bs-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p id="loginMsg">Modal body text goes here.</p>
					</div>
					<div class="modal-footer">
						<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
						<button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</body>

	<script>
		$(document).ready(function() {
			$("#loginForm").submit(function(event) {
				let username = $('#typeUsernameX').val()
				let password = $('#typePasswordX').val()
				$.ajax({
					url: '/monrectbat/login',
					type: 'post',
					data: {
						username,
						password
					},
					success: (res) => {
						console.log(res)
						if (res.status == 1) {
							let koor = res.data[0].koordinat.split("#");
							document.cookie = "token =" + res.token + ";expires=Fri, 31 Des 2060 23:00:00 UTC; path=/";
							document.cookie = "name=" + res.data[0].name + ";expires=Fri, 31 Des 2060 23:00:00 UTC; path=/";
							document.cookie = "username=" + res.data[0].username + ";expires=Fri, 31 Des 2060 23:00:00 UTC; path=/";
							document.cookie = "photo=" + res.data[0].photo + ";expires=Fri, 31 Des 2060 23:00:00 UTC; path=/";
							document.cookie = "roleId=" + res.data[0].id_role + ";expires=Fri, 31 Des 2060 23:00:00 UTC; path=/";
							document.cookie = "location=" + res.data[0].wilayah_name + ";expires=Fri, 31 Des 2060 23:00:00 UTC; path=/";
							document.cookie = "userId=" + res.data[0].id + ";expires=Fri, 31 Des 2060 23:00:00 UTC; path=/";
							document.cookie = "lat=" + koor[1] + ";expires=Fri, 31 Des 2060 23:00:00 UTC; path=/";
							document.cookie = "long=" + koor[2] + ";expires=Fri, 31 Des 2060 23:00:00 UTC; path=/";
	
							localStorage.setItem("lat", koor[1])
							localStorage.setItem("long", koor[2])
							window.location.href = "/monrectbat";
						} else {
							$('#message').modal("show");
							$('.close').focus();
							$('#loginMsg').text('Login Failed Check! Your Username And Password');
						}
	
					}
				})
				event.preventDefault()
			})
		})
	</script>
</html>