<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') %>
    <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
    <!-- <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script> -->


    <style>
        .nav-link {
            color: var(--link);
        }

        .nav-tabs {
            border-bottom: 5px solid var(--second) !important;
        }

        .nav-link.active {
            color: var(--white) !important;
            background-color: var(--second) !important;
            border-color: var(--second) !important;
        }

        .nav-link:hover {
            color: var(--link) !important;
        }
    </style>

    <body tyle="overflow: hidden;">

        <!-- Navigation Bar --->
        <%- include('layouts/nav.ejs') %>

            <div class="container-fluid dev-detail-panel" style="height:94vh; position: relative;">
                <div class="row">
                    <div class="col-sm-2 mt-3">
                        <!-- Floating Search Option --->
                        <%- include('layouts/deviceSearch.ejs') %>
                    </div>
                    <div class="col-sm-10 px-4 pt-3 device-info">
                        <!-- <div class="rounded" style="background: var(--skyblue);"> -->
                        <ul class="nav nav-tabs mb-3" id="tab-menu" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="nav-tab-1" data-bs-toggle="tab" href="#tabs-1"
                                    role="tab" aria-controls="tabs-1" aria-selected="true">Alarm Event</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="nav-tab-2" data-bs-toggle="tab" href="#tabs-2" role="tab"
                                    aria-controls="tabs-2" aria-selected="false">Disconnected Event</button>
                            </li>
                        </ul>
                        <!-- </div> -->
                        <div class="tab-content" id="tab-content">
                            <div style="display: table-row">
                                <div style="display: table-cell; width: 110px;"><b>Time Range :</b></div>
                                <div class="custom-select-opt-cover" style="display: table-cell;"
                                    onclick="closeSelectOpt()">
                                </div>
                                <div class="custom-select-opt">
                                    <span class="val-show" onclick="showSelectOpt()" data-val="all">All Data</span>
                                    <div class="select-opt">
                                        <ul class="list-group">
                                            <li class="list-group-item" data-val="all">All Data</li>
                                            <li class="list-group-item" data-val="today">Today</li>
                                            <li class="list-group-item" data-val="7day">Last 7 Days</li>
                                            <li class="list-group-item" data-val="14day">Last 14 Days</li>
                                            <li class="list-group-item" data-val="30day">Last 30 Days</li>
                                            <li class="list-group-item" data-val="thismonth">This Month</li>
                                            <li class="list-group-item parent-drp" style="position: relative;">
                                                <h6>Custom time range</h6>
                                                <input type="hidden" name="date-begin">
                                                <input type="hidden" name="date-end">
                                                <input type="text" id="date" style="position: relative;">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade show active" id="tabs-1" role="tabpanel" aria-labelledby="tab-1">
                                <div class="row recti-detail mt-3 p-3">
                                    <div>
                                        <span class="py-2">Sensor Alarm At this Time</span>
                                    </div>
                                    <div id="rechand" class="recti-handler p-3" style="margin-bottom: 30px;">
                                        <table width="100%" id="datatable" class="table" cellspacing="0">

                                            <thead>
                                                <th width="15%">
                                                    <center>Status</center>
                                                </th>
                                                <th width="auto">
                                                    <center>Equipment</center>
                                                </th>
                                                <th width="20%">
                                                    <center>Location</center>
                                                </th>
                                                <th width="20%">
                                                    <center>Date Time</center>
                                                </th>
                                                <th width="20%">
                                                    <center>Sensor</center>
                                                </th>
                                                <th width="10%">
                                                    <center>Value</center>
                                                </th>

                                            </thead>
                                            <tbody class="body-datatable">
                                                <% jsonresult.forEach(function(result){ %>
                                                    <% if (result.event_type.toLowerCase()=="alarm" &&
                                                        result.flag_notif=="Y" && result.status.toLowerCase() !="normal"
                                                        ) { %>
                                                        <tr style="background-color: transparent;">

                                                            <td>
                                                                <%= result.status %>
                                                            </td>
                                                            <td>
                                                                <a
                                                                    href="<%=appname%>/location/<%= result.rectifier_id %>">
                                                                    <%= result.equipment %>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <%= result.location %>
                                                            </td>
                                                            <td>
                                                                <%= result.date_time %>
                                                            </td>
                                                            <td>
                                                                <%= result.sensor %>
                                                            </td>
                                                            <td>
                                                                <%= result.value %>
                                                            </td>
                                                        </tr>
                                                        <% } %>
                                                            <% }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div>
                                        <span class="py-2">Sensor Alarm Event Record</span>
                                        <button class="btn-custom btn-custom-white" style="margin: 10px;"
                                            id="expAlarmRecord">
                                            <i class="fa fa-download"></i> Download XLS</button>
                                    </div>
                                    <div id="rechand" class="recti-handler p-3">
                                        <table width="100%" id="datatable1" class="table alrm-table" cellspacing="0">

                                            <thead>
                                                <th width="15%">
                                                    <center>Status</center>
                                                </th>
                                                <th width="auto">
                                                    <center>Equipment</center>
                                                </th>
                                                <th width="20%">
                                                    <center>Location</center>
                                                </th>
                                                <th width="20%">
                                                    <center>Date Time</center>
                                                </th>
                                                <th width="20%">
                                                    <center>Sensor</center>
                                                </th>
                                                <th width="10%">
                                                    <center>Value</center>
                                                </th>

                                            </thead>
                                            <tbody class="body-datatable">
                                                <% jsonresult.forEach(function(result){ %>
                                                    <% if (result.event_type.toLowerCase()=="alarm" ) { %>
                                                        <tr style="background-color: transparent;">

                                                            <td>
                                                                <%= result.status %>
                                                            </td>
                                                            <td>
                                                                <%= result.equipment %>
                                                            </td>
                                                            <td>
                                                                <%= result.location %>
                                                            </td>
                                                            <td>
                                                                <%= result.date_time %>
                                                            </td>
                                                            <td>
                                                                <%= result.sensor %>
                                                            </td>
                                                            <td>
                                                                <%= result.value %>
                                                            </td>
                                                        </tr>
                                                        <% } %>
                                                            <% }); %>
                                            </tbody>
                                        </table>
                                        <!-- DUMP TABLE FOR EXPORT -->
                                        <table width="100%" id="dumpTableAlarm" class="table dump-alrm-table"
                                            style="display: none;" cellspacing="0">

                                            <thead>
                                                <th width="15%">
                                                    <center>Status</center>
                                                </th>
                                                <th width="auto">
                                                    <center>Equipment</center>
                                                </th>
                                                <th width="20%">
                                                    <center>Location</center>
                                                </th>
                                                <th width="20%">
                                                    <center>Date Time</center>
                                                </th>
                                                <th width="20%">
                                                    <center>Sensor</center>
                                                </th>
                                                <th width="10%">
                                                    <center>Value</center>
                                                </th>

                                            </thead>
                                            <tbody class="body-datatable">
                                                <% jsonresult.forEach(function(result){ %>
                                                    <% if (result.event_type.toLowerCase()=="alarm" ) { %>
                                                        <tr style="background-color: transparent;">

                                                            <td>
                                                                <%= result.status %>
                                                            </td>
                                                            <td>
                                                                <%= result.equipment %>
                                                            </td>
                                                            <td>
                                                                <%= result.location %>
                                                            </td>
                                                            <td>
                                                                <%= result.date_time %>
                                                            </td>
                                                            <td>
                                                                <%= result.sensor %>
                                                            </td>
                                                            <td>
                                                                <%= result.value %>
                                                            </td>
                                                        </tr>
                                                        <% } %>
                                                            <% }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="tabs-2" role="tabpanel" aria-labelledby="tab-2">
                                <div class="row recti-detail mt-3 p-3">
                                    <div>
                                        <span class="py-2">Disconnect At This Time</span>
                                    </div>
                                    <div id="rechand" class="recti-handler p-3" style="margin-bottom: 30px;">
                                        <table width="100%" id="datatable2" class="table" cellspacing="0">

                                            <thead>
                                                <th width="15%">
                                                    <center>Status</center>
                                                </th>
                                                <th width="20%">
                                                    <center>Equipment</center>
                                                </th>
                                                <th width="20%">
                                                    <center>Location</center>
                                                </th>
                                                <th width="auto">
                                                    <center>Date Time</center>
                                                </th>

                                            </thead>
                                            <tbody class="body-datatable">
                                                <% jsonresult.forEach(function(result){ %>
                                                    <% if (result.event_type.toLowerCase()=="disconnect" &&
                                                        result.flag_notif=="Y" && result.status.toLowerCase()
                                                        !="connected" ) { %>
                                                        <tr style="background-color: transparent;">

                                                            <td>
                                                                <%= result.status %>
                                                            </td>
                                                            <td>
                                                                <a
                                                                    href="<%=appname%>/location/<%= result.rectifier_id %>">
                                                                    <%= result.equipment %>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <%= result.location %>
                                                            </td>
                                                            <td>
                                                                <%= result.date_time %>
                                                            </td>

                                                        </tr>
                                                        <% } %>
                                                            <% }); %>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div>
                                        <span class="py-2">Disconnect Event Record</span>
                                        <button class="btn-custom btn-custom-white" style="margin: 10px;"
                                            id="expDiscRecord">
                                            <i class="fa fa-download"></i> Download XLS</button>
                                    </div>

                                    <div id="rechand" class="recti-handler p-3">
                                        <table width="100%" id="datatable3" class="table disc-table" cellspacing="0">

                                            <thead>
                                                <th width="15%">
                                                    <center>Status</center>
                                                </th>
                                                <th width="20%">
                                                    <center>Equipment</center>
                                                </th>
                                                <th width="20%">
                                                    <center>Location</center>
                                                </th>
                                                <th width="auto">
                                                    <center>Date Time</center>
                                                </th>

                                            </thead>
                                            <tbody class="body-datatable">
                                                <% jsonresult.forEach(function(result){ %>
                                                    <% if (result.event_type.toLowerCase()=="disconnect" ) { %>
                                                        <tr style="background-color: transparent;">

                                                            <td>
                                                                <%= result.status %>
                                                            </td>
                                                            <td>
                                                                <%= result.equipment %>
                                                            </td>
                                                            <td>
                                                                <%= result.location %>
                                                            </td>
                                                            <td>
                                                                <%= result.date_time %>
                                                            </td>

                                                        </tr>
                                                        <% } %>
                                                            <% }); %>
                                            </tbody>
                                        </table>

                                        <!-- DUMP TABLE FOR EXPORT -->
                                        <table width="100%" id="dumpTableDisc" class="table dump-disc-table" style="display: none;" cellspacing="0">

                                            <thead>
                                                <th width="15%">
                                                    <center>Status</center>
                                                </th>
                                                <th width="20%">
                                                    <center>Equipment</center>
                                                </th>
                                                <th width="20%">
                                                    <center>Location</center>
                                                </th>
                                                <th width="auto">
                                                    <center>Date Time</center>
                                                </th>

                                            </thead>
                                            <tbody class="body-datatable">
                                                <% jsonresult.forEach(function(result){ %>
                                                    <% if (result.event_type.toLowerCase()=="disconnect" ) { %>
                                                        <tr style="background-color: transparent;">

                                                            <td>
                                                                <%= result.status %>
                                                            </td>
                                                            <td>
                                                                <%= result.equipment %>
                                                            </td>
                                                            <td>
                                                                <%= result.location %>
                                                            </td>
                                                            <td>
                                                                <%= result.date_time %>
                                                            </td>

                                                        </tr>
                                                        <% } %>
                                                            <% }); %>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

    </body>


    <%- include('layouts/footer') %>
        <script>

            $(document).ready(function () {
                // begin data table
                $('#datatable').DataTable({
                    "order": []
                });
                $('#datatable1').DataTable({
                    "order": []
                });
                $('#datatable2').DataTable({
                    "order": [],
                    "columns": [
                        { "width": "100px" },
                        { "width": "100px" },
                        { "width": "100px" },
                        { "width": "100px" }
                    ]
                });
                $('#datatable3').DataTable({
                    "order": [],
                    "columns": [
                        { "width": "100px" },
                        { "width": "100px" },
                        { "width": "100px" },
                        { "width": "100px" }
                    ]
                });

                $("#expAlarmRecord").click(function () {
                    let table = document.getElementsByClassName("dump-alrm-table");
                    TableToExcel.convert(table[0], { // html code may contain multiple tables so here we are refering to 1st table tag
                        name: `alarm_record.xlsx`, // fileName you could use any name
                        sheet: {
                            name: 'Sheet 1' // sheetName
                        }
                    });
                });

                $("#expDiscRecord").click(function () {
                    let table = document.getElementsByClassName("dump-disc-table");
                    TableToExcel.convert(table[0], { // html code may contain multiple tables so here we are refering to 1st table tag
                        name: `disconnect_record.xlsx`, // fileName you could use any name
                        sheet: {
                            name: 'Sheet 1' // sheetName
                        }
                    });
                });

            });

            function showSelectOpt() {
                $(".custom-select-opt-cover").show();
                $(".select-opt").slideDown();
            };

            function closeSelectOpt() {
                $(".custom-select-opt-cover").hide();
                $(".select-opt").slideUp();
            };

            $('#date').daterangepicker({
                "parentEl": ".parent-drp",
                "opens": "right",
            }, function (start, end, label) {
                $(".val-show").attr('data-val', start.format('YYYY-MM-DD') + ";" + end.format('YYYY-MM-DD') + ";");
                $(".val-show").html(start.format('DD-MM-YYYY') + " - " + end.format('DD-MM-YYYY'));
                let beDate = getBeginEndDate($(this).attr("data-val"));

                closeSelectOpt();

                updateEventList(beDate);

            });

            $(".select-opt").find(".list-group-item").click(function () {
                if ($(this).hasClass("parent-drp")) { return false; }
                else {
                    $(".val-show").attr('data-val', $(this).attr("data-val"));
                    $(".val-show").html($(this).html());
                    let beDate = getBeginEndDate($(this).attr("data-val"));

                    closeSelectOpt();

                    updateEventList(beDate)
                }
            });

            function getBeginEndDate(filter) {
                let result = [];
                let date = new Date();
                let begindate = new Date();
                if (filter === "today") {
                    result = [date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " 00:00:00",
                    date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " 23:59:59"]
                }
                else if (filter === "7day") {
                    begindate.setDate(begindate.getDate() - 7)
                    result = [begindate.getFullYear() + "-" + (begindate.getMonth() + 1) + "-" + begindate.getDate() + " 00:00:00",
                    date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " 23:59:59"]
                }
                else if (filter === "14day") {
                    begindate.setDate(begindate.getDate() - 14)
                    result = [begindate.getFullYear() + "-" + (begindate.getMonth() + 1) + "-" + begindate.getDate() + " 00:00:00",
                    date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " 23:59:59"]
                }
                else if (filter === "30day") {
                    begindate.setDate(begindate.getDate() - 30)
                    result = [begindate.getFullYear() + "-" + (begindate.getMonth() + 1) + "-" + begindate.getDate() + " 00:00:00",
                    date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " 23:59:59"]
                }
                else if (filter === "thismonth") {
                    result = [date.getFullYear() + "-" + (date.getMonth() + 1) + "-1 00:00:00",
                    date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " 23:59:59"]
                }
                else if (filter === "all") {
                    result = ["2000-01-01 00:00:00",
                        date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " 23:59:59"]
                }
                else {
                    let bedate = $(".val-show").attr("data-val");
                    result = [bedate.split(";")[0] + " 00:00:00",
                    bedate.split(";")[1] + " 23:59:59"]
                }


                return result;
            }

            function updateEventList(beDate) {
                $.ajax({
                    url: '<%=appname%>/report/getByDate',
                    type: 'post',
                    data: {
                        beginDate: beDate[0],
                        endDate: beDate[1]
                    },
                    success: (res) => {

                        var table = $('#datatable').DataTable();
                        table.destroy();

                        var content = '';
                        res.forEach(function (result) {
                            if (result.event_type.toLowerCase() == "alarm" &&
                                result.flag_notif == "Y" && result.status.toLowerCase() != "normal") {
                                content +=
                                    '<tr style="background-color: transparent;">' +
                                    '<td>' + result.status + '</td>' +
                                    '<td> <a href="<%=appname%>/location/' + result.rectifier_id + '">' + result.equipment + '</a> </td>' +
                                    '<td>' + result.location + '</td>' +
                                    '<td>' + result.date_time + '</td>' +
                                    '<td>' + result.sensor + '</td>' +
                                    '<td>' + result.value + '</td>' +
                                    '</tr>'
                            }
                        });
                        $('#datatable tbody').html(content);
                        // $('#datatable').html(content);
                        table = $('#datatable').DataTable();

                        table = $('#datatable1').DataTable();
                        table.destroy();
                        content = '';
                        res.forEach(function (result) {
                            if (result.event_type.toLowerCase() == "alarm") {
                                content +=
                                    '<tr style="background-color: transparent;">' +
                                    '<td>' + result.status + '</td>' +
                                    '<td>' + result.equipment + '</td>' +
                                    '<td>' + result.location + '</td>' +
                                    '<td>' + result.date_time + '</td>' +
                                    '<td>' + result.sensor + '</td>' +
                                    '<td>' + result.value + '</td>' +
                                    '</tr>'
                            }
                        });
                        $('#datatable1 tbody').html(content);
                        // $('#datatable1').html(content);
                        table = $('#datatable1').DataTable();
                        $('#dumpTableAlarm tbody').html(content);


                        table = $('#datatable2').DataTable();
                        table.destroy();
                        content = '';
                        res.forEach(function (result) {
                            if (result.event_type.toLowerCase() == "disconnect" &&
                                result.flag_notif == "Y" && result.status.toLowerCase() != "connected") {
                                content +=
                                    '<tr style="background-color: transparent;">' +
                                    '<td>' + result.status + '</td>' +
                                    '<td> <a href="<%=appname%>/location/' + result.rectifier_id + '">' + result.equipment + '</a> </td>' +
                                    '<td>' + result.location + '</td>' +
                                    '<td>' + result.date_time + '</td>' +
                                    '</tr>'
                            }
                        });
                        $('#datatable2 tbody').html(content);
                        // $('#datatable2').html(content);
                        table = $('#datatable2').DataTable();

                        table = $('#datatable3').DataTable();
                        table.destroy();
                        content = '';
                        res.forEach(function (result) {
                            if (result.event_type.toLowerCase() == "disconnect") {
                                content +=
                                    '<tr style="background-color: transparent;">' +
                                    '<td>' + result.status + '</td>' +
                                    '<td>' + result.equipment + '</td>' +
                                    '<td>' + result.location + '</td>' +
                                    '<td>' + result.date_time + '</td>' +
                                    '</tr>'
                            }
                        });
                        $('#datatable3 tbody').html(content);
                        // $('#datatable3').html(content);
                        table = $('#datatable3').DataTable();
                        $('#dumpTableDisc tbody').html(content);


                    }
                })
            }


        </script>

</html>