
<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header') %> 
    
<body>
    
    <!-- Navigation Bar --->
    <%- include('layouts/nav.ejs') %>
    
    <div class="container-fluid dev-detail-panel" style="height:94vh">
        <div class="row py-3">
            <div class="col-sm-2 ">
                <!-- Floating Search Option --->
                <%- include('layouts/masterList.ejs') %>   
            </div>
            <div class="col-sm-10 px-4">

                <div class="bg-second rounded position-relative">
                    <div>
                        <label class="title-menu"> Master User 
                          
                        </label>
                        <button class="btn-custom btn-custom-white btn-anim-blue position-absolute" 
                        style="right: 1rem;top: 0.5rem;"
                        onclick="showmodal('C')">
                          <i class="fa fa-plus"></i> Buat Data Baru</button>
                    </div>
                    <div class="text-primary container" >
                        <!-- <div class="w-50" style="margin: 0px auto;">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Email</label>
                                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4">Password</label>
                                        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                  <label for="inputAddress">Address</label>
                                  <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                                </div>
                                <div class="form-group">
                                  <label for="inputAddress2">Address 2</label>
                                  <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                                </div>
                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="inputCity">City</label>
                                    <input type="text" class="form-control" id="inputCity">
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="inputState">State</label>
                                    <select id="inputState" class="form-control">
                                      <option selected>Choose...</option>
                                      <option>...</option>
                                    </select>
                                  </div>
                                  <div class="form-group col-md-2">
                                    <label for="inputZip">Zip</label>
                                    <input type="text" class="form-control" id="inputZip">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                      Check me out
                                    </label>
                                  </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Search</button>
                            </form>
                        </div> -->
                        
                    </div>
                    <div class="p-3">
                      <table width="100%" id="datatable" class="table">
        
                        <thead>
                             <th width="5%"><center>No.</center></th>
                             <th width="7.5%"><center>User ID</center></th>
                             <th width="12.5%"><center>Name</center></th>
                             <th width="10%"><center>Username</center></th>
                             <th width="auto"><center>Area</center></th>
                             <th width="10%"><center>Role</center></th>
                             <th width="10%"><center>Active</center></th>
                             <th width="20%"><center>Actions</center></th>
                       </thead>
                       <tbody class="body-datatable">
                        <% 
                          let indx = 1;
                          jsonresult.forEach(function(result){ 
                        %>
                        <tr  style="background-color: transparent;">
                            <td class="text-aligh-center"><%= indx %> </td>
                            <td><%= result.id %></td>
                            <td><%= result.name %></td>
                            <td><%= result.username %></td>
                            <script>
                              // $.get('/wilayah/getByArea<%= result.area_id %>', function(data, status){
                              //   console.log(" Try Send Request "+data+"===>"+status);
                              // });
                            </script>
                            <td><%= result.area %></td>
                            <td><%= result.id_role %></td>
                            <td><%= result.active?'active':'non active' %></td>
                            <td>
                              <button class="btn-custom btn-custom-white btn-anim-blue" onclick="javascript:showmodal('U','<%= result.id %>')">
                                <i class="fa fa-pencil"></i> Edit 
                              </button>

                              <button class="btn-custom btn-custom-white btn-anim-red" onclick="javascript:confirm_user_del('<%= result.id %>','<%= result.name %>')">
                                <i class="fa fa-trash"></i> Delete 
                              </button>
                              <!-- <button class="btn btn-primary"><i class="fa fa-pencil"></i></button> -->
                              <!-- <button class="btn btn-danger"></button> -->
                            </td>
                        </tr>
                        <%  
                          indx++;
                          }); 
                        %>
                      </tbody>
                      </table>
                    </div>
                </div>
                
            </div>
        </div>  
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal-user" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header title-menu">
            <h5 class="modal-title " id="mod-title">...</h5>
            <button type="button" class="close btn-modal" data-dismiss="modal" aria-label="Close">
              <i class="fa fa-close"></i>
            </button>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger alrt-msg" role="alert" style="display: none;">
              This is a danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
            </div>

            <div class="row mb-2">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <label for="txtname1">Full name</label>
                  <input type="hidden" value="" name="userID" id="userID" class="form-control input-sm inp-border-second" placeholder="UserID">
                  <input type="text" value="" name="txtname1" id="txtname1" class="form-control input-sm inp-border-second" placeholder="Full Name">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                <label for="txtname2"> User Name</label>
                <input type="text" value="" name="txtname2" id="txtname2" class="form-control input-sm  inp-border-second" placeholder="User Name">
                </div>
              </div>
            </div>

            <div class="row mb-2">
              <div class="form-group col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                  <div class="form-check form-switch-custom pass-upd" style="display: none;">
                    <label class="form-check-label" for="ischangepass">Change password ?</label>
                    <input class="form-check-input" type="checkbox" id="ischangepass">
                  </div>
                  <label class="pass-crt" for="txtname2"> Password</label>
                  
                  <input type="password" value="" name="txtname3" id="txtname3" class="form-control input-sm  inp-border-second" placeholder="Password">
                </div>               
              </div>
            </div>

            <div class="row mb-2">
              <div class="form-group col-xs-12 col-sm-12 col-md-12">
                <label for="role" class="text-muted">Area</label>
                <select class="form-control input-sm  inp-border-second" id="area" name="cmbArea" required>
                </select>
              </div>
            </div>
            
            <div class="row mb-2">
              <div class="form-group col-xs-12 col-sm-12 col-md-12">
                <label for="role" class="text-muted">Role</label>
                <select class="form-control input-sm  inp-border-second" id="role" name="cmbRole" required>
                  <option value="SUPERADMIN" class="role"  >SUPERADMIN</option>
                  <option value="ADMIN" class="role"  >ADMIN</option>
                </select>
              </div>
            </div>

            <!-- <div class="row mb-2">
              <div class="form-group col-xs-12 col-sm-12 col-md-12">
                <label for="role" class="text-muted">Status Active</label>
                <div>
                  <input type="radio" class="btn-check" name="options-outlined" id="sts-active" autocomplete="off" checked>
                  <label class="btn btn-outline-success" for="sts-active">Active</label>

                  <input type="radio" class="btn-check" name="options-outlined" id="sts-notactive" autocomplete="off">
                  <label class="btn btn-outline-danger" for="sts-notactive">Not Active</label>
                </div>
                  
              </div>
            </div> -->
          </div>


          <div class="modal-footer">
            <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary btn-save" onclick="javascript:user_add()">Save</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="message" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header title-menu" >
						<h5 class="modal-title msg-title">Confirmation </h5>
						<button type="button" class="close btn-modal" data-bs-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p id="errMsg">Modal body text goes here.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger confirm-del" data-id="" onclick="javascript:user_del(this)" style="display:none">Delete</button>
						<button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
    
</body>

<%- include('layouts/footer') %> 
<script>

  let dtTable;

  $(document).ready(function(){

    // begin data table
    dtTable = $('#datatable').DataTable();

    // set function close modal to button close (class close)
    $(".close").click(function(){
      $('#modal-user').modal("hide")
    });

    $("#ischangepass").change(function(){
      if($(this).is(":checked"))
      { $("#txtname3").show(); }
      else
      { $("#txtname3").hide(); }
    });

    // Fill master wilayah
    $.get('<%=appname%>/wilayah/getAllWilayah', function(data, status){

      let html = "";
      $.each(data, function(i, v) {
        
        //console.log(" See d data "+JSON.stringify(v));
        // html += "<option value='"+v.area_id+"' data-lat='"+v.latitude+"' data-long='"+v.longitude+"' data-areaname='"+v.provinsi_name+"'>"+v.provinsi_name+" - "+v.kota_name+" - "+v.kecamatan_name+"</option>";
        html += "<option value='"+v.area_id+"' data-lat='"+v.latitude+"' data-long='"+v.longitude+"' data-areaname='"+v.wilayah_name+"'>"+v.wilayah_name+"</option>";
        
      });

      // set to html 
      $("#area").html(html);
      
    });
  });

  function showmodal(action, id)
  {
    if(action === 'U')
    {
      $("#mod-title").html("Update Master User");
      $(".pass-crt").hide();
      $("#txtname3").hide();
      $(".pass-upd").show();
      $("#ischangepass").prop('checked', false);

      // Get data master
      $.get('<%=appname%>/users/'+id, function(data, status){

        let v = data[0];

        $("#userID").val(v.id);
        $("#txtname1").val(v.name);
        $("#txtname2").val(v.username);
        //$("#txtname3").val(); password
        //$("#area").find('option[value="'+v.area_id+'"]').attr('selected','selected');
        $("#area").val(v.area_id).change();
        $("#role").val(v.id_role).change();

        $('#modal-user').modal("show")
        
      });

      $(".btn-save").attr("onclick","user_upd()");

      
    }
    else
    {
      $("#mod-title").html("Buat Baru Master User");
      $(".pass-crt").show();
      $("#txtname3").show();
      $(".pass-upd").hide();

      // Clear Input
      $("#userID").val("");
      $("#txtname1").val("");
      $("#txtname2").val("");
      $("#txtname3").val("");
      $("#role").find("option[value='SUPERADMIN']").prop("selected","selected");
      //$("#sts-active").attr("checked","checked");

      $('#modal-user').modal("show");

      $(".btn-save").attr("onclick","user_add()");
    }
  }

  function confirm_user_del(id, name)
  {
    $(".msg-title").html("Confirmation");
    $("#errMsg").html("Apakah anda yakin akan menghapus data "+name+" ini ?");
    $(".confirm-del").show();
    $(".confirm-del").attr("data-id",id);
    $('#message').modal("show");
  }

  function user_del(obj)
  {
    let id = $(obj).attr("data-id");
    $.ajax({
        url: '<%=appname%>/users/userDel',
        type: 'post',
        data: {
          id
        },
        success: (res) => {

            if(res == 'success')
            {
              getInfoUser();

              $('#message').modal("hide");
            }
            else
            {
              $(".msg-title").html("Error Message");
              $(".confirm-del").hide();
              $("#errMsg").html("Error delete data, please contact your administrator.");
              $(".confirm-del").attr("data-id","");
              $('#message').modal("show");
              //$(".alrt-msg").html("Error delete data, please contact your administrator.");
              //$(".alrt-msg").show().delay(5000).slideUp(1000);
            }
        }
      });
  }

  function user_upd()
  {
    // Object needed
    let id = $("#userID").val();
    let name = $("#txtname1").val();
    let username = $("#txtname2").val();
    let password = $("#txtname3").val();
    let area = $("#area option:selected").attr("data-areaname");
    let idRole = $("#role").val();
    let koordinat = "8#"+$("#area option:selected").attr("data-lat")+"#"+$("#area option:selected").attr("data-long")+"#";
    let areaId = $("#area").val();
    let ischangepass = 'N';

    if($("#ischangepass").is(":checked"))
    { ischangepass = 'Y'; }

    if(name == "" || username == "" || (password == "" && ischangepass == "Y") )
    {
      if(name === "")
      { $(".alrt-msg").html("Mohon isi form Fullname !!! "); }
      else if(username === "")
      { $(".alrt-msg").html("Mohon isi form Username !!! "); }
      else if(password === "" && ischangepass == "Y" )
      { $(".alrt-msg").html("Mohon isi form Password !!! "); }
    
      $(".alrt-msg").show().delay(5000).slideUp(1000);
    }
    else
    {
      $.ajax({
        url: '<%=appname%>/users/userUpd',
        type: 'post',
        data: {
          id,
          name,
          username,
          password,
          idRole,
          area,
          koordinat,
          areaId,
          ischangepass
        },
        success: (res) => {

            if(res == 'success')
            {
              getInfoUser();

              $('#modal-user').modal("hide");
            }
            else
            {
              $(".alrt-msg").html("Error update data, please contact your administrator.");
    
              $(".alrt-msg").show().delay(5000).slideUp(1000);
            }
        }
      });
    }
  }

  function user_add()
  {
    // Object needed
    let name = $("#txtname1").val();
    let username = $("#txtname2").val();
    let password = $("#txtname3").val();
    let area = $("#area option:selected").attr("data-areaname");
    let idRole = $("#role").val();
    let koordinat = "8#"+$("#area option:selected").attr("data-lat")+"#"+$("#area option:selected").attr("data-long")+"#";
    let areaId = $("#area").val();
    
    //let statusActive = $("#sts-active:checked").val();

    // let status = "Y";
    // if(typeof statusActive === 'undefined')
    // { status = "N"; }

    // check validity
    //console.log("==1=>"+name +"==>"+username +"==>"+password +"==>"+area +"==>"+idRole +"==>"+status +"==>");
    
    if(name == "" || username == "" || password == "")
    {
      if(name === "")
      { $(".alrt-msg").html("Mohon isi form Fullname !!! "); }
      else if(username === "")
      { $(".alrt-msg").html("Mohon isi form Username !!! "); }
      else if(password === "")
      { $(".alrt-msg").html("Mohon isi form Password !!! "); }
    
      $(".alrt-msg").show().delay(5000).slideUp(1000);
    }
    else
    {
      $.ajax({
        url: '<%=appname%>/users/userAdd',
        type: 'post',
        data: {
          name,
          username,
          password,
          idRole,
          area,
          koordinat,
          areaId
        },
        success: (res) => {

            if(res == 'success')
            {
              getInfoUser();

              $('#modal-user').modal("hide");
            }
            else
            {
              $(".alrt-msg").html("Error add data, please contact your administrator.");
    
              $(".alrt-msg").show().delay(5000).slideUp(1000);
            }
        }
      });
    }
  }

  function getInfoUser()
  {
    dtTable.destroy();
   
    // Fill master wilayah
    $.get('<%=appname%>/users/getAllUsers', function(data, status){


      let html = "";
      $.each(data, function(i, v) {
        
        //console.log(" See d data "+JSON.stringify(v));
        //html += "<option value='"+v.area_id+"' data-lat='"+v.latitude+"' data-long='"+v.longitude+"' data-areaname='"+v.provinsi_name+"'>"+v.provinsi_name+" - "+v.kota_name+" - "+v.kecamatan_name+"</option>";
        html += '<tr  style="background-color: transparent;">\
                    <td class="text-aligh-center">'+(i+1)+' </td>\
                    <td>'+v.id+'</td>\
                    <td>'+v.name+'</td>\
                    <td>'+v.username+'</td>\
                    <td>'+v.area+'</td>\
                    <td>'+v.id_role+'</td>\
                    <td>'+(v.active=='true'?'active':'non active')+'</td>\
                    <td>\
                      <button class="btn-custom btn-custom-white btn-anim-blue" onclick="javascript:showmodal(\'U\',\''+v.id+'\')">\
                        <i class="fa fa-pencil"></i> Edit \
                      </button>\
                      <button class="btn-custom btn-custom-white btn-anim-red" onclick="javascript:confirm_user_del(\''+v.id+'\',\''+v.name+'\')" >\
                        <i class="fa fa-trash"></i> Delete \
                      </button>\
                    </td>\
                </tr>';
        
      });
      
      // set to html 
      $(".body-datatable").html(html);
      // refresh data table
      dtTable = $('#datatable').delay(1000).DataTable();
    });

   
  }
</script>
</html>
