<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') %>
<%- include('layouts/inputMap') %> 


  <body onload="getMap()">

    <!-- Navigation Bar --->
    <%- include('layouts/nav.ejs') %>

      <div class="container-fluid dev-detail-panel" style="height:94vh">
        <div class="row py-3">
          <div class="col-sm-2 ">
            <!-- Floating Search Option --->
            <%- include('layouts/masterList.ejs') %>
          </div>
          <div class="col-sm-10 px-4">

            <div class="bg-second rounded position-relative">
              <div>
                <label class="title-menu"> Master Wilayah

                </label>
                <button class="btn-custom btn-custom-white btn-anim-blue position-absolute"
                  style="right: 1rem;top: 0.5rem;" onclick="showmodal('C')">
                  <i class="fa fa-plus"></i> Buat Data Baru</button>
              </div>
              <div class="text-primary container">


              </div>
              <div class="p-3">
                <table width="100%" id="datatable" class="table">

                  <thead>
                    <th width="5%">
                      <center>No.</center>
                    </th>
                    <th width="10%">
                      <center>Wilayah ID</center>
                    </th>
                    <th width="auto">
                      <center>Name</center>
                    </th>
                    <th width="13%">
                      <center>Provinsi</center>
                    </th>
                    <th width="13%">
                      <center>Kota</center>
                    </th>
                    <th width="13%">
                      <center>Kecamatan</center>
                    </th>
                    <th width="13%">
                      <center>Desa</center>
                    </th>
                    <th width="20%">
                      <center>Actions</center>
                    </th>
                  </thead>
                  <tbody class="body-datatable">
                    <% let indx=1; jsonresult.forEach(function(result){ %>
                      <tr style="background-color: transparent;">
                        <td class="text-aligh-center">
                          <%= indx %>
                        </td>
                        <td>
                          <%= result.id %>
                        </td>
                        <td>
                          <%= result.wilayah_name %>
                        </td>
                        <td>
                          <%= result.provinsi_name %>
                        </td>
                        <td>
                          <%= result.kota_name %>
                        </td>
                        <td>
                          <%= result.kecamatan_name %>
                        </td>
                        <td>
                          <%= result.desa_name %>
                        </td>
                        <td>
                          <button class="btn-custom btn-custom-white btn-anim-blue"
                            onclick="javascript:showmodal('U','<%= result.id %>')">
                            <i class="fa fa-pencil"></i> Edit
                          </button>

                          <button class="btn-custom btn-custom-white btn-anim-red"
                            onclick="javascript:confirm_wilayah_del('<%= result.id %>','<%= result.wilayah_name %>')">
                            <i class="fa fa-trash"></i> Delete
                          </button>
                          <!-- <button class="btn btn-primary"><i class="fa fa-pencil"></i></button> -->
                          <!-- <button class="btn btn-danger"></button> -->
                        </td>
                      </tr>
                      <% indx++; }); %>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal modal-lg fade" id="modal-crud" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header title-menu">
              <h5 class="modal-title " id="mod-title">...</h5>
              <button type="button" class="close btn-modal" data-dismiss="modal" aria-label="Close">
                <i class="fa fa-close"></i>
              </button>
            </div>
            <div class="modal-body">
              <div class="alert alert-danger alrt-msg" role="alert" style="display: none;">
                This is a danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you
                like.
              </div>

              <div class="row mb-2">
                <div class="col-xs-8 col-sm-8 col-md-8">
                  <div class="form-group">
                    <label for="txtname1">Nama Wilayah</label>
                    <input type="hidden" value="" name="wilayahId" id="wilayahId">
                    <input type="text" value="" name="wilayahName" id="wilayahName"
                      class="form-control input-sm inp-border-second" placeholder="Nama Wilayah">
                  </div>
                </div>
              </div>

              <div class="row mb-2">
                <div class="form-group col-xs-6 col-sm-6 col-md-6">
                  <label for="role" class="text-muted">Provinsi</label>
                  <select class="form-control input-sm  inp-border-second" id="provinsi" name="cmbProvinsi"
                    onchange="getCmbKota(this.value)" required>
                  </select>
                  <input type="hidden" value="" name="provinsiName" id="provinsiName">
                </div>

                <div class="form-group col-xs-6 col-sm-6 col-md-6">
                  <label for="role" class="text-muted">Kota</label>
                  <select class="form-control input-sm  inp-border-second" id="kota" name="cmbKota"
                    onchange="getCmbKecamatan(this.value)" required>
                  </select>
                </div>
              </div>

              <div class="row mb-2">
                <div class="form-group col-xs-6 col-sm-6 col-md-6">
                  <label for="role" class="text-muted">Kecamatan</label>
                  <select class="form-control input-sm  inp-border-second" id="kecamatan" name="cmbKecamatan"
                    onchange="getCmbDesa(this.value)" required>
                  </select>
                </div>

                <div class="form-group col-xs-6 col-sm-6 col-md-6">
                  <label for="role" class="text-muted">Desa</label>
                  <select class="form-control input-sm  inp-border-second" id="desa" name="cmbDesa" required>
                  </select>
                </div>
              </div>

              <br>

              <div class="row mb-2">
                <div class="form-group col-xs-6 col-sm-6 col-md-6">
                  <label for="role" class="text-muted">Latitude</label>
                  <input type="text" value="" name="latitude" id="latitude"
                      class="form-control input-sm inp-border-second inputLat" placeholder="Latitude">
                </div>

                <div class="form-group col-xs-6 col-sm-6 col-md-6">
                  <label for="role" class="text-muted">Longitude</label>
                  <input type="text" value="" name="longitude" id="longitude"
                  class="form-control input-sm inp-border-second inputLong" placeholder="Longitude">
                </div>
              </div>

              <div id="input_map" class="form-group col-xs-6 col-sm-6 col-md-6" style="height:30vh"></div>

            </div>


            <div class="modal-footer">
              <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary btn-save" onclick="javascript:wilayah_add()">Save</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal" id="message" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header title-menu">
              <h5 class="modal-title msg-title">Confirmation </h5>
              <button type="button" class="close btn-modal" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p id="errMsg">Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger confirm-del" data-id="" onclick="javascript:wilayah_del(this)"
                style="display:none">Delete</button>
              <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

  </body>

  <%- include('layouts/footer') %>
    <script>

      let dtTable;

      $(document).ready(function () {

        // begin data table
        dtTable = $('#datatable').DataTable();

        // set function close modal to button close (class close)
        $(".close").click(function () {
          $('#modal-crud').modal("hide")
        });

        // Fill master Provinsi
        $.get('<%=appname%>/provinsi/getAll', function (data, status) {

          let html = "";
          $.each(data, function (i, v) {

            //console.log(" See d data "+JSON.stringify(v));
            html += "<option value='" + v.provinsi_id + "' data-name='" + v.provinsi_name + "'>" + v.provinsi_name + "</option>";

          });

          // set to html 
          $("#provinsi").html(html);

        });

      });

      function getCmbKota(param) {
        // Fill master Kota
        $.get('<%=appname%>/kota/getByProvinsi/' + param, function (data, status) {

          let html = "";
          $.each(data, function (i, v) {

            //console.log(" See d data "+JSON.stringify(v));
            html += "<option value='" + v.kota_id + "' data-name='" + v.kota_name + "'>" + v.kota_name + "</option>";

          });

          // set to html 
          $("#kota").html(html);

        });
      }

      function getCmbKecamatan(param) {
        // Fill master Kecamatan
        $.get('<%=appname%>/kecamatan/getBykota/' + param, function (data, status) {

          let html = "";
          $.each(data, function (i, v) {

            //console.log(" See d data "+JSON.stringify(v));
            html += "<option value='" + v.kecamatan_id + "' data-name='" + v.kecamatan_name + "'>" + v.kecamatan_name + "</option>";

          });

          // set to html 
          $("#kecamatan").html(html);

        });
      }

      function getCmbDesa(param) {
        // Fill master Desa
        $.get('<%=appname%>/desa/getByKecamatan/' + param, function (data, status) {

          let html = "";
          $.each(data, function (i, v) {

            //console.log(" See d data "+JSON.stringify(v));
            html += "<option value='" + v.desa_id + "' data-name='" + v.desa_name + "'>" + v.desa_name + "</option>";

          });

          // set to html 
          $("#desa").html(html);

        });
      }


      function showmodal(action, id) {
        if (action === 'U') {
          $("#mod-title").html("Update Master Wilayah");

          // Get data master
          $.get('<%=appname%>/wilayah/' + id, function (data, status) {

            let v = data[0];

            console.log(v);
            $("#wilayahId").val(v.id);
            $("#wilayahName").val(v.wilayah_name);
            $("#provinsi").val(v.provinsi_id).change();
            setTimeout( function(){$("#kota").val(v.kota_id).change()}, 100);
            setTimeout(function(){$("#kecamatan").val(v.kecamatan_id).change()}, 200);
            setTimeout(function(){$("#desa").val(v.desa_id).change()}, 300);
            $("#latitude").val(v.latitude);
            $("#longitude").val(v.longitude);

            $('#modal-crud').modal("show")

          });

          $(".btn-save").attr("onclick", "wilayah_upd()");


        }
        else {
          $("#mod-title").html("Menambahkan Master Wilayah");

          // Clear Input
          $("#wilayahId").val("");
          $("#wilayahName").val("");
          $("#provinsi").val("") //.change();
          $("#kota").val("") //.change();
          $("#kecamatan").val("") //.change();
          $("#desa").val("") //.change();
          $("#latitude").val("");
          $("#longitude").val("");

          $('#modal-crud').modal("show");

          $(".btn-save").attr("onclick", "wilayah_add()");
        }
      }

      function confirm_wilayah_del(id, name) {
        $(".msg-title").html("Confirmation");
        $("#errMsg").html("Apakah anda yakin akan menghapus data " + name + " ini ?");
        $(".confirm-del").show();
        $(".confirm-del").attr("data-id", id);
        $('#message').modal("show");
      }

      function wilayah_del(obj) {
        let id = $(obj).attr("data-id");
        $.ajax({
          url: '<%=appname%>/wilayah/wilayahDel',
          type: 'post',
          data: {
            id
          },
          success: (res) => {

            if (res == 'success') {
              getInfo();

              $('#message').modal("hide");
            }
            else {
              $(".msg-title").html("Error Message");
              $(".confirm-del").hide();
              $("#errMsg").html("Error delete data, please contact your administrator.");
              $(".confirm-del").attr("data-id", "");
              $('#message').modal("show");
              //$(".alrt-msg").html("Error delete data, please contact your administrator.");
              //$(".alrt-msg").show().delay(5000).slideUp(1000);
            }
          }
        });
      }

      function wilayah_upd() {
        // Object needed
        let id = $("#wilayahId").val();
        let wilayahName = $("#wilayahName").val();
        let provinsiId = $("#provinsi").val();
        let provinsiName = $("#provinsi option:selected").attr("data-name");
        let kotaId = $("#kota").val();
        let kotaName = $("#kota option:selected").attr("data-name");
        let kecamatanId = $("#kecamatan").val();
        let kecamatanName = $("#kecamatan option:selected").attr("data-name");
        let desaId = $("#desa").val();
        let desaName = $("#desa option:selected").attr("data-name");
        let latitude =$("#latitude").val();
        let longitude =$("#longitude").val();


        if (wilayahName == "" || provinsiId == "" || kotaId == "" || kecamatanId == "" || desaId == "" || latitude === "" || longitude === "") {
          if (wilayahName === "") { $(".alrt-msg").html("Mohon isi form Nama Wilayah !!! "); }
          else if (provinsiId === "") { $(".alrt-msg").html("Mohon isi form Provinsi !!! "); }
          else if (kotaId === "") { $(".alrt-msg").html("Mohon isi form Kota !!! "); }
          else if (kecamatanId === "") { $(".alrt-msg").html("Mohon isi form Kecamatan !!! "); }
          else if (desaId === "") { $(".alrt-msg").html("Mohon isi form Desa !!! "); }
          else if (latitude === "" || longitude === "") { $(".alrt-msg").html("Mohon isi form Latitude dan Longitude !!! "); }

          $(".alrt-msg").show().delay(5000).slideUp(1000);
        }
        else {
          $.ajax({
            url: '<%=appname%>/wilayah/wilayahUpd',
            type: 'post',
            data: {
              id,
              wilayahName,
              provinsiId,
              provinsiName,
              kotaId,
              kotaName,
              kecamatanId,
              kecamatanName,
              desaId,
              desaName,
              latitude,
              longitude
            },
            success: (res) => {

              if (res == 'success') {
                getInfo();

                $('#modal-crud').modal("hide");
              }
              else {
                $(".alrt-msg").html("Error update data, please contact your administrator.");

                $(".alrt-msg").show().delay(5000).slideUp(1000);
              }
            }
          });
        }
      }

      function wilayah_add() {
        // Object needed
        let wilayahName = $("#wilayahName").val();
        let provinsiId = $("#provinsi").val();
        let provinsiName = $("#provinsi option:selected").attr("data-name");
        let kotaId = $("#kota").val();
        let kotaName = $("#kota option:selected").attr("data-name");
        let kecamatanId = $("#kecamatan").val();
        let kecamatanName = $("#kecamatan option:selected").attr("data-name");
        let desaId = $("#desa").val();
        let desaName = $("#desa option:selected").attr("data-name");
        let latitude =$("#latitude").val();
        let longitude =$("#longitude").val();

        if (wilayahName == "" || provinsiId == "" || kotaId == "" || kecamatanId == "" || desaId == "" || latitude === "" || longitude === "") {
          if (wilayahName === "") { $(".alrt-msg").html("Mohon isi form Nama Wilayah !!! "); }
          else if (provinsiId === "") { $(".alrt-msg").html("Mohon isi form Provinsi !!! "); }
          else if (kotaId === "") { $(".alrt-msg").html("Mohon isi form Kota !!! "); }
          else if (kecamatanId === "") { $(".alrt-msg").html("Mohon isi form Kecamatan !!! "); }
          else if (desaId === "") { $(".alrt-msg").html("Mohon isi form Desa !!! "); }
          else if (latitude === "" || longitude === "") { $(".alrt-msg").html("Mohon isi form Latitude dan Longitude !!! "); }


          $(".alrt-msg").show().delay(5000).slideUp(1000);
        }
        else {
          $.ajax({
            url: '<%=appname%>/wilayah/wilayahAdd',
            type: 'post',
            data: {
              wilayahName,
              provinsiId,
              provinsiName,
              kotaId,
              kotaName,
              kecamatanId,
              kecamatanName,
              desaId,
              desaName,
              latitude,
              longitude
            },
            success: (res) => {

              if (res == 'success') {
                getInfo();

                $('#modal-crud').modal("hide");
              }
              else {
                $(".alrt-msg").html("Error add data, please contact your administrator.");

                $(".alrt-msg").show().delay(5000).slideUp(1000);
              }
            }
          });
        }
      }

      function getInfo() {
        dtTable.destroy();

        $.get('<%=appname%>/wilayah/getAllWilayah', function (data, status) {


          let html = "";
          $.each(data, function (i, v) {

            html += '<tr  style="background-color: transparent;">\
                    <td class="text-aligh-center">'+ (i + 1) + ' </td>\
                    <td>'+ v.id + '</td>\
                    <td>'+ v.wilayah_name + '</td>\
                    <td>'+ v.provinsi_name + '</td>\
                    <td>'+ v.kota_name + '</td>\
                    <td>'+ v.kecamatan_name + '</td>\
                    <td>'+ v.desa_name + '</td>\
                    <td>\
                      <button class="btn-custom btn-custom-white btn-anim-blue" onclick="javascript:showmodal(\'U\',\''+ v.id + '\')">\
                        <i class="fa fa-pencil"></i> Edit \
                      </button>\
                      <button class="btn-custom btn-custom-white btn-anim-red" onclick="javascript:confirm_user_del(\''+ v.id + '\',\'' + v.wilayah_name + '\')" >\
                        <i class="fa fa-trash"></i> Delete \
                      </button>\
                    </td>\
                </tr>';

          });

          // set to html 
          $(".body-datatable").html(html);
          // refresh data table
          dtTable = $('#datatable').delay(1000).DataTable();
        });


      }
    </script>

</html>