:root
{
  --primary: #1D2731;  /* 565656*/
  --second: #0B3C5D;
  --link: #D9B310;   
  --blood: #76323f;
  --skyblue: #328CC1;
  --tan: #c09f80;
  --green: #198754;
  --blue: #4fc3f7;
  --red: #f74f4f;
  --white: #efefef;
  --purple: #a239ca;
  --dark-primary: #3f3f3f;
  --dark-second: #082d46;
  --darkest-second: #99928c;
  --bs-list-group-color: #0e0B16 !important; 
  --bs-list-group-bg: #e7dfdd !important; 
}

a{
    color: var(--link);
}

a.nav-link
{
    color: var(--link) !important;
}

body
{
    background: var(--primary);
}

.color-skyblue
{
    color: var(--skyblue) !important;
}

.btn-custom
{
    padding: 0.375rem;
    border-radius: 0.375rem;   
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid transparent;
    position: relative;
}

@keyframes anim_button_blue {
    0%{background: radial-gradient(circle at right var(--blue) 0%, #fff 0%, #fff 100%);}
    10%{background: radial-gradient(circle at right, var(--blue) 9%, #fff 10%, #fff 100%);}
    20%{background: radial-gradient(circle at right, var(--blue) 19%, #fff 20%, #fff 100%);}
    30%{background: radial-gradient(circle at right, var(--blue) 29%, #fff 30%, #fff 100%);}
    40%{background: radial-gradient(circle at right, var(--blue) 39%, #fff 40%, #fff 100%);}
    50%{background: radial-gradient(circle at right, var(--blue) 49%, #fff 50%, #fff 100%);}
    60%{background: radial-gradient(circle at right, var(--blue) 59%, #fff 60%, #fff 100%);}
    70%{background: radial-gradient(circle at right, var(--blue) 69%, #fff 70%, #fff 100%);}
    80%{color: var(--white);background: radial-gradient(circle at right, var(--blue) 79%, #fff 80%, #fff 100%);}
    90%{color: var(--white);background: radial-gradient(circle at right, var(--blue) 89%, #fff 90%, #fff 100%);}
    100%{color: var(--white);background: radial-gradient(circle at right, var(--blue) 99%, #fff 100%, #fff 100%);}
    /* from {background: radial-gradient(circle at right var(--blue) 0%, #fff 0%, #fff 100%);}
    to {color: var(--white);background: radial-gradient(circle at right, var(--blue) 99%, #fff 100%, #fff 100%);} */
}

@keyframes anim_button_blue_off {

    from {color: var(--white);background: var(--blue);}
    to {color: var(--dark-primary);background:  var(--white);}
}

@keyframes anim_button_red {
    0%{background: radial-gradient(circle at right var(--red) 0%, #fff 0%, #fff 100%);}
    10%{background: radial-gradient(circle at right, var(--red) 9%, #fff 10%, #fff 100%);}
    20%{background: radial-gradient(circle at right, var(--red) 19%, #fff 20%, #fff 100%);}
    30%{background: radial-gradient(circle at right, var(--red) 29%, #fff 30%, #fff 100%);}
    40%{background: radial-gradient(circle at right, var(--red) 39%, #fff 40%, #fff 100%);}
    50%{background: radial-gradient(circle at right, var(--red) 49%, #fff 50%, #fff 100%);}
    60%{background: radial-gradient(circle at right, var(--red) 59%, #fff 60%, #fff 100%);}
    70%{background: radial-gradient(circle at right, var(--red) 69%, #fff 70%, #fff 100%);}
    80%{color: var(--white);background: radial-gradient(circle at right, var(--red) 79%, #fff 80%, #fff 100%);}
    90%{color: var(--white);background: radial-gradient(circle at right, var(--red) 89%, #fff 90%, #fff 100%);}
    100%{color: var(--white);background: radial-gradient(circle at right, var(--red) 99%, #fff 100%, #fff 100%);}
}

@keyframes anim_button_red_off {

    from {color: var(--white);background: var(--red);}
    to {color: var(--dark-primary);background:  var(--white);}
}


.btn-custom-primary
{
    background: var(--second);
    color: var(--dark-primary);
    padding-left: 1em;
    padding-right: 3em;
}

.btn-custom-white
{
    background: var(--white);
    color: var(--dark-primary);
    padding-left: 1em;
    padding-right: 3em;
    transition-timing-function: ease-in;
    
}

.btn-anim-blue-out
{
    /* animation: anim_button_blue_off 500ms; */
}

.btn-anim-red-out
{
    /* animation: anim_button_red_off 500ms; */
}

.btn-anim-blue:hover
{
    /* animation: anim_button_blue 200ms;
    background: var(--blue);
    color: var(--white); */
}

.btn-anim-red:hover
{
    /* animation: anim_button_red 200ms;
    background: var(--red);
    color: var(--white); */
}

.btn-custom-primary::after, .btn-custom-white::after
{
    content: "";
    width: 35px;
    height: 35px;
    background: var(--primary);
    position: absolute;
    z-index: 0;
    border-radius: 0 0.375rem 0.375rem;
    top: 0px;
    right: 0px;

}

.btn-custom-primary > i, .btn-custom-white > i
{
    position: absolute;
    right: 0.6rem;
    top: 0.6rem;;
    color: var(--white);
    z-index: 1;
}

.btn-modal, .btn-toast
{
    background: var(--red);
    border: 1px solid transparent;
    border-radius: 0.375rem;
    color: var(--white);
}

.navbar-nav .nav-link.active::before
{
    content: "";
    
    width: 100%;
    height: 15px;
    background: linear-gradient(0deg, var(--skyblue), transparent);
    position: absolute;
    bottom: -13px;
    left: 0px;
}

.dataDetail{
    color: var(--white);
    margin: 0.75em;
}

.gradient-custom {
    /* fallback for old browsers */
    background: var(--primary);
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, var(--primary), var(--dark-primary));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, var(--primary), var(--dark-primary));
}

.bg-second-gradient
{
    /* background-color: rgba(var(--second),1)!important; */
    background: linear-gradient(to bottom, var(--primary), var(--second));
}

.bg-second
{
    /* background-color: rgba(var(--second),1)!important; */
    background: var(--second);
}

.text-primary
{
    color: var(--primary) !important;
}


.form-primary input
{
    border: 1px solid var(--primary) !important;
}

.form-floating>i.fa
{
    position: absolute;
    right: 20px;
    top: 20px;
    transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}

.form-floating>.form-control:focus~i.fa
{
    opacity: .65;
    transform: scale(.85) translateY(-.5rem) translateX(.15rem);
}

.title-menu
{
    color: var(--primary) !important;
    /* margin: 0 1em; */
    padding: 1em 1.5em;
    width: 100%;
    font-weight: 500;
    background: var(--skyblue);
    border-radius: 0.375rem 0.375rem 0 0;
    position: relative;
}

.nav-menu
{
    width: auto;
}

.nav-menu li
{
    width: auto;
    margin: 0.5em 1em;
    border-bottom: 1px solid var(--primary);
}

.nav-menu li i
{
    margin-right: 0.5em;
}

.panel-search
{
    position: absolute;
    z-index: 1;
}


input.inp-login, input.inp-login:active,
input.inp-login:focus
{
    background: var(--second);
    color: var(--white);
    border: none;
}

input.inp-border-second, input.inp-border-second:active,
input.inp-border-second:focus, select.inp-border-second
{
    background: transparent;
    color: var(--primary);
    border: 2px solid var(--second);
    outline: none !important;
    box-shadow: none !important;
}

.form-switch-custom
{
    padding-left: 0;
}

.form-switch-custom .form-check-input
{
    width: 4em;
    height: 1.4em;
    margin-left: 0.5em;
    border-radius: 2em;
    transition: background-position .15s ease-in-out;
    float: unset;
    position: relative;
    cursor: pointer;
}

.form-switch-custom .form-check-input::after
{
    content: "No";
    width: 25px;
    height: 20px;
    background: var(--second);
    color: var(--primary);
    position: absolute;
    font-size: 11px;
    border-radius: 2em;
    padding: 2px 5px;
    left: 0px;
    transition: left .15s ease-in-out;
}

.form-switch-custom .form-check-input:checked::after
{
    content: "Yes";
    width: 30px;
    height: 20px;
    background: var(--white);
    color: var(--primary);
    position: absolute;
    font-size: 11px;
    border-radius: 2em;
    padding: 2px 5px;
    left: 32px;
}

 .form-switch-custom .form-check-input:checked
{
    background-position:right center;
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e")
} 

.inp-icon{
    background: var(--second);
    color: var(--link);
    border-radius: 0.375rem 0px 0px 0.375rem;
}

.list-group-item
{
    color: var(--link);
    background-color: var(--second);
}

.list-group-item:hover, .list-group-item:active
{
    /* color: var(--primary); */
    background-color:var(--dark-second);
}



.infobox
{
    background: var(--second);
    border-radius: 0.375rem;
    position: relative;
    bottom: 50px;
    width: 400px;
    left: calc(3% - 200px);
}

.infobox::before
{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    bottom: -15px;
    border-bottom: 30px solid var(--second);
    border-left: 30px solid transparent;
    left: calc(50% - 15px);
}

.search-list
{
    max-height: 85vh;
    overflow-y: auto;
    direction: rtl;
}

/* width */
.search-list::-webkit-scrollbar {
width: 15px;
}

/* Track */
.search-list::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 1em;
background: #2d283185;
}

/* Handle */
.search-list::-webkit-scrollbar-thumb {
background: var(--link); 
border-radius: 1em;
}

/* Handle on hover */
.search-list::-webkit-scrollbar-thumb:hover {
background: var(--link); 
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
    direction: ltr;
  }
  
  .list-group.list-group-root .list-group {
    margin-bottom: 0;
  }
  
  .list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
  }
  
  .list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
  }
  
  .list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
  }
  
  .list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
  }


  /** START Data Tables Style START **/
  #datatable, #datatable1, #datatable2, #datatable3,
  .dataTables_length label, 
  .dataTables_length select,
  .dataTables_filter label,
  .dataTables_filter label input,
  .dataTables_info,
  .dataTables_paginate,
  .dataTables_paginate a
  { color: var(--white) !important;}

  .dataTables_filter label input
  {
      border-radius: 0.375rem !important;
  }


  /** END Data Tables Style END **/

  /** START Device Info START */
  .device-info
  {
      color: var(--white);
  }

  .dvc-menu label
  {
      color: var(--skyblue);
  }

  
    .temp-panel  button
    {
        background: var(--skyblue);
        color: var(--white);
        border: none;
        outline: none;
        border-bottom: 8px solid var(--second);
        
    }

    .temp-panel button:hover 
{
    background: var(--second);
    border-bottom: 8px solid var(--second);
}

.temp-panel button:active
{
    background: var(--second);
    border-bottom: none;
}

.temp-panel h2
{
    color: var(--link);
}


.dev-detail-panel
{
    background: var(--primary);
    color: var(--second);
}

.recti-detail
{
    background: var(--second);
    color: var(--white);
    border-radius: 00.375rem;
    font-weight: 600;
    position: relative;
    z-index: 1;
}

.recti-handler
{
    max-height: 600px;
    background: var(--primary);
    border-radius: 00.375rem;
    overflow: hidden;
}

.recti-diagram
{
    height: 600px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    cursor: grabbing;
}

.recti-diagram div
{
    position: absolute;
    /* transition: zoom 2s; */
}


.temp-panel
{
    width: 250px;
    height: 100px;
    top: -150px;
    left: -700px;
}

.input-panel, .info-device-panel, .load-panel, .battery-panel, .icon-load-panel, .icon-battery-panel
{
    background: var(--second);
    color: var(--white);
}

.input-panel
{
    width: 250px;
    height: 180px;
    top: -5px;
    left: -700px;
    border-radius: 0.375rem;
}

.input-panel::before
{
    content: "";
    width: 100px;
    height: 5px;
    position: absolute;
    background: #328cc1;
    right: -90px;
    top: 5em;
    z-index: -1;
}

.info-device-panel
{
    width: 400px;
    height: 600px;
    top: -200px;
    left: -365px;
    border-radius: 0.375rem;
}

.load-panel
{
    width: 250px;
    height: 180px;
    top: -150px;
    left: 100px;
    border-radius: 0.375rem;
}

.load-panel::after
{
    content: "";
    width: 100px;
    height: 5px;
    position: absolute;
    background: #328cc1;
    right: -90px;
    top: 6em;
    z-index: -1;
}

.load-panel::before
{
    content: "";
    width: 100px;
    height: 5px;
    position: absolute;
    background: #328cc1;
    left: -90px;
    top: 6em;
    z-index: -1;
}

.battery-panel
{
    width: 250px;
    height: 180px;
    top: 90px;
    left: 100px;
    border-radius: 0.375rem;
}

.battery-panel::after
{
    content: "";
    width: 100px;
    height: 5px;
    position: absolute;
    background: #328cc1;
    right: -90px;
    top: 6em;
    z-index: -1;
}

.battery-panel::before
{
    content: "";
    width: 100px;
    height: 5px;
    position: absolute;
    background: #328cc1;
    left: -90px;
    top: 6em;
    z-index: -1;
}

.icon-load-panel
{
    width: 145px;
    height: 130px;
    top: -115px;
    left: 400px;
    border-radius: 0.375rem;
}

.icon-battery-panel
{
    width: 145px;
    height: 130px;
    top: 120px;
    left: 400px;
    border-radius: 0.375rem;
}

.temp-panel div, .input-panel div, .info-device-panel div, .load-panel div, .battery-panel div
{
    position: relative;
}

.input-panel .btn-sett-inp, .info-device-panel .btn-sett-inp, .load-panel .btn-sett-inp, .battery-panel .btn-sett-inp
{
    border: 1px solid var(--darkest-second);
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 0.375rem;
    border-bottom: 3px solid;
}

.btn-sett-inp
{
    max-width: 40px;
}

.list-info-device
{
    border: none;
}

.list-info-device .list-group-item
{
    border: none;
    padding-left: 60px;
    position: relative;
}

.list-info-device .list-group-item::before
{
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    left: 15px;
    background: var(--orb-color);
    border-radius: 100px;
    box-shadow: var(--orb-color) 0px 0px 7px;
}

.list-info-device .list-group-item.act::before
{
    background: var(--green);
}

.btn-temp-panel
{
    border-radius: 0.375rem 0 0 0.375rem;
}

.btn-sett-temp-panel
{
    border-radius: 0 0.375rem 0.375rem 0;
}



  .color-picker {
    -webkit-appearance: none;
    padding: 0;
    border: none;
    border-radius: 10px;
    width: 20px;
    height: 30px;
    margin-top: 3px;
  }
  .color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 10px;
    padding: 0;
  }
  .color-picker::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 10px;
    padding: 0;
  }
  /** END Device Info END*/

  /** START Toast START */
  .toast
  {
    position:absolute;
    right: 1.375rem;
    bottom: 1.375rem;
    z-index: 10;
  }

  .toast .toast-header
  {
    background: var(--skyblue);
    color: var(--white);
  }

  .btn-toast
  {
      position: absolute;
      right: 10px;
  }

  /** END Toast END */

  /** START Modal Log START */
  .modal-curr-status .rounded-div
  {
    background: #e4e4e4;
    padding: 1em;
    border-radius: 0.375rem;
    margin-right: 0.7em;
  }

  /** END Modal Log END */

  /** START Custom Select Option Start */
  .custom-select-opt
  {
    margin-top: 0.3rem;
    position: relative;
  }

  .custom-select-opt-cover
  {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: none;
  }

  .custom-select-opt .val-show
  {
    border: 1px solid darkgray;
    padding: 0.5rem;
    padding-right: 2em;
    border-radius: 0.375rem;
    position: relative;
    cursor: pointer;
  }

  .custom-select-opt .val-show::after
  {
      font-family: 'Font Awesome 6 Free';
      content: "\f0d7";
      position: absolute;
      right: 0.7rem;
  }

  .custom-select-opt .select-opt
  {
    position: absolute;
    z-index: 10;
    top: 2.3em;
    display: none;
  }

  .custom-select-opt .select-opt .list-group-item
  {
      background: var(--white);
      color: var(--dark-primary);
      cursor: pointer;
  }

  .custom-select-opt .select-opt .list-group-item:hover
  {
    background: #dadada;
    font-weight: 500;
  }

  .custom-select-opt .select-opt .parent-drp
  {
    padding-top: 1.3em;
    padding-bottom: 1em;
  }

  .parent-drp #date
  {
    padding: 0.5em 0.7em;
    border-radius: 0.375rem;
    border: 1px solid #a8a8a8;
  }


  
  .daterangepicker
  {
      top: 6em !important;
      width: 34em;
  }

  /** END Custom Select Option END */

  /** START Dropdown */

  .dropdown-search
  {
    margin: 0em 0.5em;
    border-radius: 0.375rem;
    border: 1px solid grey;
    padding: 0.5em 0.7em;
    outline: none;
  }

  .dd-result-section
  {
    border-top: 1px solid black;
    margin-top: 0.5rem;
  }

  .dd-result-section .dropdown-submenu
  {
    background: var(--white);
    margin: 0.3em 0.5em;
    border-radius: 0.375rem;
  }

  .dd-result-section .dropdown-submenu span{
    font-size: 11px;
    position: relative;
    top: -7px;
    left: 1.5em;
  }

  /** END Dropdown */