/* body{
	margin: 0;
	padding: 0;
	background-color: #0e6cc4;
	overflow-x:hidden;
	overflow-y:hidden;
} */

/*waves****************************/

/* 
.box {
	position: fixed;
	top: 0;
	transform: rotate(80deg);
	left: 0;
}

.wave {
	position: fixed;
	top: 0;
	left: 0;
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 10%;
  background: #0af;
  width: 1500px;
  height: 1300px;
  margin-left: -150px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 7000ms infinite linear;
}

.wave.-three {
  animation: drift 7500ms infinite linear;
	position: fixed;
	background-color: #77daff;
}

.wave.-two {
  animation: drift 3000ms infinite linear;
  opacity: .1;
  background: black;
	position: fixed;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
} */

/*LOADING SPACE*/
/* 
.contain {
	animation-delay: 4s;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background: #25a7d7;
  background: -webkit-linear-gradient(#25a7d7, #2962FF);
  background: linear-gradient(#25a7d7, #25a7d7);
}

.icon {
  width: 100px;
  height: 100px;
  margin: 0 5px;
} */

/*Animation*/

/*
.icon:nth-child(2) img {-webkit-animation-delay: 0.2s;animation-delay: 0.2s}
.icon:nth-child(3) img {-webkit-animation-delay: 0.3s;animation-delay: 0.3s}
.icon:nth-child(4) img {-webkit-animation-delay: 0.4s;animation-delay: 0.4s}

.icon img {
  -webkit-animation: anim 2s ease infinite;
  animation: anim 2s ease infinite;
  -webkit-transform: scale(0,0) rotateZ(180deg);
  transform: scale(0,0) rotateZ(180deg);
}

@-webkit-keyframes anim{
  0% {
    -webkit-transform: scale(0,0) rotateZ(-90deg);
    transform: scale(0,0) rotateZ(-90deg);opacity:0
  }
  30% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  50% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  80% {
    -webkit-transform: scale(0,0) rotateZ(90deg);
    transform: scale(0,0) rotateZ(90deg);opacity:0
  }
}

@keyframes anim{
  0% {
    -webkit-transform: scale(0,0) rotateZ(-90deg);
    transform: scale(0,0) rotateZ(-90deg);opacity:0
  }
  30% {
    -webkit-transform: scale(1,1) rotateZ(0deg);transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  50% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  80% {
    -webkit-transform: scale(0,0) rotateZ(90deg);
    transform: scale(0,0) rotateZ(90deg);opacity:0
  }
} */

.anim-stars {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
  position: absolute;
}

.stars {
  position: fixed;
  top: -95%;
  left: 0%;
  width: 200%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: wheat;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 4);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.95em;
  --top-offset: 94.85vh;
  --fall-duration: 7.757s;
  --fall-delay: 3.746s;
}
.star:nth-child(2) {
  --star-tail-length: 6.17em;
  --top-offset: 17.39vh;
  --fall-duration: 9.192s;
  --fall-delay: 3.394s;
}
.star:nth-child(3) {
  --star-tail-length: 5.11em;
  --top-offset: 55.72vh;
  --fall-duration: 7.566s;
  --fall-delay: 4.42s;
}
.star:nth-child(4) {
  --star-tail-length: 7.47em;
  --top-offset: 90.92vh;
  --fall-duration: 10.414s;
  --fall-delay: 6.368s;
}
.star:nth-child(5) {
  --star-tail-length: 6.54em;
  --top-offset: 93.54vh;
  --fall-duration: 6.423s;
  --fall-delay: 4.734s;
}
.star:nth-child(6) {
  --star-tail-length: 7.43em;
  --top-offset: 74.49vh;
  --fall-duration: 11.437s;
  --fall-delay: 0.371s;
}
.star:nth-child(7) {
  --star-tail-length: 5.6em;
  --top-offset: 43.26vh;
  --fall-duration: 11.953s;
  --fall-delay: 3.835s;
}
.star:nth-child(8) {
  --star-tail-length: 6.02em;
  --top-offset: 10.38vh;
  --fall-duration: 10.367s;
  --fall-delay: 3.804s;
}
.star:nth-child(9) {
  --star-tail-length: 6.26em;
  --top-offset: 56.21vh;
  --fall-duration: 6.741s;
  --fall-delay: 1.634s;
}
.star:nth-child(10) {
  --star-tail-length: 5.27em;
  --top-offset: 72.18vh;
  --fall-duration: 11.804s;
  --fall-delay: 7.311s;
}
.star:nth-child(11) {
  --star-tail-length: 6.47em;
  --top-offset: 10.83vh;
  --fall-duration: 10.765s;
  --fall-delay: 7.059s;
}
.star:nth-child(12) {
  --star-tail-length: 6.3em;
  --top-offset: 19.36vh;
  --fall-duration: 9.117s;
  --fall-delay: 0.847s;
}
.star:nth-child(13) {
  --star-tail-length: 5.03em;
  --top-offset: 19.41vh;
  --fall-duration: 11.654s;
  --fall-delay: 6.021s;
}
.star:nth-child(14) {
  --star-tail-length: 7.37em;
  --top-offset: 82.46vh;
  --fall-duration: 7.699s;
  --fall-delay: 0.25s;
}
.star:nth-child(15) {
  --star-tail-length: 6.79em;
  --top-offset: 87.43vh;
  --fall-duration: 8.391s;
  --fall-delay: 1.097s;
}
.star:nth-child(16) {
  --star-tail-length: 6.89em;
  --top-offset: 64.62vh;
  --fall-duration: 8.319s;
  --fall-delay: 3.032s;
}
.star:nth-child(17) {
  --star-tail-length: 5.66em;
  --top-offset: 64.48vh;
  --fall-duration: 8.448s;
  --fall-delay: 1.165s;
}
.star:nth-child(18) {
  --star-tail-length: 7.04em;
  --top-offset: 51.01vh;
  --fall-duration: 11.637s;
  --fall-delay: 7.696s;
}
.star:nth-child(19) {
  --star-tail-length: 5.33em;
  --top-offset: 62.56vh;
  --fall-duration: 6.527s;
  --fall-delay: 1.821s;
}
.star:nth-child(20) {
  --star-tail-length: 6.12em;
  --top-offset: 79.62vh;
  --fall-duration: 6.64s;
  --fall-delay: 4.545s;
}
.star:nth-child(21) {
  --star-tail-length: 5.29em;
  --top-offset: 50.07vh;
  --fall-duration: 11.441s;
  --fall-delay: 5.968s;
}
.star:nth-child(22) {
  --star-tail-length: 5.43em;
  --top-offset: 3.69vh;
  --fall-duration: 9.945s;
  --fall-delay: 3.562s;
}
.star:nth-child(23) {
  --star-tail-length: 7.22em;
  --top-offset: 90.18vh;
  --fall-duration: 10.746s;
  --fall-delay: 9.698s;
}
.star:nth-child(24) {
  --star-tail-length: 7.38em;
  --top-offset: 89.57vh;
  --fall-duration: 7.274s;
  --fall-delay: 4.862s;
}
.star:nth-child(25) {
  --star-tail-length: 5.3em;
  --top-offset: 33.77vh;
  --fall-duration: 8.577s;
  --fall-delay: 7.522s;
}
.star:nth-child(26) {
  --star-tail-length: 6.57em;
  --top-offset: 69.82vh;
  --fall-duration: 9.05s;
  --fall-delay: 3.057s;
}
.star:nth-child(27) {
  --star-tail-length: 6.27em;
  --top-offset: 60.39vh;
  --fall-duration: 11.462s;
  --fall-delay: 2.057s;
}
.star:nth-child(28) {
  --star-tail-length: 6.7em;
  --top-offset: 55.54vh;
  --fall-duration: 7.664s;
  --fall-delay: 1.952s;
}
.star:nth-child(29) {
  --star-tail-length: 6.53em;
  --top-offset: 73.47vh;
  --fall-duration: 7.283s;
  --fall-delay: 3.482s;
}
.star:nth-child(30) {
  --star-tail-length: 6.9em;
  --top-offset: 24.61vh;
  --fall-duration: 11.103s;
  --fall-delay: 3.264s;
}
.star:nth-child(31) {
  --star-tail-length: 5.1em;
  --top-offset: 97.1vh;
  --fall-duration: 9.072s;
  --fall-delay: 7.42s;
}
.star:nth-child(32) {
  --star-tail-length: 7.19em;
  --top-offset: 15.07vh;
  --fall-duration: 10.26s;
  --fall-delay: 2.528s;
}
.star:nth-child(33) {
  --star-tail-length: 5.11em;
  --top-offset: 7.21vh;
  --fall-duration: 9.079s;
  --fall-delay: 9.492s;
}
.star:nth-child(34) {
  --star-tail-length: 5.95em;
  --top-offset: 19.07vh;
  --fall-duration: 9.2s;
  --fall-delay: 6.912s;
}
.star:nth-child(35) {
  --star-tail-length: 6.99em;
  --top-offset: 91.04vh;
  --fall-duration: 6.938s;
  --fall-delay: 6.894s;
}
.star:nth-child(36) {
  --star-tail-length: 5.79em;
  --top-offset: 17.75vh;
  --fall-duration: 8.235s;
  --fall-delay: 0.698s;
}
.star:nth-child(37) {
  --star-tail-length: 7.49em;
  --top-offset: 63.4vh;
  --fall-duration: 6.158s;
  --fall-delay: 7.537s;
}
.star:nth-child(38) {
  --star-tail-length: 6.46em;
  --top-offset: 48.79vh;
  --fall-duration: 10.87s;
  --fall-delay: 5.126s;
}
.star:nth-child(39) {
  --star-tail-length: 5em;
  --top-offset: 52.75vh;
  --fall-duration: 10.71s;
  --fall-delay: 1.451s;
}
.star:nth-child(40) {
  --star-tail-length: 7.14em;
  --top-offset: 44.47vh;
  --fall-duration: 9.759s;
  --fall-delay: 3.623s;
}
.star:nth-child(41) {
  --star-tail-length: 5.78em;
  --top-offset: 3.5vh;
  --fall-duration: 9.355s;
  --fall-delay: 9.991s;
}
.star:nth-child(42) {
  --star-tail-length: 7.01em;
  --top-offset: 3.27vh;
  --fall-duration: 10.338s;
  --fall-delay: 6.989s;
}
.star:nth-child(43) {
  --star-tail-length: 5.24em;
  --top-offset: 66.71vh;
  --fall-duration: 10.264s;
  --fall-delay: 7.801s;
}
.star:nth-child(44) {
  --star-tail-length: 7.45em;
  --top-offset: 87vh;
  --fall-duration: 9.616s;
  --fall-delay: 5.151s;
}
.star:nth-child(45) {
  --star-tail-length: 5.02em;
  --top-offset: 90.92vh;
  --fall-duration: 9.33s;
  --fall-delay: 1.165s;
}
.star:nth-child(46) {
  --star-tail-length: 6.6em;
  --top-offset: 88.9vh;
  --fall-duration: 9.962s;
  --fall-delay: 3.558s;
}
.star:nth-child(47) {
  --star-tail-length: 5.63em;
  --top-offset: 37.1vh;
  --fall-duration: 9.58s;
  --fall-delay: 9.294s;
}
.star:nth-child(48) {
  --star-tail-length: 6.08em;
  --top-offset: 95.95vh;
  --fall-duration: 10.819s;
  --fall-delay: 5.884s;
}
.star:nth-child(49) {
  --star-tail-length: 5.15em;
  --top-offset: 69.17vh;
  --fall-duration: 6.784s;
  --fall-delay: 9.027s;
}
.star:nth-child(50) {
  --star-tail-length: 7.37em;
  --top-offset: 93.66vh;
  --fall-duration: 9.75s;
  --fall-delay: 6.19s;
}
.star:nth-child(51) {
  --star-tail-length: 7.07em;
  --top-offset: 74.54vh;
  --fall-duration: 9.081s;
  --fall-delay: 6.645s;
}
.star:nth-child(52) {
  --star-tail-length: 7.09em;
  --top-offset: 62.85vh;
  --fall-duration: 8.454s;
  --fall-delay: 4.725s;
}
.star:nth-child(53) {
  --star-tail-length: 5.46em;
  --top-offset: 64.12vh;
  --fall-duration: 6.258s;
  --fall-delay: 7.969s;
}
.star:nth-child(54) {
  --star-tail-length: 5.37em;
  --top-offset: 2.52vh;
  --fall-duration: 8.588s;
  --fall-delay: 7.688s;
}
.star:nth-child(55) {
  --star-tail-length: 7.36em;
  --top-offset: 80.97vh;
  --fall-duration: 10.583s;
  --fall-delay: 1.556s;
}
.star:nth-child(56) {
  --star-tail-length: 7.16em;
  --top-offset: 34.88vh;
  --fall-duration: 7.329s;
  --fall-delay: 6.711s;
}
.star:nth-child(57) {
  --star-tail-length: 7.11em;
  --top-offset: 45.08vh;
  --fall-duration: 10.849s;
  --fall-delay: 0.882s;
}
.star:nth-child(58) {
  --star-tail-length: 6.56em;
  --top-offset: 96.89vh;
  --fall-duration: 8.704s;
  --fall-delay: 1.649s;
}
.star:nth-child(59) {
  --star-tail-length: 7.03em;
  --top-offset: 85.49vh;
  --fall-duration: 11.015s;
  --fall-delay: 5.117s;
}
.star:nth-child(60) {
  --star-tail-length: 5.02em;
  --top-offset: 57.38vh;
  --fall-duration: 11.602s;
  --fall-delay: 6.87s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-100em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}